@page "/blocks/ai-floating-menu-2"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-gray-50 dark:bg-gray-950">
        <div id="floating-contact" class="sm:pt-4 sm:pr-4" style="height: @(IsMobileView ? " 580px" : "620px" )">
            <div id="target" class="w-full">
                <div class="flex items-center justify-center pt-4">
                    <SfButton class="block sm:hidden e-primary e-round e-bigger" IconCss="sf-icon-message-chat-circle !text-xl" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="open contact us form" role="button"></SfButton>
                </div>
                <SfDialog @ref="Dialog" cssClass="sm:rounded-lg rounded-none overflow-hidden !border-0" Target="#target" Width="400px" Height="@(IsMobileView ? " 580px" : "510px" )" Visible="@IsDialogVisible" ShowCloseIcon="false" aria-label="contact us form" role="dialog">
                    <DialogTemplates>
                        <Header>
                            <div class="flex flex-col bg-primary-100 dark:bg-primary-800 pb-5 px-6 pt-4 relative">
                                <div class="flex justify-end block sm:hidden px-4 absolute right-0">
                                    <SfButton CssClass="e-flat e-round" IconCss="e-icons e-close !leading-5" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="close contact us form" role="button"></SfButton>
                                </div>
                                <span class="e-icons e-comment-show pt-3 text-xl text-gray-500 dark:text-gray-200 flex justify-center"></span>
                                <div class="text-center mt-3">
                                    <p class="text-sm font-medium text-gray-900 dark:text-white">Contact Us</p>
                                    <p class="text-xs text-gray-700 dark:text-gray-300 mt-1 font-normal">Reach out to us for any inquiry</p>
                                </div>
                            </div>
                        </Header>
                        <Content>
                            <div class="sm:px-6 px-4 pt-6 flex flex-col">
                                <SfTextBox CssClass="w-full" Type="InputType.Text" Placeholder="Name" FloatLabelType="FloatLabelType.Never" aria-label="enter the name" role="textbox"></SfTextBox>
                                <SfTextBox CssClass="w-full mt-4" Type="InputType.Text" Placeholder="Email" FloatLabelType="FloatLabelType.Never" aria-label="enter the email address" role="textbox"></SfTextBox>
                                <SfTextArea CssClass="mt-4" Placeholder="Your message" RowCount="5" ColumnCount="100" aria-label="enter the message" role="textbox"></SfTextArea>
                                <div class="w-full flex flex-col gap-1.5 mt-3">
                                    <SfUploader AllowMultiple="false" AllowedExtensions="pdf/*" MaxFileSize="2000000">
                                        <UploaderButtons Browse="Upload"></UploaderButtons>
                                        <UploaderEvents FileSelected="@(args => args.Cancel = true)"></UploaderEvents>
                                    </SfUploader>
                                    <p class="text-xs font-medium text-wrap line-clamp-1 text-gray-500 dark:text-gray-400 mt-2">Supported formats: Doc/Pdf</p>
                                </div>
                            </div>
                        </Content>
                        <FooterTemplate>
                            <div class="sm:px-6 px-4 py-6">
                                <SfButton class="w-full !ml-0" CssClass="e-primary" Type="submit" Content="Send" aria-label="send the message" role="button"></SfButton>
                            </div>
                        </FooterTemplate>
                    </DialogTemplates>
                    <DialogEvents Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                    <DialogPositionData X="right" Y="top"></DialogPositionData>
                </SfDialog>
                <SfFab class="!hidden sm:!block e-primary e-round e-bigger" IconCss="@(IsDialogVisible ? "e-icons e-close !text-2xl" : "sf-icon-message-chat-circle !text-2xl")" Position="FabPosition.BottomRight" Type="button" Target="#target" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="show/hide form" role="button"></SfFab>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div id="floating-contact" class="pt-sm-3 pe-sm-3" style="height:@(IsMobileView ? "580px" : "620px")">
            <div id="target" class="w-100">
                <div class="d-flex align-items-center justify-content-center pt-3">
                    <SfButton class="d-block d-sm-none e-primary e-round e-bigger" IconCss="sf-icon-message-chat-circle fs-5 lh-base" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="open contact us form" role="button"></SfButton>
                </div>
                <SfDialog @ref="Dialog" cssClass="rounded-3 overflow-hidden" Target="#target" Width="400px" Height="@(IsMobileView ? "580px" : "510px")" Visible="@IsDialogVisible" ShowCloseIcon="false" aria-label="contact us form" role="dialog">
                    <DialogTemplates>
                        <Header>
                            <div class="d-flex flex-column justify-content-between align-items-center bg-primary-subtle p-4">
                                <div class="d-flex justify-content-end d-block d-sm-none px-3 top-0 pt-3 position-absolute end-0">
                                    <SfButton CssClass="e-flat e-inherit e-round e-small" IconCss="e-icons e-close lh-sm" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="close contact us form" role="button"></SfButton>
                                </div>
                                <span class="e-icons e-comment-show fs-5 text-body-secondary"></span>
                                <div class="text-center mt-2 pt-1">
                                    <p class="small fw-medium lh-sm text-body m-0">Contact Us</p>
                                    <p class="small mt-1 mb-0 text-body-tertiary fw-normal">Reach out to us for any inquiry</p>
                                </div>
                            </div>
                        </Header>
                        <Content>
                            <div class="py-4 px-3 px-sm-4 pb-0 d-flex flex-column gap-3">
                                <SfTextBox CssClass="w-100" Type="InputType.Text" Placeholder="Name" FloatLabelType="FloatLabelType.Never" aria-label="enter the name" role="textbox"></SfTextBox>
                                <SfTextBox CssClass="w-100" Type="InputType.Text" Placeholder="Email" FloatLabelType="FloatLabelType.Never" aria-label="enter the email address" role="textbox"></SfTextBox>
                                <SfTextArea CssClass="w-100" Placeholder="Your message" Rows="5" Cols="100" aria-label="enter the message" role="textbox"></SfTextArea>
                                <div>
                                    <SfUploader AllowMultiple="false" AllowedExtensions="pdf/*" MaxFileSize="2000000">
                                        <UploaderButtons Browse="Upload"></UploaderButtons>
                                        <UploaderEvents FileSelected="@(args => args.Cancel = true)"></UploaderEvents>
                                    </SfUploader>
                                    <p class="small m-0 mt-1 text-body-secondary">Supported formats: Doc/Pdf</p>
                                </div>
                            </div>
                        </Content>
                        <FooterTemplate>
                            <div class="py-4 px-3 px-sm-4">
                                <SfButton class="w-100 m-0" CssClass="e-primary" Type="submit" Content="Send" aria-label="send the message" role="button"></SfButton>
                            </div>
                        </FooterTemplate>
                    </DialogTemplates>
                    <DialogEvents Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                    <DialogPositionData X="right" Y="top"></DialogPositionData>
                </SfDialog>
                <SfFab class="d-none d-sm-block e-primary e-round e-bigger" IconCss="@(IsDialogVisible ? "e-icons e-close fs-5 lh-base" : "sf-icon-message-chat-circle fs-5 lh-base")" Position="FabPosition.BottomRight" Type="button" Target="#target" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="show/hide form" role="button"></SfFab>
            </div>
        </div>
    </section>
}