@page "/blocks/distribution-chart-1"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900">
        <div class="h-screen flex justify-center p-4 sm:p-6">
            <div class="w-full" style="max-width: 500px;">
                <div class="flex justify-between items-start">
                    <div class="flex items-center gap-3 pl-6">
                        <span class="bg-orange-50 text-orange-700 dark:bg-orange-900 dark:text-orange-500 rounded-md flex justify-center items-center text-2xl sf-icon-money-bag w-12 h-12"></span>
                        <div class="flex flex-col gap-1">
                            <p class="text-base font-medium text-gray-900 dark:text-white">Daily Expense</p>
                            <p class="text-sm text-gray-500 dark:text-gray-400">Data for the last week</p>
                        </div>
                    </div>
                    <SfButton class="hidden sm:block e-outline" Content="View Report" Type="button" aria-label="view report" role="button"></SfButton>
                    <SfButton class="block sm:hidden" IconCss="e-icons e-description" Type="button" aria-label="view report" role="button"></SfButton>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mt-2">
                    <div class="relative">
                        <SfAccumulationChart Width="100%" Height="240px" EnableBorderOnMouseMove="false" Theme="@(CurrentTheme == "tailwind-dark" ? Theme.Tailwind3Dark : Theme.Tailwind3)">
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries Name='Project' Palettes="@(new[] { "#5A61F6", "#03B4B4", "#78B008", "#F39C12" })" DataSource='@DoughnutChartData' XName='XAxis' YName='YAxis' StartAngle="210" InnerRadius="65%" Radius="70%"></AccumulationChartSeries>
                            </AccumulationChartSeriesCollection>
                            <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                            <AccumulationChartAnnotations>
                                <AccumulationChartAnnotation Region="Regions.Series" X="50%" Y="50%">
                                    <ContentTemplate>
                                        <div class="flex items-center flex-col">
                                        <div class="dark:text-white font-medium" style="font-size:16px;text-align:center;">$8,295</div>
                                            <div class="flex top-1/2 left-1/2 text-green-700"><span class="e-icons e-arrow-up" style="font-size: 16px; padding-top: 1px;"></span><p class="text-sm font-medium pl-1">2.1%</p></div>
                                        </div>
                                    </ContentTemplate>
                                </AccumulationChartAnnotation>
                            </AccumulationChartAnnotations>
                        </SfAccumulationChart>
                    </div>
                    <div class="flex items-center">
                        <SfListView class="border-0" DataSource="@DoughnutChartData" aria-label="items in shopping cart" role="list">
                            <ListViewFieldSettings TValue="DoughnutData" Id="Id" Text="Header"></ListViewFieldSettings>
                            <ListViewTemplates TValue="DoughnutData">
                                <Template>
                                    <div class="flex items-center justify-between items-center">
                                        <div class="flex items-center gap-3">
                                            <div class="w-2 h-2 rounded-full" style=@($"background-color: {(new[] { "#5A61F6", "#03B4B4", "#78B008", "#F39C12" })[context.Id - 1]}; width: 8px; height: 8px;")></div>
                                            <span class="text-xs text-gray-700 dark:text-gray-300">@context.XAxis</span>
                                        </div>
                                        <span class="text-xs text-gray-500 dark:text-gray-400">@context.YAxis%</span>
                                    </div>
                                </Template>
                            </ListViewTemplates>
                        </SfListView>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="vh-100 d-flex justify-content-center p-4 p-sm-6">
            <div class="w-100" style="max-width: 500px;">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="d-flex align-items-center gap-3 ps-6">
                        <span class="text-warning-emphasis bg-warning-subtle border border-warning-subtle d-flex justify-content-center align-items-center lead sf-icon-money-bag border-warning" style="width: 48px; height: 48px;border-radius: 8px;"></span>
                        <div class="d-flex flex-column gap-1">
                            <span class="fs-6 fw-medium">Daily Expense</span>
                            <span class="small">Data for the last week</span>
                        </div>
                    </div>
                    <SfButton class="d-none d-sm-block e-outline" Content="View Report" Type="button" aria-label="view report" role="button"></SfButton>
                    <SfButton class="d-block d-sm-none e-outline" IconCss="e-icons e-description" Type="button" aria-label="view report" role="button"></SfButton>
                </div>
                <div class="row gap-10 mt-2">
                    <div class="relative col-12 col-sm-6">
                        <SfAccumulationChart Width="100%" Height="240px" EnableBorderOnMouseMove="false" Theme="@(CurrentTheme == "bootstrap5.3-dark" ? Theme.Bootstrap5Dark : Theme.Bootstrap5)">
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries Name='Project' Palettes="@(new[] { "#006EEF", "#00EFA7", "#0EAB44", "#FF9900" })" DataSource='@DoughnutChartData' XName='XAxis' YName='YAxis' StartAngle="210" InnerRadius="65%" Radius="70%"></AccumulationChartSeries>
                            </AccumulationChartSeriesCollection>
                            <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                            <AccumulationChartAnnotations>
                                <AccumulationChartAnnotation Region="Regions.Series" X="50%" Y="50%">
                                    <ContentTemplate>
                                        <div class="d-flex align-items-center flex-column">
                                            <div class="fw-medium" style="font-size:16px;text-align:center;">$8,295</div>
                                            <div class="d-flex top-1/2 left-1/2 text-success"><span class="e-icons e-arrow-up" style="font-size: 16px; padding-top: 1px;"></span><span class="fw-medium ps-1" style="font-size: 12px;">2.1%</span></div>
                                        </div>
                                    </ContentTemplate>
                                </AccumulationChartAnnotation>
                            </AccumulationChartAnnotations>
                        </SfAccumulationChart>
                    </div>
                    <div class="d-flex align-items-center col-12 col-sm-6">
                        <SfListView class="border-0" DataSource="@DoughnutChartData" aria-label="items in shopping cart" role="list">
                            <ListViewFieldSettings TValue="DoughnutData" Id="Id" Text="Header"></ListViewFieldSettings>
                            <ListViewTemplates TValue="DoughnutData">
                                <Template>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="rounded-pill" style=@($"background-color: {(new[] { "#5A61F6", "#03B4B4", "#78B008", "#F39C12" })[context.Id - 1]}; width: 8px; height: 8px;")></div>
                                            <span class="small text-body-secondary">@context.XAxis</span>
                                        </div>
                                        <span class="small text-body-secondary">@context.YAxis%</span>
                                    </div>
                                </Template>
                            </ListViewTemplates>
                        </SfListView>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
