@page "/blocks/list-4"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div class="flex items-center justify-center min-h-screen">
			<div class="lg:max-w-2xl w-full m-auto p-4 md:p-6 lg:py-8 lg:px-14">
				<SfListView CssClass="!border-0 e-list-template" DataSource="@Shoes" aria-label="items in shopping cart" role="list">
					<ListViewFieldSettings Id="Id" Text="Header" TValue="ShoeItem"></ListViewFieldSettings>
					<ListViewTemplates TValue="ShoeItem">
						<Template>
							@{
								<div class="e-list-wrapper !px-1 sm:!px-3 border-b border-gray-200 dark:border-gray-600 !py-4 flex flex-col">
									<span class="flex">
										<div class="shrink-0 bg-gray-50 dark:bg-gray-700 rounded">
											<img class="rounded-lg" src="assets/images/listview/carts/@context.Pic" width="80px" alt="product image" />
										</div>
										<span class="ml-4 flex flex-col">
											<span class="e-list-item-header text-sm font-medium text-gray-900 dark:text-white !text-wrap !line-clamp-1 w-full truncate">@context.Header</span>
											<p class="flex space-x-3 mt-1">
												<span class="text-xs text-gray-700 dark:text-gray-200">Size : @context.Size</span>
												<span class="text-xs text-gray-700 dark:text-gray-200">Color : @context.Color</span>
											</p>
											<span class="mt-0.5 text-xs text-gray-700 dark:text-gray-200">Seller : @context.Seller</span>
										</span>
										<div class="ml-auto text-end">
											<div class="text-gray-900 dark:text-white text-lg font-semibold">@context.Amount</div>
											@if (!string.IsNullOrEmpty(context.Badge))
											{
												<span class="e-badge e-badge-pill e-badge-success !px-1.5">@context.Badge</span>
											}
										</div>
									</span>
									<div class="flex items-center mt-4 sm:mt-0 ml-0 sm:ml-24">
										<div class="flex items-center">
											<span class="e-small">
												<SfButton CssClass="e-round mr-2 !text-sm" IconCss="e-icons e-plus" Type="button" aria-label="add another item to cart" role="button"></SfButton>
											</span>
											<SfTextBox class="text-center !pl-0 bg-transparent" CssClass="e-small" Value="1" aria-label="quantity of the product" role="textbox" style="width: 50px;"></SfTextBox>
											<span class="e-small">
												<SfButton CssClass="e-round ml-2 !text-sm" IconCss="e-icons e-intermediate-state" Type="button" aria-label="remove item from cart" role="button"></SfButton>
											</span>
										</div>
										<div class="flex items-center ml-4">
											<span class="e-small border-r border-gray-200 dark:border-gray-600 px-2">
												<SfButton CssClass="e-flat" IconCss="e-icons e-trash e-medium" Type="button" aria-label="delete the product" role="button"></SfButton>
											</span>
											<span class="e-small border-r border-gray-200 dark:border-gray-600 px-2">
												<SfButton CssClass="e-flat" IconCss="e-icons e-medium e-bookmark" Type="button" aria-label="bookmark this product" role="button"></SfButton>
											</span>
											<span class="e-small px-2">
												<SfButton CssClass="e-flat" IconCss="e-icons text-sm sf-icon-share-arrow-02" Type="button" aria-label="share this product details" role="button"></SfButton>
											</span>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div class="d-flex align-items-center justify-content-center min-vh-100">
			<div class="container-lg w-100 m-auto p-3 p-md-4" style="@WidthStyle">
				<SfListView CssClass="border-0 e-list-template" DataSource="@Shoes" aria-label="items in shopping cart" role="list">
					<ListViewFieldSettings Id="Id" Text="Header" TValue="ShoeItem"></ListViewFieldSettings>
					<ListViewTemplates TValue="ShoeItem">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line px-1 px-sm-3 py-3 d-flex flex-column">
									<span class="d-flex">
										<div class="flex-shrink-0 bg-body-tertiary rounded-1">
											<img class="rounded" src="assets/images/listview/carts/@context.Pic" width="80px" alt="product image" />
										</div>
										<span class="ms-2 ps-1 d-flex flex-column">
											<p class="e-list-item-header fw-medium mb-0 w-100 text-wrap overflow-hidden" style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">@context.Header</p>
											<p class="mt-1 mb-0">
												<span class="small pe-2 me-1">Size : @context.Size</span>
												<span class="small">Color : @context.Color</span>
											</p>
											<span class="mt-1 small">Seller : @context.Seller</span>
										</span>
										<div class="ms-auto text-end ps-2">
											<div class="fs-5 fw-bold">@context.Amount</div>
											@if (!string.IsNullOrEmpty(context.Badge))
											{
												<span class="e-badge e-badge-pill e-badge-success px-2">@context.Badge</span>
											}
										</div>
									</span>
									<div class="d-flex align-items-center mt-3 mt-sm-0 ms-0 ms-sm-5 ps-sm-5">
										<div class="d-flex align-items-center">
											<span class="e-small">
												<SfButton CssClass="e-round e-outline me-2" IconCss="e-icons e-plus" Type="button" aria-label="add another item to cart" role="button"></SfButton>
											</span>
											<SfTextBox class="ps-0 text-center border-0 bg-transparent" CssClass="e-small" value="1" aria-label="quantity of the product" role="textbox" style="width: 50px;"></SfTextBox>
											<span class="e-small">
												<SfButton CssClass="e-round e-outline ms-2" IconCss="e-icons e-intermediate-state-2" Type="button" aria-label="remove item from cart" role="button"></SfButton>
											</span>
										</div>
										<div class="d-flex align-items-center ms-4">
											<span class="border-end px-2">
												<SfButton CssClass="e-flat" IconCss="e-icons e-trash e-medium" Type="button" aria-label="delete this product" role="button"></SfButton>
											</span>
											<span class="border-end px-2">
												<SfButton CssClass="e-flat" IconCss="e-icons e-medium e-bookmark" Type="button" aria-label="bookmark this product" role="button"></SfButton>
											</span>
											<span class="px-2">
												<SfButton CssClass="e-flat" IconCss="e-icons small sf-icon-share-arrow-02" Type="button" aria-label="share this product details" role="button"></SfButton>
											</span>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
