@page "/blocks/list-7"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div class="flex items-center justify-center min-h-screen">
			<div class="max-w-none lg:max-w-2xl w-full m-auto p-2 md:py-8 lg:px-14">
				<SfListView CssClass="!border-0 e-list-template" DataSource="@Notifications" aria-label="list of notifications" role="list">
					<ListViewFieldSettings Id="Id" Text="Name" TValue="NotificationItem"></ListViewFieldSettings>
					<ListViewTemplates TValue="NotificationItem">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line border-b border-gray-200 dark:border-gray-600 !pt-5 !pb-6 !px-1 sm:!px-3">
									<div class="flex justify-between">
										<div class="flex items-center">
											@if (!string.IsNullOrEmpty(context.Letter))
											{
												<span class="e-avatar e-avatar-large shrink-0 !text-base @(context.Tag == "report" ? "bg-indigo-100 text-indigo-600" : context.Tag == "remainder" ? "bg-orange-100 text-orange-700" : "")">@context.Letter</span>
											}
											else
											{
												<span class="e-avatar e-avatar-large shrink-0">
													<img src="assets/images/common/avatar/@context.Image" alt="profile picture" />
												</span>
											}
											<span class="ml-3">
												<div class="flex">
													<span class="e-list-item-header !text-base !font-medium flex items-center !text-wrap">@context.Name</span>
													@if (!string.IsNullOrEmpty(context.Type))
													{
														<span class="pl-1 text-sm font-normal flex items-center text-gray-700 dark:text-gray-200">@context.Type</span>
													}
												</div>
												<span class="e-list-content !text-gray-700 dark:!text-gray-200 !pt-1">@context.Date</span>
											</span>
										</div>
										<div class="flex items-center">
											<SfButton CssClass="e-outline !py-1.5" IconCss="e-icons e-more-horizontal-1" Type="button" aria-label="more options" role="button"></SfButton>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div class="d-flex align-items-center justify-content-center min-vh-100">
			<div class="container-lg w-100 m-auto p-3 p-md-4" style="@WidthStyle">
				<SfListView CssClass="border-0 e-list-template" DataSource="@Notifications" aria-label="list of notifications" role="list">
					<ListViewFieldSettings Id="Id" Text="Name" TValue="NotificationItem"></ListViewFieldSettings>
					<ListViewTemplates TValue="NotificationItem">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line py-3 px-1 px-sm-3">
									<div class="d-flex justify-content-between">
										<div class="d-flex align-items-center">
											@if (!string.IsNullOrEmpty(context.Letter))
											{
												<span class="e-avatar e-avatar-large fw-normal fs-5 flex-shrink-0 @(context.Tag == "report" ? "bg-primary-subtle text-primary" : context.Tag == "remainder" ? "bg-warning-subtle text-warning-emphasis" : "")">@context.Letter</span>
											}
											else
											{
												<span class="e-avatar e-avatar-large flex-shrink-0">
													<img src="assets/images/common/avatar/@context.Image" alt="profile picture" />
												</span>
											}
											<span class="ms-3">
												<div class="d-flex">
													<span class="e-list-item-header fs-6 fw-medium d-flex align-items-center text-wrap">@context.Name</span>
													@if (!string.IsNullOrEmpty(context.Type))
													{
														<span class="ps-1 fw-normal d-flex align-items-center text-nowrap">@context.Type</span>
													}
												</div>
												<span class="e-list-content">@context.Date</span>
											</span>
										</div>
										<div class="d-flex align-items-center">
											<SfButton CssClass="e-outline" IconCss="e-icons e-more-horizontal-1" Type="button" aria-label="more options" role="button"></SfButton>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
