@page "/blocks/checkout-3"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-gray-50 dark:bg-gray-950">
		<h4 class="py-5 px-4 md:px-6 text-xl font-semibold text-gray-900 dark:text-white">Checkout</h4>
		<div class="grid grid-cols-1 gap-6 px-4 md:px-6 lg:px-6 xl:px-11 pb-10 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
			<div class="order-1 lg:order-2 bg-gray-50 dark:bg-gray-950 md:border rounded-lg md:border-gray-200 md:dark:border-gray-600">
				<h6 class="px-0 md:p-6 pb-0 text-lg font-semibold text-gray-900 dark:text-white">Product summary</h6>
				<div class="pt-4 sm:pt-0">
					<SfGrid DataSource="@Products" RowHeight="68" GridLines="GridLine.None" Width="100%" MaxWidth="1280" role="grid" Style="border: none !important;">
						<GridColumns>
							<GridColumn Field="Items" Width="56" TextAlign="TextAlign.Center">
								<Template>
									@{
										<div class="flex items-center justify-center">
											<img class="w-8 rounded-lg" src="assets/images/checkout/checkout-product-list/@((context as Product)?.Image)" alt="product image" />
										</div>
									}
								</Template>
							</GridColumn>
							<GridColumn Field="Description" Width="173" ClipMode="ClipMode.EllipsisWithTooltip">
							</GridColumn>
							<GridColumn Field="Quantity" Width="80" TextAlign="TextAlign.Center" ClipMode="ClipMode.EllipsisWithTooltip">
								<Template>
									@{
										<span>x@((context as Product)?.Quantity)</span>
									}
								</Template>
							</GridColumn>
							<GridColumn Field="Amount" Width="83" TextAlign="TextAlign.Center" Format="C0">
							</GridColumn>
						</GridColumns>
					</SfGrid>
				</div>
			</div>
			<div class="order-2 lg:order-1 md:border rounded-lg px-0 md:p-6 md:border-gray-200 md:dark:border-gray-600">
				<form action="#" onsubmit="event.preventDefault();">
					<div class="grid gap-5">
						<div class="grid grid-cols-1 gap-5 w-full">
							<h5 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Billing address</h5>
							<div class="e-bigger">
								<SfRadioButton Name="billingType" Label="Individual" Value="Individual" Checked="@SelectedBillingAddress" aria-label="individual" role="radio"></SfRadioButton>
								<SfRadioButton CssClass="ml-6" Name="billingType" Label="Company" Value="Company" Checked="@SelectedBillingAddress" aria-label="company" role="radio"></SfRadioButton>
							</div>
							<div class="w-full">
								<label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Saved address</label>
								<SfDropDownList CssClass="e-bigger" TItem="string" TValue="string" Placeholder="Saved address" aria-label="choose a saved address" role="listbox"></SfDropDownList>
							</div>
							<div class="flex flex-col justify-between gap-5 w-full md:flex-row">
								<div class="w-full md:w-1/2">
									<label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">First name</label>
									<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="First name" FloatLabelType="FloatLabelType.Never" aria-label="enter the first name" role="textbox"></SfTextBox>
								</div>
								<div class="w-full md:w-1/2">
									<label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Last name</label>
									<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="Last name" FloatLabelType="FloatLabelType.Never" aria-label="enter the last name" role="textbox"></SfTextBox>
								</div>
							</div>
						</div>
						<div class="grid grid-cols-1 gap-5 w-full">
							<div class="w-full">
								<label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Phone number</label>
								<div class="flex space-x-2">
									<div class="w-2/5 sm:w-1/5 md:w-1/5 lg:1/5 xl:w-1/5">
										<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="+1" aria-label="choose a country code" role="listbox"></SfDropDownList>
									</div>
									<div class="w-3/5 sm:w-4/5 md:w-4/5 lg:w-4/5 xl:w-4/5">
										<SfMaskedTextBox CssClass="e-bigger" Mask="9999999999" Placeholder="432 432 4321" PromptChar="' '" aria-label="enter your mobile number" role="textbox"></SfMaskedTextBox>
									</div>
								</div>
							</div>
						</div>
						<div class="grid grid-cols-1">
							<label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Shipping address</label>
							<div class="w-full" style="height: 52px;">
							    <SfTextArea CssClass="e-bigger" Placeholder="Shipping address" ResizeMode="Resize.Vertical" Width="100%" aria-label="enter the shipping address" role="textbox"></SfTextArea>
							</div>
						</div>
						<div class="grid grid-cols-1 gap-5 md:grid-cols-2 w-full">
							<div>
								<label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Country</label>
								<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="Country" aria-label="choose a country" role="listbox"></SfDropDownList>
							</div>
							<div>
								<label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">City</label>
								<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="City" aria-label="choose a city" role="listbox"></SfDropDownList>
							</div>
						</div>
						<div class="e-bigger">
							<SfCheckBox TChecked="Boolean" Label="Save the data in the address list" aria-label="save the data in the address list" role="checkbox"></SfCheckBox>
						</div>
					</div>
				</form>
			</div>
			<div class="order-3 w-full">
				<div class="md:border rounded-lg px-0 md:p-6 md:border-gray-200 md:dark:border-gray-600">
					<div class="text-lg font-semibold text-gray-900 dark:text-white">Delivery address</div>
					<div class="flex flex-col gap-4 pt-4 e-bigger">
						<SfRadioButton Label="Delivery to the same address" Name="deliveryType" Value="Delivery to the same address" Checked="@SelectedDeliveryAddress" aria-label="delivery to the same address" role="radio"></SfRadioButton>
						<SfRadioButton Label="Delivery to another address" Name="deliveryType" Value="another address" Checked="@SelectedDeliveryAddress" aria-label="delivery to another address" role="radio"></SfRadioButton>
						<SfRadioButton Label="Store pickup" Name="deliveryType" Value="store pickup" Checked="@SelectedDeliveryAddress" aria-label="store pickup" role="radio"></SfRadioButton>
					</div>
				</div>
				<div class="md:border rounded-lg px-0 md:p-6 mt-6 md:border-gray-200 md:dark:border-gray-600">
					<div class="text-lg font-semibold text-gray-900 dark:text-white">Payment details</div>
					<div class="flex flex-col gap-4 pt-4 e-bigger">
						<SfRadioButton Label="Debit card" Name="paymentdetails" Value="Debit card" Checked="@SelectedPaymentMethod" aria-label="debit card" role="radio"></SfRadioButton>
						<SfRadioButton Label="Credit card" Name="paymentdetails" Checked="@SelectedPaymentMethod" Value="payments" aria-label="credit card" role="radio"></SfRadioButton>
						<SfRadioButton Label="Net banking" Name="paymentdetails" Checked="@SelectedPaymentMethod" Value="banking" aria-label="net banking" role="radio"></SfRadioButton>
						<SfRadioButton Label="UPI transaction" Name="paymentdetails" Checked="@SelectedPaymentMethod" Value="UPI transaction" aria-label="UPI transaction" role="radio"></SfRadioButton>
					</div>
				</div>
			</div>
			<div class="order-4 rounded-lg px-0 md:p-6 md:border md:border-gray-200 md:dark:border-gray-600">
				<div class="w-full">
					<h6 class="pb-4 text-lg text-left font-semibold text-gray-900 dark:text-white">Order summary</h6>
					<div class="grid grid-cols-1 gap-6">
						<div class="grid grid-cols-1 gap-6">
							<div class="flex justify-between">
								<div class="text-base text-gray-700 dark:text-gray-300">Subtotal</div>
								<div class="text-base font-semibold text-gray-900 dark:text-white">$8,900.00</div>
							</div>
							<div class="flex justify-between">
								<div class="text-base text-gray-700 dark:text-gray-300">Savings</div>
								<div class="text-base font-semibold text-green-700 dark:text-green-500">-$299.00</div>
							</div>
							<div class="flex justify-between">
								<div class="text-base text-gray-700 dark:text-gray-300">Store pickup</div>
								<div class="text-base font-semibold text-gray-900 dark:text-white">$99.00</div>
							</div>
							<div class="flex justify-between">
								<div class="text-base text-gray-700 dark:text-gray-300">Tax</div>
								<div class="text-base font-semibold text-gray-900 dark:text-white">$899.00</div>
							</div>
						</div>
						<div>
							<hr class="w-full border-gray-200 dark:border-gray-600" />
						</div>
						<div class="flex justify-between">
							<div class="text-base font-semibold text-gray-700 dark:text-gray-300">Total</div>
							<div class="text-base font-semibold text-gray-900 dark:text-white">$9,599.00</div>
						</div>
					</div>
					<div class="flex flex-col md:flex-row items-center justify-center pt-8 gap-4 sm:gap-4 md:gap-0 lg:gap-0 xl:gap-0">
						<div class="w-full md:w-1/2 md:pr-3">
							<SfButton CssClass="w-full text-base e-primary" Content="Proceed to payment" Type="submit" aria-label="proceed to payment" role="button"></SfButton>
						</div>
						<div class="w-full md:w-1/2 md:pl-3">
							<SfButton CssClass="w-full text-base e-outline" Content="Return to shopping" Type="submit" aria-label="return to shopping" role="button"></SfButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div class="p-3 p-md-4">
			<h1 class="py-2 fs-4 fw-bold text-body">Checkout</h1>
			<div class="d-lg-flex mx-0 gap-4 mb-sm-4 pe-lg-4">
				<div class="col-md-12 col-lg-6 order-lg-2 bg-body border border-light-subtle rounded px-0">
					<h6 class="fs-5 fw-medium text-body pb-2 p-4 mb-0">Product summary</h6>
					<div class="pt-3">
						<SfGrid DataSource="@Products" RowHeight="68" GridLines="GridLine.None" Width="100%" MaxWidth="1280" role="grid" Style="border: none !important;">
							<GridColumns>
								<GridColumn Field="Items" Width="56" TextAlign="TextAlign.Center">
									<Template>
										@{
											<div class="d-flex align-items-center justify-content-center">
												<img class="rounded-3 ms-1" width="32" src="assets/images/checkout/checkout-product-list/@((context as Product)?.Image)" alt="product image" />
											</div>
										}
									</Template>
								</GridColumn>
								<GridColumn Field="Description" Width="173" ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
								<GridColumn Field="Quantity" Width="80" ClipMode="ClipMode.EllipsisWithTooltip" TextAlign="TextAlign.Center">
									<Template>
										@{
											<span>x@((context as Product)?.Quantity)</span>
										}
									</Template>
								</GridColumn>
								<GridColumn Field="Amount" Width="83" TextAlign="TextAlign.Center" Format="C0">
								</GridColumn>
							</GridColumns>
						</SfGrid>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 order-lg-1 border border-light-subtle rounded p-3 p-md-4 mt-4 mt-lg-0">
					<form action="#" onsubmit="event.preventDefault();">
						<div class="mb-3">
							<h5 class="mb-3 fs-5 fw-medium text-body">Billing address</h5>
							<div class="mb-3 e-bigger">
								<SfRadioButton Name="billingType" Label="Individual" Value="Individual" Checked="@SelectedBillingAddress" aria-label="individual" role="radio"></SfRadioButton>
								<SfRadioButton CssClass="ms-3" Name="billingType" Label="Company" Value="Company" Checked="@SelectedBillingAddress" aria-label="company" role="radio"></SfRadioButton>
							</div>
							<div class="mb-3">
								<label class="fs-6 fw-medium text-dark-emphasis mb-1">Saved address</label>
								<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="Saved address" aria-label="choose a saved address" role="listbox"></SfDropDownList>
							</div>
							<div class="row g-3">
								<div class="col-md-6 pe-lg-2">
									<label class="fs-6 fw-medium text-dark-emphasis mb-1">First name</label>
									<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="First name" FloatLabelType="FloatLabelType.Never" aria-label="enter the first name" role="textbox"></SfTextBox>
								</div>
								<div class="col-md-6 ps-lg-2">
									<label class="fs-6 fw-medium text-dark-emphasis mb-1">Last name</label>
									<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="Last name" FloatLabelType="FloatLabelType.Never" aria-label="enter the last name" role="textbox"></SfTextBox>
								</div>
							</div>
						</div>
						<div class="mb-3">
							<label class="fs-6 fw-medium text-dark-emphasis mb-1">Phone number</label>
							<div class="row">
								<div class="col-4 col-sm-3 pe-0">
									<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="+1" aria-label="choose a country code" role="listbox"></SfDropDownList>
								</div>
								<div class="col-8 col-sm-9 ps-2">
									<SfMaskedTextBox CssClass="e-bigger" Mask="9999999999" Placeholder="432 432 4321" PromptChar="' '" aria-label="enter your mobile number" role="textbox"></SfMaskedTextBox>
								</div>
							</div>
						</div>
						<div class="mb-3">
							<label class="fs-6 fw-medium text-dark-emphasis d-block mb-1">Shipping address</label>
							<div class="w-100" style="height: 52px;">
							    <SfTextArea CssClass="e-bigger" Placeholder="Shipping address" ResizeMode="Resize.Vertical" FloatLabelType="FloatLabelType.Never" Width="100%" aria-label="enter the shipping address" role="textbox"></SfTextArea>
							</div>
						</div>
						<div class="row g-3 mb-3">
							<div class="col-12 col-md-6 pe-lg-2">
								<label class="fs-6 fw-medium text-dark-emphasis mb-1">Country</label>
								<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="Country" aria-label="choose a country" role="listbox"></SfDropDownList>
							</div>
							<div class="col-12 col-md-6 ps-lg-2">
								<label class="fs-6 fw-medium text-dark-emphasis mb-1">City</label>
								<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="City" aria-label="choose a city" role="listbox"></SfDropDownList>
							</div>
						</div>
						<div class="mb-3 e-bigger">
							<SfCheckBox TChecked="Boolean" Label="Save the data in the address list" aria-label="save the data in the address list" role="checkbox"></SfCheckBox>
						</div>
					</form>
				</div>
			</div>
			<div class="d-lg-flex gap-4 mt-4 mb-sm-4 pe-lg-4">
				<div class="col-md-12 col-lg-6 order-lg-3 px-0">
					<div class="col-lg-12 border border-light-subtle rounded p-3 p-md-4">
						<h6 class="fs-5 fw-medium text-body mb-0">Delivery address</h6>
						<div class="e-bigger d-flex flex-column gap-3 pt-3">
							<SfRadioButton Label="Delivery to the same address" Name="deliveryType" Value="Delivery to the same address" Checked="@SelectedDeliveryAddress" aria-label="delivery to the same address" role="radio"></SfRadioButton>
							<SfRadioButton Label="Delivery to another address" Name="deliveryType" Value="another address" Checked="@SelectedDeliveryAddress" aria-label="delivery to another address" role="radio"></SfRadioButton>
							<SfRadioButton Label="Store pickup" Name="deliveryType" Value="store pickup" Checked="@SelectedDeliveryAddress" aria-label="store pickup" role="radio"></SfRadioButton>
						</div>
					</div>
					<div class="col-lg-12 border border-light-subtle rounded p-3 p-md-4 mt-4">
						<h6 class="fs-5 fw-medium text-body mb-0">Payment details</h6>
						<div class="e-bigger d-flex flex-column gap-3 pt-3">
							<SfRadioButton Label="Debit card" Name="paymentdetails" Value="Debit card" Checked="@SelectedPaymentMethod" aria-label="debit card" role="radio"></SfRadioButton>
							<SfRadioButton Label="Credit card" Name="paymentdetails" Checked="@SelectedPaymentMethod" Value="payments" aria-label="credit card" role="radio"></SfRadioButton>
							<SfRadioButton Label="Net banking" Name="paymentdetails" Checked="@SelectedPaymentMethod" Value="banking" aria-label="net banking" role="radio"></SfRadioButton>
							<SfRadioButton Label="UPI transaction" Name="paymentdetails" Checked="@SelectedPaymentMethod" Value="UPI transaction" aria-label="UPI transaction" role="radio"></SfRadioButton>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 order-lg-4 border border-light-subtle rounded p-3 p-md-4 mt-4 mt-lg-0">
					<h6 class="fs-5 fw-medium text-body mb-0 pb-3">Order summary</h6>
					<div class="mb-3">
						<div class="d-flex justify-content-between pb-4">
							<div class="fs-6 text-dark-emphasis">Subtotal</div>
							<div class="fs-6 fw-medium text-body">$8,900.00</div>
						</div>
						<div class="d-flex justify-content-between pb-4">
							<div class="fs-6 text-dark-emphasis">Savings</div>
							<div class="fs-6 fw-medium text-success">-$299.00</div>
						</div>
						<div class="d-flex justify-content-between pb-4">
							<div class="fs-6 text-dark-emphasis">Store pickup</div>
							<div class="fs-6 fw-medium text-body">$99.00</div>
						</div>
						<div class="d-flex justify-content-between pb-2">
							<div class="fs-6 text-dark-emphasis">Tax</div>
							<div class="fs-6 fw-medium text-body">$899.00</div>
						</div>
					</div>
					<div>
						<hr class="border-secondary" />
					</div>
					<div class="d-flex justify-content-between mt-4">
						<div class="fs-6 fw-medium text-dark-emphasis">Total</div>
						<div class="fs-6 fw-medium text-body">$9,599.00</div>
					</div>
					<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pt-4">
						<SfButton CssClass="e-primary e-block mb-3 mb-md-0 me-md-3" Content="Proceed to payment" Type="submit" aria-label="proceed to payment" role="button"></SfButton>
						<SfButton CssClass="e-secondary e-block" Content="Return to shopping" Type="submit" aria-label="return to shopping" role="button"></SfButton>
					</div>
				</div>
			</div>
		</div>
	</section>
}

