@page "/blocks/Sidebar-10"
@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-950">
        <div class="flex relative" style="height: 600px;">
            <SfSidebar class="bg-gray-50 dark:bg-gray-900 !border-r !border-gray-200 dark:!border-gray-700" Width="72px" IsOpen="@IsSidebarOpen" ShowBackdrop="@IsBackdropVisible" Type="SidebarType.Push" aria-label="main navigation menu" role="complementary">
                <div class="pt-6">
                    <div class="flex justify-center items-center mb-3 px-3">
                        <img src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                    </div>
                    <SfListView class="border-0 e-bigger" DataSource="@Data" aria-label="quick navigation links" role="list">
                        <ListViewFieldSettings TValue="MenuItem"></ListViewFieldSettings>
                        <ListViewTemplates TValue="MenuItem">
                            <Template>
                                <div class="e-list-wrapper flex justify-center items-center">
                                    <span class="e-large e-icons @context.FontIcon"></span>
                                </div>
                            </Template>
                        </ListViewTemplates>
                    </SfListView>
                </div>
            </SfSidebar>
            <div class="p-3 bottom-0 left-0 absolute !right-full" style="z-index: 1000;">
                <SfButton CssClass="e-large e-icons e-chevron-left e-round" Type="button" aria-label="expand/collapse menu" role="button"></SfButton>
            </div>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-3 top-0 left-0 absolute">
        <SfButton CssClass="e-round e-large e-icons e-chevron-right" OnClick="@(() => IsSidebarOpen = !IsSidebarOpen)" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="d-flex position-relative" style="height: 600px;">
            <SfSidebar class="border-end border-light-subtle" Width="72px" IsOpen="@IsSidebarOpen" ShowBackdrop="@IsBackdropVisible" Type="SidebarType.Push" aria-label="main navigation menu" role="complementary">
                <div class="pt-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center px-3 mb-2">
                        <img src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                    </div>
                    <SfListView class="border-0 e-bigger" DataSource="@Data" aria-label="quick navigation links" role="list">
                        <ListViewFieldSettings TValue="MenuItem"></ListViewFieldSettings>
                        <ListViewTemplates TValue="MenuItem">
                            <Template>
                                <div class="e-list-wrapper d-flex justify-content-center align-items-center">
                                    <span class="e-large e-icons @context.FontIcon"></span>
                                </div>
                            </Template>
                        </ListViewTemplates>
                    </SfListView>
                </div>
            </SfSidebar>
            <div class="py-3 px-1 position-absolute bottom-0 start-0" style="z-index: 1000;">
                <SfButton CssClass="e-large e-icons e-chevron-left e-round e-outline" Type="button" aria-label="expand/collapse menu" role="button"></SfButton>
            </div>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="py-3 px-1 position-absolute top-0 start-0">
        <SfButton CssClass="e-round e-large e-icons e-chevron-right" OnClick="@(() => IsSidebarOpen = !IsSidebarOpen)" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}