@page "/blocks/ai-search-1"

@inherits UI_Blocks.Components.Pages.MainSection.Demo
@inject IJSRuntime JSRuntime

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900 h-full">
        <div class="w-full pt-5 pb-4" style="height: 600px;">
            <div id="SearchContainerParent" class="mx-auto" style="max-width: 400px">
                <SfAutoComplete TValue="string" TItem="string" @ref="Search" DataSource="@(new List<string>())" Placeholder="Search" PopupHeight="530px" CssClass="e-bigger" role="combobox">
                    <AutoCompleteEvents TValue="string" TItem="string" Focus="@FocusHandlerAsync" Filtering="@SearchResult" Created="@FocusHandlerAsync"></AutoCompleteEvents>
                    <AutoCompleteTemplates TItem="string">
                        <NoRecordsTemplate>
                            <div class="text-center p-6 m-auto">
                                <div class="mb-3">
                                    <span class="border border-gray-200 p-2 rounded text-xl e-icons e-folder-open dark:border-gray-600 dark:text-gray-100"></span>
                                </div>
                                <div>
                                    <div class="mb-4">
                                        <div class="mb-1 text-sm font-medium text-gray-900 dark:text-white">No results found</div>
                                        <div class="text-sm text-gray-900 dark:text-white">"@SearchKeyword" did not match any projects or commands. Please try again <a href="javascript:void(0);" class="font-normal underline p-0" role="link">create a new chat</a>.</div>
                                    </div>
                                    <div>
                                        <SfButton CssClass="e-outline px-4" Content="Clear Search" Type="button" aria-label="clear search" role="button"></SfButton>
                                    </div>
                                </div>
                            </div>
                        </NoRecordsTemplate>
                    </AutoCompleteTemplates>
                </SfAutoComplete>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body h-100">
        <div class="w-100 pt-3 pb-3 h-100" style="height: 600px;">
            <div id="SearchContainerParent" class="mx-auto" style="max-width: 400px">
                <SfAutoComplete TValue="string" TItem="string" @ref="Search" DataSource="@(new List<string>())" Placeholder="Search" PopupHeight="530px" CssClass="e-bigger" role="combobox">
                    <AutoCompleteEvents TValue="string" TItem="string" Focus="@FocusHandlerAsync" Filtering="@SearchResult" Created="@FocusHandlerAsync"></AutoCompleteEvents>
                    <AutoCompleteTemplates TItem="string">
                        <NoRecordsTemplate>
                            <div class="text-center fs-6 py-4 px-sm-4 mx-auto">
                                <div class="mb-3">
                                    <span class="border p-2 rounded fs-4 e-icons e-folder-open"></span>
                                </div>
                                <div>
                                    <div class="mb-4">
                                        <div class="mb-1 small fw-medium text-body">No search results found</div>
                                        <div class="small text-body">“@SearchKeyword” did not match any chat history. Please try again or <a href="javascript:void(0);" class="fw-normal text-decoration-underline p-0" role="link">create a new chat</a>.</div>
                                    </div>
                                    <div>
                                        <SfButton CssClass="e-outline px-4" Content="Clear Search" Type="button" aria-label="clear search" role="button"></SfButton>
                                    </div>
                                </div>
                            </div>
                        </NoRecordsTemplate>
                    </AutoCompleteTemplates>
                </SfAutoComplete>
            </div>
        </div>
    </section>
}