@page "/blocks/statistics-8"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="px-4 sm:px-6 xl:px-11 py-12">
            <div class="grid sm:grid-cols-2 gap-6 lg:gap-4 lg:grid-cols-4">
                @foreach (var data in MetricsData)
                {
                    <div class="e-card pt-6 e-bigger rounded-lg shadow-none">
                        <div class="e-card-stacked">
                            <div class="e-card-header !py-0 !justify-start !flex-col">
                                <span class="e-avatar e-avatar-large rounded-lg @(data.MetricName == "Incoming Calls" ? "bg-red-100 dark:bg-red-800 text-red-600 dark:text-red-400" : data.MetricName == "Answered Calls" ? "bg-green-100 dark:bg-green-800 text-green-700 dark:text-green-500" : data.MetricName == "Abandoned Calls" ? "bg-orange-100 dark:bg-orange-800 text-orange-700 dark:text-orange-500" : data.MetricName == "Total Calls" ? "bg-gray-200 dark:bg-gray-700 text-gray-500 dark:text-gray-300" : "")">
                                    <span class="text-2xl @(data.MetricName == "Incoming Calls" ? "sf-icon-phone-call-incoming" : data.MetricName == "Answered Calls" ? "sf-icon-phone-call-outgoing" : data.MetricName == "Abandoned Calls" ? "sf-icon-phone-call-missed" : data.MetricName == "Total Calls" ? "sf-icon-phone" : "")"></span>
                                </span>
                                <h4 class="text-base font-medium text-gray-700 dark:text-gray-200 mt-3">@data.MetricName</h4>
                            </div>
                            <div class="e-card-content !pb-6 !pt-2 flex">
                                <span class="text-xl font-semibold text-gray-900 dark:text-white mr-2">@($"{data.CallCount}K")</span>
                                <span class="gap-1 flex items-center @(data.Trend == "up" ? "text-green-700 dark:text-green-500" : "text-red-600 dark:text-red-400")">@(data.CurrentPercentage > 0 ? "+" : "")@data.CurrentPercentage&#37;
                                    <span class="e-icons e-medium @(data.Trend == "up" ? "e-arrow-up" : "e-arrow-down")"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body-tertiary">
        <div class="px-3 px-sm-4 px-xl-5 py-5">
            <div class="row g-4 g-lg-3">
                @foreach (var data in MetricsData)
                {
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="e-card rounded-3 e-bigger pt-4">
                            <div class="e-card-stacked">
                                <div class="e-card-header py-0 px-4 d-flex flex-column align-items-start">
                                    <span class="e-avatar e-avatar-large rounded-3 @(data.MetricName == "Incoming Calls" ? "bg-danger-subtle text-danger" : data.MetricName == "Answered Calls" ? "bg-success-subtle text-success" : data.MetricName == "Abandoned Calls" ? "bg-warning-subtle text-warning-emphasis" : data.MetricName == "Total Calls" ? "bg-body-secondary text-secondary" : "")">
                                        <span class="fs-4 @(data.MetricName == "Incoming Calls" ? "sf-icon-phone-call-incoming" : data.MetricName == "Answered Calls" ? "sf-icon-phone-call-outgoing" : data.MetricName == "Abandoned Calls" ? "sf-icon-phone-call-missed" : data.MetricName == "Total Calls" ? "sf-icon-phone" : "")"></span>
                                    </span>
                                    <h4 class="fs-6 fw-medium lh-base text-body-secondary mt-3 mb-0">@data.MetricName</h4>
                                </div>
                                <div class="e-card-content pb-4 px-4 pt-2 d-flex align-items-center">
                                    <span class="fs-5 fw-bold lh-sm text-body me-2">@($"{data.CallCount}K")</span>
                                    <span class="d-flex align-items-center gap-1 @(data.Trend == "up" ? "text-success" : "text-danger")">@(data.CurrentPercentage > 0 ? "+" : "")@data.CurrentPercentage&#37;
                                        <span class="e-icons e-medium @(data.Trend == "up" ? "e-arrow-up" : "e-arrow-down")"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
