@page "/blocks/header-4"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-800">
        <div class="pt-4 md:!pt-6" style="min-height: 36rem;">
            <div class="flex justify-between mb-3">
                <div class="flex items-center">
                    <h1 class="text-lg font-semibold text-gray-900 dark:text-white ms-4 sm:ms-6">Tickets</h1>
                </div>
                <div class="flex gap-3">
                    <SfButton CssClass="block sm:hidden sm:me-6" IconCss="e-icons e-filter" Type="button" aria-label="filter" role="button"></SfButton>
                    <SfDropDownButton CssClass="block sm:hidden me-4 e-caret-hide !pr-1" IconCss="e-icons e-more-vertical-1" Type="button" aria-label="choose the additional option" role="button">
                        <DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
                    </SfDropDownButton>
                </div>
            </div>
            <div class="flex items-center justify-between px-4 sm:px-6">
                <div class="w-full">
                    <SfTab HeightAdjustMode="Auto" Width="100%" OverFlowMode="@OverflowMode">
                        <TabEvents Selected="@TabSelected"></TabEvents>
                        <TabItems>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="space-x-2 flex items-center">
                                        <span>All</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(0)}")">141</span>
                                    </div>
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <div class="hidden sm:flex py-3 items-center gap-2">
                                        <SfButton CssClass="mr-2" IconCss="e-icons e-filter" Content="Add filters" Type="button" aria-label="add filters" role="button"></SfButton>
                                        <div class="border-l border-gray-200 dark:border-gray-600 h-5"></div>
                                        <SfChip EnableDelete="true">
                                            <ChipItems>
                                                <ChipItem CssClass="e-outline !rounded-2xl" Text="Status: Active"></ChipItem>
                                                <ChipItem CssClass="e-outline !rounded-2xl" Text="Priority: High"></ChipItem>
                                            </ChipItems>
                                        </SfChip>
                                        <SfButton CssClass="ml-1 e-flat" Content="Clear all" Type="button" aria-label="clear all" role="button"></SfButton>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="space-x-2 flex items-center">
                                        <span class="sf-icon-inprogress text-base"></span>
                                        <span>In Progress</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(1)}")">156</span>
                                    </div>
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <div class="hidden sm:flex py-3 items-center gap-2">
                                        <SfButton CssClass="mr-2" IconCss="e-icons e-filter" Content="Add filters" Type="button" aria-label="add filters" role="button"></SfButton>
                                        <div class="border-l border-gray-200 dark:border-gray-600 h-5"></div>
                                        <SfChip EnableDelete="true">
                                            <ChipItems>
                                                <ChipItem CssClass="e-outline !rounded-2xl" Text="Status: Active"></ChipItem>
                                                <ChipItem CssClass="e-outline !rounded-2xl" Text="Priority: High"></ChipItem>
                                            </ChipItems>
                                        </SfChip>
                                        <SfButton CssClass="ml-1 e-flat" Content="Clear all" Type="button" aria-label="clear all" role="button"></SfButton>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="space-x-2 flex items-center">
                                        <span class="e-icons e-clock e-medium"></span>
                                        <span>Pending</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(2)}")">18</span>
                                    </div>
                                </HeaderTemplate>
                            </TabItem>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="space-x-2 flex items-center">
                                        <span class="e-icons e-circle-check e-medium"></span>
                                        <span>Resolved</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(3)}")">18</span>
                                    </div>
                                </HeaderTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="pt-3 pt-md-4" style="min-height: 36rem;">
            <div class="d-flex justify-content-between mb-3">
                <div class="d-flex align-items-center">
                    <h1 class="fs-6 fw-bold text-body ms-3 ms-sm-4 mb-0">Tickets</h1>
                </div>
                <div class="d-flex gap-3">
                    <SfButton CssClass="e-outline d-block d-sm-none me-sm-4" IconCss="e-icons e-filter" Type="button" aria-label="filter" role="button"></SfButton>
                    <SfDropDownButton CssClass="e-outline d-block d-sm-none me-3 e-caret-hide pe-1" IconCss="e-icons e-more-vertical-1" Type="button" aria-label="choose the additional option" role="button">
                        <DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
                    </SfDropDownButton>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between px-3 px-sm-4">
                <div class="w-100">
                    <SfTab HeightAdjustMode="Auto" Width="100%" OverFlowMode="@OverflowMode">
                        <TabEvents Selected="@TabSelected"></TabEvents>
                        <TabItems>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="d-flex align-items-center gap-2">
                                        <span>All</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(0)}")">141</span>
                                    </div>
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <div class="d-none d-sm-flex py-3 align-items-center gap-2">
                                        <SfButton CssClass="e-outline me-1" IconCss="e-icons e-filter" Type="button" Content="Add filters" aria-label="add filters" role="button"></SfButton>
                                        <div class="border-start" style="height: 16px;"></div>
                                        <SfChip EnableDelete="true">
                                            <ChipItems>
                                                <ChipItem CssClass="e-outline rounded-pill py-2" Text="Status: Active"></ChipItem>
                                                <ChipItem CssClass="e-outline rounded-pill py-2" Text="Priority: High"></ChipItem>
                                            </ChipItems>
                                        </SfChip>
                                        <SfButton CssClass="e-flat" Content="Clear all" Type="button" aria-label="clear all" role="button"></SfButton>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="sf-icon-inprogress fs-6"></span>
                                        <span>In Progress</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(1)}")">156</span>
                                    </div>
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <div class="d-none d-sm-flex py-3 align-items-center gap-2">
                                        <SfButton CssClass="e-outline me-1" IconCss="e-icons e-filter" Content="Add filters" Type="button" aria-label="add filters" role="button"></SfButton>
                                        <div class="border-start" style="height: 16px;"></div>
                                        <SfChip EnableDelete="true">
                                            <ChipItems>
                                                <ChipItem CssClass="e-outline rounded-pill py-2" Text="Status: Active"></ChipItem>
                                                <ChipItem CssClass="e-outline rounded-pill py-2" Text="Priority: High"></ChipItem>
                                            </ChipItems>
                                        </SfChip>
                                        <SfButton CssClass="e-flat" Content="Clear all" Type="button" aria-label="clear all" role="button"></SfButton>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="e-icons e-clock e-medium"></span>
                                        <span>Pending</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(2)}")">18</span>
                                    </div>
                                </HeaderTemplate>
                            </TabItem>
                            <TabItem>
                                <HeaderTemplate>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="e-icons e-circle-check e-medium"></span>
                                        <span>Resolved</span>
                                        <span class="@($"e-badge e-badge-pill px-2 {GetBadgeClass(3)}")">18</span>
                                    </div>
                                </HeaderTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </div>
        </div>
    </section>
}