@page "/blocks/rating-17"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section>
        <div id="dialog-container" class="relative flex justify-center" style="min-height: 580px;">
            <SfDialog @ref="Dialog" id="dialog" class="rounded-none sm:rounded-lg shadow-sm sm:m-4 py-3.5" Width="400px" IsModal="true" ShowCloseIcon="true" Visible="true" Target="#dialog-container" aria-label="update personal information" role="dialog">
                <DialogEvents OnOpen="@(args => args.MaxHeight = "100%")" Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                <DialogTemplates>
                    <Header>
                        <div class="flex flex-col pb-1.5">
                            <div class="flex items-center gap-3">
                                <div class="rounded-full flex items-center justify-center shrink-0 bg-primary-100 dark:bg-cyan-800" style="height: 38px; width: 38px;">
                                    <span class="e-icons e-star-filled text-primary-600 dark:text-primary-400"></span>
                                </div>
                                <div class="flex flex-col">
                                    <h4 class="text-base font-semibold text-gray-900 dark:text-white">Rate our platform</h4>
                                    <p class="text-xs font-medium text-gray-500 dark:text-gray-400 pt-1">Provide us with feedback for the platform.</p>
                                </div>
                            </div>
                        </div>
                    </Header>
                    <Content>
                        <p class="text-sm font-medium text-gray-900 dark:text-white pt-1">Your rating</p>
                        <div class="mt-2 flex gap-2">
                            <SfRating value="4">
                                <EmptyTemplate>
                                    <div class="border border-gray-300 dark:border-gray-500 rounded-md px-3 mx-1">
                                        <span class="sf-icon-star-filled-01 text-2xl text-gray-300 dark:text-gray-500"></span>
                                    </div>
                                </EmptyTemplate>
                                <FullTemplate>
                                    <div class="border border-gray-300 dark:border-gray-500 rounded-md px-3 mx-1">
                                        <span class="sf-icon-star-filled-01 text-2xl text-amber-300"></span>
                                    </div>
                                </FullTemplate>
                            </SfRating>
                        </div>
                        <div class="mt-4 flex flex-col gap-1">
                            <label class="text-xs font-medium text-gray-700 dark:text-gray-100">Feature/service name<span class="text-red-500"> *</span></label>
                            <SfDropDownList TValue="string" TItem="string" Placeholder="Analytics dashboard" aria-label="choose a analytics dashboard" role="listbox"></SfDropDownList>
                        </div>
                        <div class="mt-4 flex flex-col gap-1 grow text-sm">
                            <label class="font-medium text-xs text-gray-700 dark:text-gray-100">Product overview <span class="text-gray-500">(Optional)</span></label>
                            <SfTextArea Placeholder="Write your thoughts..." ResizeMode="Resize.None" Rows="6" aria-label="enter your thoughts" role="textbox" style="height: 95px;"></SfTextArea>
                        </div>
                        <div class="mt-4">
                            <SfCheckBox TChecked="bool" Label="Remain anonymous" aria-label="remain anonymous" role="checkbox"></SfCheckBox>
                        </div>
                    </Content>
                    <FooterTemplate>
                        <div class="flex flex-row justify-end pt-4 pb-0.5 gap-4">
                            <SfButton class="!ml-0" CssClass="e-outline e-block" Content="Cancel" Type="button" aria-label="cancel" role="button"></SfButton>
                            <SfButton class="!ml-0" CssClass="e-primary e-block" Content="Submit" Type="button" aria-label="submit" role="button"></SfButton>
                        </div>
                    </FooterTemplate>
                </DialogTemplates>
            </SfDialog>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="top-0 left-0 absolute w-full flex">
        <SfButton CssClass="my-5 mx-auto" OnClick="@(async () => { if (Dialog != null) await Dialog.ShowAsync(IsMobile); })" Content="Feedback Form" Type="button" aria-label="open feedback form" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section>
        <div id="dialog-container" class="position-relative d-flex justify-content-center" style="min-height: 580px;">
            <SfDialog @ref="Dialog" id="dialog" class="rounded-3 shadow-sm m-sm-4 py-2 border-0" Width="400px" IsModal="true" ShowCloseIcon="true" Visible="true" Target="#dialog-container" aria-label="update personal information" role="dialog">
                <DialogEvents OnOpen="@(args => args.MaxHeight = "100%")" Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                <DialogTemplates>
                    <Header>
                        <div class="d-flex flex-column py-1 ps-2 ms-1">
                            <div class="d-flex align-items-center gap-3">
                                <div class="rounded-circle d-flex align-items-center justify-content-center flex-shrink-0 bg-primary bg-opacity-25" style="height: 38px; width: 38px;">
                                    <span class="e-icons e-star-filled text-primary"></span>
                                </div>
                                <div class="d-flex flex-column small">
                                    <h4 class="fs-6 fw-bold text-body mb-0">Rate our platform</h4>
                                    <p class="fw-medium small text-body-secondary pt-1 mb-0">Provide us with feedback for the platform.</p>
                                </div>
                            </div>
                        </div>
                    </Header>
                    <Content>
                        <div class="px-2 mx-1">
                            <p class="fw-medium text-body pt-1 mb-0">Your rating</p>
                            <div class="mt-2 d-flex gap-2">
                                <SfRating Value="4">
                                    <EmptyTemplate>
                                        <div class="border border-light-subtle rounded px-3 me-1 ms-sm-1">
                                            <span class="sf-icon-star-02 fs-5 text-body-secondary"></span>
                                        </div>
                                    </EmptyTemplate>
                                    <FullTemplate>
                                        <div class="border border-light-subtle rounded px-3 me-1 ms-sm-1">
                                            <span class="sf-icon-star-filled-01 fs-5 text-warning"></span>
                                        </div>
                                    </FullTemplate>
                                </SfRating>
                            </div>
                            <div class="mt-2 d-flex flex-column gap-1">
                                <label class="small text-body-secondary">Feature/service name<span class="text-danger"> *</span></label>
                                <SfDropDownList TValue="string" TItem="string" Placeholder="Analytics dashboard" aria-label="choose a analytics dashboard" role="listbox"></SfDropDownList>
                            </div>
                            <div class="mt-3 d-flex flex-column gap-1 flex-grow-1">
                                <label class="small text-body-secondary">Product overview <span class="text-body-secondary">(Optional)</span></label>
                                <SfTextArea Placeholder="Write your thoughts..." ResizeMode="Resize.None" Rows="6" aria-label="enter your thoughts" role="textbox" style="height: 95px;"></SfTextArea>
                            </div>
                            <div class="mt-3 mb-1">
                                <SfCheckBox TChecked="bool" Label="Remain anonymous" aria-label="remain anonymous" role="checkbox"></SfCheckBox>
                            </div>
                        </div>
                    </Content>
                    <FooterTemplate>
                        <div class="d-flex flex-row justify-content-end gap-3 pt-2 my-1 px-2 mx-1">
                            <SfButton class="ms-0" CssClass="e-outline e-block" Content="Cancel" Type="button" aria-label="cancel" role="button"></SfButton>
                            <SfButton class="ms-0" CssClass="e-primary e-block" Content="Submit" Type="button" aria-label="submit" role="button"></SfButton>
                        </div>
                    </FooterTemplate>
                </DialogTemplates>
            </SfDialog>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="position-absolute top-0 start-0 d-flex w-100">
        <SfButton CssClass="e-outline mx-auto my-3" OnClick="@(async () => { if (Dialog != null) await Dialog.ShowAsync(IsMobile); })" Content="Feedback Form" Type="button" aria-label="open feedback form" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
