@page "/blocks/returns-3"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-gray-50 dark:bg-gray-950">
		<div class="max-w-4xl mx-auto px-4 py-6 sm:px-6 lg:px-5 sm:pt-20" style="min-height: 36rem;">
			<p class="text-lg font-medium sm:mb-6 mb-5 text-gray-900 dark:text-white">Product Return Request</p>
			<div class="sm:mb-8 mb-5" style="@StepperStyle">
				<SfStepper @ref="Stepper" Orientation="@StepperOrientation" LabelPosition="@LabelPos" ActiveStep="2">
					<StepperSteps>
						<StepperStep IconCss="e-icons e-circle-check" Label="My Products"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Return Reason"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Pickup Option"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Refund Choice"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Confirmation"></StepperStep>
					</StepperSteps>
				</SfStepper>
			</div>
			<p class="mb-5 font-medium text-gray-900 dark:text-white">Choose the pickup option for the product</p>
			<div class="mb-6 flex sm:gap-5 flex-col sm:flex-row gap-4 e-bigger">
				<div class="e-card pt-3 rounded-lg shadow-none border-transparent">
					<div class="e-card-content grow !pt-1">
						<SfRadioButton Label="Express Courier - $19" Checked="@SelectedDeliveryMethod" Name="pickupOptions" Value="Express Courier - $19" aria-label="express courier option costing $19" role="radio"></SfRadioButton>
						<p class="text-gray-700 dark:text-gray-300 text-sm ml-7 mt-1">Send it by tomorrow.</p>
					</div>
				</div>
				<div class="e-card pt-3 rounded-lg shadow-none border-transparent">
					<div class="e-card-content grow !pt-1">
						<SfRadioButton Label="Store Pickup - Free" Name="pickupOptions" Value="Store Pickup - Free" Checked="@SelectedDeliveryMethod" aria-label="store pickup option with no additional cost" role="radio"></SfRadioButton>
						<p class="text-gray-700 dark:text-gray-300 text-sm ml-7 mt-1">Send it by today.</p>
					</div>
				</div>
				<div class="e-card pt-3 rounded-lg shadow-none border-transparent">
					<div class="e-card-content grow !pt-1">
						<SfRadioButton Label="FedEx - $39" Name="pickupOptions" Checked="@SelectedDeliveryMethod" Value="FedEx - $39" aria-label="FedEx shipping option costing $39" role="radio"></SfRadioButton>
						<p class="text-gray-700 dark:text-gray-300 text-sm ml-7 mt-1">Send it by 02/02/2024.</p>
					</div>
				</div>
			</div>
			<SfMessage CssClass="mb-6 items-center" ShowIcon="false" ShowCloseIcon="true">If you opt for FedEx automated pickup, follow the instructions for a seamless return process.</SfMessage>
			<div class="flex justify-end lg:gap-3 gap-4">
				<SfButton CssClass="grow sm:grow-0" Content="Previous" Type="button" aria-label="previous" role="button"></SfButton>
				<SfButton IsPrimary="true" CssClass="grow sm:grow-0" Content="Next" Type="button" aria-label="next" role="button"></SfButton>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div class="container-lg py-4 px-3 px-sm-4" style="min-height: 36rem; max-width: 896px;">
			<p class="h5 fw-bold mb-3 mb-sm-4 text-body">Product Return Request</p>
			<div class="mb-4" style="@StepperStyle">
				<SfStepper @ref="Stepper" Orientation="@StepperOrientation" LabelPosition="@LabelPos" ActiveStep="2">
					<StepperSteps>
						<StepperStep IconCss="e-icons e-circle-check" Label="My Products"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Return Reason"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Pickup Option"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Refund Choice"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Confirmation"></StepperStep>
					</StepperSteps>
				</SfStepper>
			</div>
			<p class="h6 mb-3 fw-bold text-body">Choose the pickup option for the product</p>
			<div class="mb-4 d-flex flex-column flex-sm-row gap-3 e-bigger">
				<div class="e-card rounded shadow-none">
					<div class="e-card-content flex-grow-1">
						<SfRadioButton Label="Express Courier - $19" Checked="@SelectedDeliveryMethod" Name="pickupOptions" Value="Express Courier - $19" aria-label="express courier option costing $19" role="radio"></SfRadioButton>
						<p class="ms-4 mt-2 mb-0 ps-1 text-body-secondary">Send it by tomorrow.</p>
					</div>
				</div>
				<div class="e-card rounded shadow-none">
					<div class="e-card-content flex-grow-1">
						<SfRadioButton Label="Store Pickup - Free" Name="pickupOptions" Value="Store Pickup - Free" Checked="@SelectedDeliveryMethod" aria-label="store pickup option with no additional cost" role="radio"></SfRadioButton>
						<p class="ms-4 mt-2 mb-0 ps-1 text-body-secondary">Send it by today.</p>
					</div>
				</div>
				<div class="e-card rounded shadow-none">
					<div class="e-card-content flex-grow-1">
						<SfRadioButton Label="FedEx - $39" Name="pickupOptions" Checked="@SelectedDeliveryMethod" Value="FedEx - $39" aria-label="FedEx shipping option costing $39" role="radio"></SfRadioButton>
						<p class="ms-4 mt-2 mb-0 ps-1 text-body-secondary">Send it by 02/02/2024.</p>
					</div>
				</div>
			</div>
			<SfMessage CssClass="mb-4 align-items-center" ShowIcon="false" ShowCloseIcon="true">If you opt for FedEx automated pickup, follow the instructions for a seamless return process.</SfMessage>
			<div class="d-flex justify-content-end gap-1">
				<SfButton CssClass="e-outline flex-grow-1 flex-sm-grow-0 me-2" Content="Previous" Type="button" aria-label="previous" role="button"></SfButton>
				<SfButton IsPrimary="true" CssClass="flex-grow-1 flex-sm-grow-0" Content="Next" Type="button" aria-label="next" role="button"></SfButton>
			</div>
		</div>
	</section>
}

