@page "/blocks/search-5"
@inherits UI_Blocks.Components.Pages.MainSection.Demo
@using Syncfusion.Blazor.Buttons
@inject IJSRuntime JSRuntime

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900 h-full">
        <div class="w-full pt-5 pb-4" style="height: 750px;">
            <div id="SearchContainerParent" class="mx-auto px-4" style="max-width: 480px">
                @if (Data != null)
                {
                    <SfAutoComplete TValue="string" TItem="SearchItem" @ref="Search" CssClass="e-bigger" DataSource="@Data" Placeholder="Search" PopupHeight="650px" role="combobox">
                        <AutoCompleteEvents TValue="string" TItem="SearchItem" Focus="@FocusHandlerAsync" Created="@FocusHandlerAsync"></AutoCompleteEvents>
                        <AutoCompleteFieldSettings Value="Ticket"></AutoCompleteFieldSettings>
                        <AutoCompleteTemplates TItem="SearchItem">
                            <HeaderTemplate>
                                <div class="p-5 border-b border-gray-200 dark:border-gray-600 mb-2">
                                    <SfChip class="!border-gray-200 !dark:border-gray-600" Selection="Syncfusion.Blazor.Buttons.SelectionType.Multiple" aria-label="filter options" role="option">
                                        <ChipItems>
                                            <ChipItem Text="Ticket ID" CssClass="e-outline !text-sm !font-medium !px-3 !py-1 !rounded-2xl !h-8 !ml-0" aria-label="filter by ticket id" role="button"></ChipItem>
                                            <ChipItem Text="Status" CssClass="e-outline !text-sm !font-medium !px-3 !py-1 !rounded-2xl !h-8 !ml-0" aria-label="filter by status" role="button"></ChipItem>
                                            <ChipItem Text="Priority" CssClass="e-outline !text-sm !font-medium !px-3 !py-1 !rounded-2xl !h-8 !ml-0" aria-label="filter by priority" role="button"></ChipItem>
                                            <ChipItem Text="Created by" CssClass="e-outline !text-sm !font-medium !px-3 !py-1 !rounded-2xl !h-8 !ml-0" aria-label="filter by created by" role="button"></ChipItem>
                                        </ChipItems>
                                    </SfChip>
                                </div>
                                <div class="my-2 mx-5 text-gray-600 font-semibold text-base dark:text-gray-300">Ticket</div>
                            </HeaderTemplate>
                            <ItemTemplate Context="context">
                                <div class="flex items-center gap-4 pl-5 py-2">
                                    @if (!string.IsNullOrEmpty(context.FontIcon))
                                    {
                                        <span class="indent-0 e-avatar e-avatar-medium shrink-0 text-sm  @(context.ColorTheme == "Green" ? "bg-green-100 text-green-600 dark:bg-green-800 dark:text-green-300" :
                                            context.ColorTheme == "Orange" ? "bg-orange-50 text-orange-500 dark:bg-orange-800 dark:text-orange-300" :
                                            context.ColorTheme == "Blue" ? "bg-cyan-50 text-cyan-500 dark:bg-cyan-800 dark:text-cyan-300" :
                                            context.ColorTheme == "Red" ? "bg-red-50 text-red-500 dark:bg-red-800 dark:text-red-300" :
                                            context.ColorTheme == "Indigo" ? "bg-indigo-50 text-indigo-600 dark:bg-indigo-800 dark:text-indigo-300" : "")">
                                            <span class="text-2xl @context.FontIcon"></span>
                                        </span>
                                    }
                                    <div class="w-full indent-0">
                                        <div class="text-sm !font-medium flex items-center !text-wrap text-gray-900 dark:text-white mb-0.5">@context.Ticket</div>
                                        <div class="text-gray-600 font-normal flex items-center !text-wrap dark:text-gray-300 text-sm">@context.Id, Created on: @context.CreatedDate</div>
                                    </div>
                                </div>
                            </ItemTemplate>
                        </AutoCompleteTemplates>
                    </SfAutoComplete>
                }
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body h-100">
        <div class="w-100 pt-4 pb-3" style="height: 800px;">
            <div id="SearchContainerParent" class="mx-auto px-3" style="max-width: 480px">
                @if (Data != null)
                {
                    <SfAutoComplete TValue="string" TItem="SearchItem" @ref="Search" CssClass="e-bigger" DataSource="@Data" Placeholder="Search" PopupHeight="730px" role="combobox">
                        <AutoCompleteEvents TValue="string" TItem="SearchItem" Focus="@FocusHandlerAsync" Created="@FocusHandlerAsync"></AutoCompleteEvents>
                        <AutoCompleteFieldSettings Value="Ticket"></AutoCompleteFieldSettings>
                        <AutoCompleteTemplates TItem="SearchItem">
                            <HeaderTemplate>
                                <div class="p-3 border-bottom border-light-subtle mb-2">
                                    <SfChip CssClass="e-outline border-light-subtle" Selection="Syncfusion.Blazor.Buttons.SelectionType.Multiple" aria-label="filter options" role="option">
                                        <ChipItems>
                                            <ChipItem Text="Ticket ID" CssClass="fs-6 lh-base fw-medium px-3 py-1 e-outline border border-light-subtle text-body-secondary" aria-label="filter by ticket id" role="button"></ChipItem>
                                            <ChipItem Text="Status" CssClass="fs-6 lh-base fw-medium px-3 py-1 e-outline border border-light-subtle text-body-secondary" aria-label="filter by status" role="button"></ChipItem>
                                            <ChipItem Text="Priority" CssClass="fs-6 lh-base fw-medium px-3 py-1 e-outline border border-light-subtle text-body-secondary" aria-label="filter by priority" role="button"></ChipItem>
                                            <ChipItem Text="Created by" CssClass="fs-6 lh-base fw-medium px-3 py-1 e-outline border border-light-subtle text-body-secondary" aria-label="filter by created by" role="button"></ChipItem>
                                        </ChipItems>
                                    </SfChip>
                                </div>
                                <div class="my-2 mx-4 fw-semibold fs-5 text-body-secondary">Ticket</div>
                            </HeaderTemplate>
                            <ItemTemplate Context="context">
                                <div class="d-flex align-items-center ps-4 py-2" style="text-indent : 0">
                                    @if (!string.IsNullOrEmpty(context.FontIcon))
                                    {
                                        <span class="e-avatar e-avatar-medium flex-shrink-0 rounded @(context.ColorTheme == "Green" ? "bg-success-subtle text-success" :
                                            context.ColorTheme == "Orange" ? "bg-warning-subtle text-warning-emphasis" :
                                            context.ColorTheme == "Blue" ? "bg-info-subtle text-info-emphasis" :
                                            context.ColorTheme == "Red" ? "bg-danger-subtle text-danger-emphasis" :
                                            context.ColorTheme == "Indigo" ? "bg-primary-subtle text-primary" : "")">
                                            <span class="fs-5 @context.FontIcon"></span>
                                        </span>
                                    }
                                    <div class="flex-grow-1 ms-3">
                                        <div class="text-wrap lh-base fw-medium fs-6 text-body">@context.Ticket</div>
                                        <div class="text-body-secondary text-wrap lh-base fw-normal fs-6 text-body-secondary">@context.Id, Created on: @context.CreatedDate</div>
                                    </div>
                                </div>
                            </ItemTemplate>
                        </AutoCompleteTemplates>
                    </SfAutoComplete>
                }
            </div>
        </div>
    </section>
}


