@page "/blocks/chat-2"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section>
		<div id="chat-sidepanel" class="max-w-4xl mx-auto bg-white dark:bg-gray-900 rounded-xl overflow-hidden" style="max-width: 900px; max-height: 1406px;">
			<div class="w-full p-2">
				<div class="flex items-center justify-between py-1 pl-2 sm:pl-4 pr-2">
					<div class="flex items-center">
						<span class="flex items-center gap-3">
							<div class="relative h-8">
								<span class="e-avatar e-avatar-circle e-avatar-small" style="background-image: url(assets/images/common/avatar/avatar-3.jpg);" alt="profile picture"></span>
								<div class="w-3 h-3 rounded-full bg-green-700 dark:bg-green-500 absolute border border-white dark:border-black" style="bottom: -2px; right: -2px;"></div>
							</div>
							<span class="text-base font-semibold text-gray-900 dark:text-white">Mark Davis</span>
						</span>
					</div>
					<div class="flex items-center gap-3">
						<SfButton CssClass="e-flat sm:block hidden" IconCss="sf-icon-phone-01 leading-3 text-base" Type="button" aria-label="audio call" role="button"></SfButton>
						<SfButton CssClass="e-flat sm:block hidden" IconCss="e-icons e-video" Type="button" aria-label="video call" role="button"></SfButton>
						<SfButton CssClass="e-flat" IconCss="e-icons e-more-vertical-1" Type="button" aria-label="more options" role="button"></SfButton>
						<div class="border-l h-6 border-gray-200 dark:border-gray-600 sm:block hidden"></div>
						<SfButton CssClass="e-flat sm:block hidden leading-3" IconCss="e-icons e-show-hide-panel text-base" Type="button" aria-label="show or hide panel" role="button"></SfButton>
					</div>
				</div>
			</div>
			<div class="flex flex-wrap border-t border-gray-200 dark:border-gray-800">
				<div class="w-full sm:w-4/6 pb-6">
					<div class="flex items-center flex-col pt-7 bg-white dark:bg-gray-900">
						<span class="e-badge e-badge-pill e-badge-secondary border border-gray-200 dark:border-gray-600 e-small">Wednesday, Sep 18th</span>
						<SfListView CssClass="!border-0 px-2 sm:px-4 sm:pr-7 py-4" DataSource="@Data" Width="100%" Height="100%" aria-label="chat conversations" role="list">
						<ListViewFieldSettings TValue="ChatMessage"></ListViewFieldSettings>
							<ListViewTemplates TValue="ChatMessage">
								<Template>
									@{
										var message = context as ChatMessage;
										if (message.Chat != "receiver")
										{
											<div class="flex justify-end ml-auto sm:mr-3 gap-3 items-start w-4/5 sm:w-9/12 lg:w-11/12">
												<div class="flex flex-col gap-1 items-end">
													<div class="py-2 px-3 rounded-lg rounded-se-none bg-primary-100 dark:bg-primary-800">
														<div class="text-gray-900 dark:text-gray-50">@message.Text</div>
													</div>
													<div class="flex">
														<p class="text-xs text-gray-500">@message.Time</p>
														@if (message.Open)
														{
															<div class="sf-icon-double-check-01 ml-0.5 sm:ml-1 leading-4 text-base text-primary-600 dark:text-primary-400"></div>
														}
													</div>
												</div>
											</div>
										}
										else
										{
											<div class="flex justify-start gap-3 items-start sm:w-11/12">
												@if (!string.IsNullOrEmpty(message.Avatar))
												{
													<span class="e-avatar e-avatar-circle e-avatar-small shrink-0" style="@($"background-image: url(assets/images/common/avatar/{message.Avatar})")"></span>
												}
												<div class="flex flex-col gap-1">
													<div class="py-2 px-3 rounded-lg rounded-ss-none bg-gray-100 dark:bg-gray-800">
														<div class="text-gray-900 dark:text-gray-50">@message.Text</div>
													</div>
													<p class="text-xs text-gray-500">@message.Name<span class="ms-1.5">@message.Time</span></p>
												</div>
											</div>
										}
									}
								</Template>
							</ListViewTemplates>
						</SfListView>
					</div>
					<div class="e-bigger w-full text-base px-4 sm:pl-6 sm:pr-12">
						<SfTextBox @ref="TextBox" Type="InputType.Text" Placeholder="Enter a message" FloatLabelType="FloatLabelType.Never" Created="@(args => TextBox?.AddIconAsync("append", "sf-icon-navigation-right-up border-0"))" aria-label="enter a message" role="textbox"></SfTextBox>
					</div>
				</div>
				<div class="w-full sm:w-2/6 sm:border-s border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-900">
					<div class="flex justify-between items-center px-3 py-2 mx-4 sm:mx-0 border-b border-gray-200 dark:border-gray-800">
						<p class="text-base font-semibold text-gray-900 dark:text-gray-50">Translation</p>
						<SfDropDownButton CssClass="e-flat" Content="Spanish" Type="button" aria-label="select language" role="button"></SfDropDownButton>
					</div>
					<SfListView CssClass="!border-0 px-1 pt-1" DataSource="@DataTranslate" Width="100%" Height="100%" aria-label="translated chat conversations" role="list">
					<ListViewFieldSettings TValue="ChatMessage"></ListViewFieldSettings>
						<ListViewTemplates TValue="ChatMessage">
							<Template Context="data">
								@if (data.Chat != "receiver")
								{
									<div class="flex justify-start gap-2 items-start">
										@if (!string.IsNullOrEmpty(data.Avatar))
										{
											<span class="e-avatar e-avatar-circle e-avatar-small shrink-0" style="@($"background-image: url(assets/images/common/avatar/{@data.Avatar})")" alt="sender avatar"></span>
										}
										<div class="flex flex-col gap-1">
											<p class="text-xs text-gray-500 dark:text-gray-400">@data.Name <span class="ms-1.5">@data.Time</span></p>
											<div class="rounded-lg">
												<div class="text-gray-900 dark:text-gray-50">@data.Text</div>
											</div>
										</div>
									</div>
								}
								else
								{
									<div class="flex justify-start gap-2 items-start">
										@if (!string.IsNullOrEmpty(data.Avatar))
										{
											<span class="e-avatar e-avatar-circle e-avatar-small shrink-0" style="@($"background-image: url(assets/images/common/avatar/{@data.Avatar})")" alt="receiver avatar"></span>
										}
										<div class="flex flex-col gap-1">
											<p class="text-xs text-gray-500 dark:text-gray-400">@data.Name <span class="ms-1.5">@data.Time</span></p>
											<div class="rounded-lg">
												<div class="text-gray-900 dark:text-gray-50">@data.Text</div>
											</div>
										</div>
									</div>
								}
							</Template>
						</ListViewTemplates>
					</SfListView>
				</div>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section>
		<div id="chat-sidepanel" class="container overflow-hidden p-0 bg-body rounded-4" style="max-width: 900px;">
			<div class="w-100 p-2">
				<div class="d-flex align-items-center justify-content-between py-1 ps-2 ps-sm-3 pe-2">
					<div class="d-flex align-items-center">
						<span class="d-flex align-items-center gap-3">
							<div class="position-relative" style="height: 32px;">
								<span class="e-avatar e-avatar-circle e-avatar-small" style="background-image: url(assets/images/common/avatar/avatar-3.jpg);" alt="profile picture"></span>
								<div class="position-absolute bg-success border border-light rounded-circle p-1" style="bottom: -1px; right: -1px;"></div>
							</div>
							<span class="h6 mb-0 text-body">Mark Davis</span>
						</span>
					</div>
					<div class="d-flex align-items-center gap-3">
						<SfButton CssClass="e-flat d-none d-sm-block" IconCss="sf-icon-phone-01 fs-6" Type="button" aria-label="audio call" role="button"></SfButton>
						<SfButton CssClass="e-flat d-none d-sm-block" IconCss="e-icons e-video" Type="button" aria-label="video call" role="button"></SfButton>
						<SfButton CssClass="e-flat" IconCss="e-icons e-more-vertical-1" Type="button" aria-label="more options" role="button"></SfButton>
						<div class="border-start border-secondary-subtle d-none d-sm-block" style="height: 24px;"></div>
						<SfButton CssClass="e-flat d-none d-sm-block" IconCss="e-icons e-show-hide-panel" Type="button" aria-label="show or hide panel" role="button"></SfButton>
					</div>
				</div>
			</div>
			<div class="d-flex flex-wrap border-top bg-body">
				<div class="col-12 col-sm-8 pb-4">
					<div class="d-flex flex-column align-items-center pt-4 bg-body">
						<span class="e-badge e-badge-pill border px-2">Wednesday, Sep 18th</span>
						<SfListView CssClass="border-0 px-2 px-sm-3 pe-md-4 pe-sm-3 pb-4 pt-3 w-100 bg-body" DataSource="@Data" Width="100%" Height="100%" aria-label="chat conversations" role="list">
						<ListViewFieldSettings TValue="ChatMessage"></ListViewFieldSettings>
							<ListViewTemplates TValue="ChatMessage">
								<Template>
									@{
										var message = context as ChatMessage;
										if (message.Chat != "receiver")
										{
											<div class="d-flex justify-content-end pe-sm-3 ms-auto gap-3 align-items-start w-75">
												<div class="d-flex flex-column gap-1 align-items-end">
													<div class="py-2 px-3 rounded bg-body-secondary" style="border-top-right-radius: 0px !important;">
														<div class="text-body">@message.Text</div>
													</div>
													<div class="d-flex">
														<p class="text-body-secondary small m-0">@message.Time</p>
														@if (message.Open)
														{
															<div class="sf-icon-double-check-01 text-primary fs-6 ms-1"></div>
														}
													</div>
												</div>
											</div>
										}
										else
										{
											<div class="d-flex justify-content-start gap-2 align-items-start me-sm-3">
												@if (!string.IsNullOrEmpty(message.Avatar))
												{
													<span class="e-avatar e-avatar-circle e-avatar-small flex-shrink-0" style="@($"background-image: url(assets/images/common/avatar/{message.Avatar})")"></span>
												}
												<div class="d-flex flex-column gap-1">
													<div class="py-2 px-3 rounded bg-body-tertiary" style="border-top-left-radius: 0px !important;">
														<div class="text-body">@message.Text</div>
													</div>
													<p class="small text-body-secondary m-0">@message.Name <span class="ms-1">@message.Time</span></p>
												</div>
											</div>
										}
									}
								</Template>
							</ListViewTemplates>
						</SfListView>
					</div>
					<div class="e-bigger ms-sm-4 ms-3 me-md-5 me-3">
						<SfTextBox @ref="TextBox" CssClass="w-100" Type="InputType.Text" Placeholder="Enter a message" FloatLabelType="FloatLabelType.Never" Created="@(args => TextBox?.AddIconAsync("append", "sf-icon-navigation-right-up border-0"))" aria-label="enter a message" role="textbox"></SfTextBox>
					</div>
				</div>
				<div class="col-12 col-sm-4 bg-body d-flex">
					<div class="h-100 border-start d-none d-sm-block"></div>
					<div class="h-100">
						<div class="d-flex justify-content-between align-items-center p-2 mx-3 mx-sm-0 border-bottom">
							<p class="h6 mb-0 text-body">Translation</p>
							<SfDropDownButton CssClass="e-flat" Content="Spanish" Type="button" aria-label="select language" role="button"></SfDropDownButton>
						</div>
						<SfListView CssClass="border-0 p-2 pe-4 overflow-auto" DataSource="@DataTranslate" Width="100%" Height="100%" aria-label="translated chat conversations" role="list">
						<ListViewFieldSettings TValue="ChatMessage"></ListViewFieldSettings>
							<ListViewTemplates TValue="ChatMessage">
								<Template Context="data">
									@if (data.Chat != "receiver")
									{
										<div class="d-flex justify-content-start gap-2 align-items-start">
											@if (!string.IsNullOrEmpty(data.Avatar))
											{
												<span class="e-avatar e-avatar-circle e-avatar-small flex-shrink-0" style="@($"background-image: url(assets/images/common/avatar/{@data.Avatar})")" alt="sender avatar"></span>
											}
											<div class="d-flex flex-column gap-1">
												<p class="small text-body-secondary m-0">@data.Name <span class="ms-1">@data.Time</span></p>
												<div class="rounded">
													<div class="text-body">@data.Text</div>
												</div>
											</div>
										</div>
									}
									else
									{
										<div class="d-flex justify-content-start gap-2 align-items-start">
											@if (!string.IsNullOrEmpty(data.Avatar))
											{
												<span class="e-avatar e-avatar-circle e-avatar-small flex-shrink-0" style="@($"background-image: url(assets/images/common/avatar/{@data.Avatar})")" alt="receiver avatar"></span>
											}
											<div class="d-flex flex-column gap-1">
												<p class="small text-body-secondary m-0">@data.Name <span class="ms-1">@data.Time</span></p>
												<div class="rounded">
													<div class="text-body">@data.Text</div>
												</div>
											</div>
										</div>
									}
								</Template>
							</ListViewTemplates>
						</SfListView>
					</div>
				</div>
			</div>
		</div>
	</section>
}