@page "/blocks/list-6"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div id="custom-field-list" class="lg:max-w-md w-full mx-auto px-4 pt-8 pb-4 min-h-screen">
			<p class="text-sm text-gray-700 dark:text-gray-200 mb-4">Increase the amount of data that you collect re-order the fields.</p>
			<SfListBox CssClass="e-bigger" TValue="int[]" TItem="DataItem" DataSource="@FieldData" AllowDragAndDrop="true" aria-label="list of fields" role="list">
				<ListBoxFieldSettings Value="Id" Text="Field" IconCss="FontIcon"></ListBoxFieldSettings>
				<ListBoxTemplates TItem="DataItem">
					<ItemTemplate>
						<div class="list-wrapper flex items-center space-x-3">
							<span class="sf-icon-drag-dot-vertical text-base text-gray-500 dark:text-gray-300"></span>
							<span class="text-base text-gray-500 dark:text-gray-300 @context.FontIcon"></span>
							<span class="e-list-item-header text-sm font-medium text-gray-900 dark:text-white">@context.Field</span>
						</div>
					</ItemTemplate>
				</ListBoxTemplates>
			</SfListBox>
			<SfButton CssClass="e-flat e-primary mt-2" IconCss="e-icons e-plus" Content="Add a field" Type="button" aria-label="add new custom field" role="button"></SfButton>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div id="custom-field-list" class="container-lg w-100 mx-auto px-3 py-5 min-vh-100" style="@WidthStyle">
			<p class="small">Increase the amount of data that you collect re-order the fields.</p>
			<SfListBox CssClass="e-bigger" TValue="int[]" TItem="DataItem" DataSource="@FieldData" AllowDragAndDrop="true" aria-label="list of fields" role="list">
				<ListBoxFieldSettings Value="Id" Text="Field" IconCss="FontIcon"></ListBoxFieldSettings>
				<ListBoxTemplates TItem="DataItem">
					<ItemTemplate>
						<div class="list-wrapper d-flex align-items-center gap-2">
							<span class="e-icons sf-icon-drag-dot-vertical fs-6 pe-1"></span>
							<span class="pe-1 fs-6 @context.FontIcon"></span>
							<span class="e-list-item-header fw-medium">@context.Field</span>
						</div>
					</ItemTemplate>
				</ListBoxTemplates>
			</SfListBox>
			<SfButton CssClass="e-flat e-primary mt-2" IconCss="e-icons e-plus" Content="Add a field" Type="button" aria-label="add new custom field" role="button"></SfButton>
		</div>
	</section>
}
