@page "/blocks/ai-chat-1"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section>
        <div id="chat-header" class="flex flex-col items-center max-w-4xl mx-auto pb-6 rounded-xl overflow-hidden bg-white dark:bg-gray-900" style="max-height: 850px; min-height: 36rem; max-width: 850px;">
            <div class="flex items-center w-full flex-col px-1 sm:px-4 py-2">
                <SfListView CssClass="!border-0 py-4" DataSource="@PromptDetail" Width="100%" Height="100%" aria-label="chat conversation" role="list">
                    <ListViewFieldSettings TValue="PromptData"></ListViewFieldSettings>
                    <ListViewTemplates TValue="PromptData">
                        <Template Context="Data">
                            @if (Data.Category != "reply")
                            {
                                <div class="flex justify-end ml-auto sm:mr-3 gap-3 items-start w-full sm:w-3/4">
                                    <div class="flex flex-col gap-1 items-end">
                                        <div class="p-3 rounded-lg bg-primary-100 dark:bg-primary-800">
                                            <div class="text-sm text-gray-900 dark:text-white mb-1">@Data.Text</div>
                                            <div class="flex">
                                                <SfButton class="e-flat !border-0 text-base" IconCss="e-icons e-edit" Type="button" aria-label="edit" role="button" style="pointer-events: none"></SfButton>
                                                <SfButton class="e-flat !border-0 text-base" IconCss="e-icons e-copy" Type="button" aria-label="copy" role="button" style="pointer-events: none"></SfButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="flex justify-start gap-3 items-start w-full" style="max-width: 700px">
                                    <div>
                                        <span class="e-avatar e-avatar-circle e-avatar-small !text-xl !text-white dark:!text-black e-icons e-ai-chat bg-primary-600 dark:bg-primary-400"></span>
                                    </div>
                                    <div class="flex flex-col gap-1 pt-1 pb-3 rounded-lg bg-gray-50 dark:bg-gray-700 w-full">
                                        @if (Data.IsList)
                                        {
                                            <SfListView CssClass="!border-0 pl-1 pr-2" DataSource="@ResourceDetail" ShowIcon="false" Width="100%" aria-label="chat conversation" role="list">
                                                <ListViewFieldSettings TValue="ResourceData"></ListViewFieldSettings>
                                                <ListViewTemplates TValue="ResourceData">
                                                    <Template Context="Resource">
                                                        <div class="pt-0">
                                                            @if (Resource.Type == "Header")
                                                            {
                                                                <p class="text-sm text-gray-900 dark:text-white mb-2">@Resource.Text</p>
                                                            }
                                                            else
                                                            {
                                                                <div class="text-sm inline-flex font-medium text-gray-900 dark:text-white">@Resource.Text</div>
                                                                <div class="text-sm contents text-gray-900 dark:text-white">@Resource.Description</div>
                                                            }
                                                        </div>
                                                    </Template>
                                                </ListViewTemplates>
                                            </SfListView>
                                            <div class="flex justify-between px-3">
                                                <div class="flex gap-1 sm:pr-0">
                                                    <SfButton CssClass="e-flat text-base !text-gray-500 dark:!text-gray-200" IconCss="e-icons e-thumbs-up" Type="button" aria-label="like" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat text-base !text-gray-500 dark:!text-gray-200" IconCss="e-icons e-thumbs-down" Type="button" aria-label="dislike" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat text-base !text-gray-500 dark:!text-gray-200" IconCss="e-icons e-edit" Type="button" aria-label="edit" role="button"></SfButton>
                                                </div>
                                                <div class="flex gap-1">
                                                    <SfButton CssClass="e-flat text-base !text-gray-500 dark:!text-gray-200" IconCss="e-icons e-copy" Type="button" aria-label="copy" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat text-base !text-gray-500 dark:!text-gray-200" IconCss="e-icons sf-icon-share-arrow-02" Type="button" aria-label="share" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat text-base !text-gray-500 dark:!text-gray-200" IconCss="e-icons e-align-bottom" Type="button" aria-label="download" role="button"></SfButton>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </Template>
                    </ListViewTemplates>
                </SfListView>
            </div>
        </div>
    </section>

}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section>
        <div id="chat-header" class="d-flex flex-column align-items-center mx-auto pb-3 rounded-lg overflow-hidden bg-body" style="max-height: 850px; min-height: 36rem; max-width: 850px;">
            <div class="d-flex align-items-center w-100 flex-column px-1 px-sm-3 py-2">
                <SfListView CssClass="!border-0 py-4" DataSource="@PromptDetail" Width="100%" Height="100%" aria-label="chat conversation" role="list">
                    <ListViewFieldSettings TValue="PromptData"></ListViewFieldSettings>
                    <ListViewTemplates TValue="PromptData">
                        <Template Context="Data">
                            @if (Data.Category != "reply")
                            {
                                <div class="d-flex justify-content-end ms-auto me-3 gap-3 align-items-start w-100 w-75">
                                    <div class="d-flex flex-column gap-1 align-items-end">
                                        <div class="p-3 rounded bg-primary-subtle">
                                            <div class="fs-6 text-body pb-2">@Data.Text</div>
                                            <div class="d-flex">
                                                <SfButton class="e-flat border-0 fs-6" IconCss="e-icons e-edit" Type="button" aria-label="edit" role="button" style="pointer-events: none"></SfButton>
                                                <SfButton class="e-flat border-0 fs-6" IconCss="e-icons e-copy" Type="button" aria-label="copy" role="button" style="pointer-events: none"></SfButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-start gap-3 align-items-start w-100" style="max-width: 700px">
                                    <div>
                                        <span class="e-avatar e-avatar-circle e-avatar-small fs-5 text-white e-icons e-ai-chat bg-primary"></span>
                                    </div>
                                    <div class="d-flex flex-column gap-1 pt-2 pb-3 rounded bg-light-subtle w-100">
                                        @if (Data.IsList)
                                        {
                                            <SfListView CssClass="!border-0 px-2" DataSource="@ResourceDetail" ShowIcon="false" Width="100%" aria-label="chat conversation" role="list">
                                                <ListViewFieldSettings TValue="ResourceData"></ListViewFieldSettings>
                                                <ListViewTemplates TValue="ResourceData">
                                                    <Template Context="Resource">
                                                        <div class="pt-0">
                                                            @if (Resource.Type == "Header")
                                                            {
                                                                <p class="fs-6 text-body mb-2">@Resource.Text</p>
                                                            }
                                                            else
                                                            {
                                                                <div class="fs-6 d-inline-flex fw-medium text-body">@Resource.Text</div>
                                                                <div class="fs-6 d-inline text-body">@Resource.Description</div>
                                                            }
                                                        </div>
                                                    </Template>
                                                </ListViewTemplates>
                                            </SfListView>
                                            <div class="d-flex justify-content-between px-3">
                                                <div class="d-flex gap-1 pe-0">
                                                    <SfButton CssClass="e-flat" IconCss="e-icons e-thumbs-up" Type="button" aria-label="like" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat" IconCss="e-icons e-thumbs-down" Type="button" aria-label="dislike" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat" IconCss="e-icons e-edit" Type="button" aria-label="edit" role="button"></SfButton>
                                                </div>
                                                <div class="d-flex gap-1">
                                                    <SfButton CssClass="e-flat" IconCss="e-icons e-copy" Type="button" aria-label="copy" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat" IconCss="e-icons sf-icon-share-arrow-02" Type="button" aria-label="share" role="button"></SfButton>
                                                    <SfButton CssClass="e-flat" IconCss="e-icons e-align-bottom" Type="button" aria-label="download" role="button"></SfButton>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </Template>
                    </ListViewTemplates>
                </SfListView>
            </div>
        </div>
    </section>

}
