@page "/blocks/Sidebar-9"
@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-950">
        <div style="height: 580px;">
            <SfSidebar class="bg-gray-50 dark:bg-gray-900 !border-r !border-gray-200 dark:!border-gray-700" Width="328px" @bind-IsOpen="SidebarToggle" Type="SidebarType.Push" aria-label="main navigation menu" role="complementary">
                <div class="flex h-screen">
                    <div class="py-4" style="width: 72px;">
                        <div class="flex justify-center items-center px-3 mb-2">
                            <img src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                        </div>
                        <SfListView class="border-0 e-bigger" DataSource="@NavigationMenu" aria-label="quick navigation links" role="list">
                            <ListViewFieldSettings TValue="IconMenuItem"></ListViewFieldSettings>
                            <ListViewTemplates TValue="IconMenuItem">
                                <Template>
                                    <div class="e-list-wrapper flex justify-center items-center">
                                        <span class="e-icons e-large @context.FontIcon"></span>
                                    </div>
                                </Template>
                            </ListViewTemplates>
                        </SfListView>
                    </div>
                    <div class="pt-4 border-l h-screen border-gray-200 dark:border-gray-700 flex flex-col justify-between" style="width: 256px;">
                        <div>
                            <p class="text-base text-gray-700 dark:text-gray-300 pb-2 px-4">Overview</p>
                            <SfListView class="border-0" DataSource="@InboxMenu" aria-label="main navigation links" role="list">
                                <ListViewFieldSettings TValue="InboxMenuItem"></ListViewFieldSettings>
                                <ListViewTemplates TValue="InboxMenuItem">
                                    <Template>
                                        <div class="e-list-wrapper flex items-center justify-between ml-1.5 pr-1.5">
                                            <span class="flex items-center">
                                                <span class="e-icons @context.FontIcon text-base"></span>
                                                <span class="text-base font-normal pl-4">@context.Field</span>
                                            </span>
                                            @if (@context.Field == "My Inbox")
                                            {
                                                <span class="e-badge e-badge-info e-badge-pill !px-1.5 e-bigger">99+</span>
                                            }
                                            @if (context.Field == "Chats")
                                            {
                                                <span class="e-badge e-badge-info e-badge-pill !px-1.5 e-bigger">10</span>
                                            }
                                        </div>
                                    </Template>
                                </ListViewTemplates>
                            </SfListView>
                            <hr class="border-gray-200 dark:border-gray-700 m-4" />
                            <div>
                                <SfListView class="!border-0" DataSource="@SupportMenu" aria-label="other navigation links" role="list">
                                    <ListViewFieldSettings TValue="SupportMenuItem"></ListViewFieldSettings>
                                    <ListViewTemplates TValue="SupportMenuItem">
                                        <Template>
                                            <div class="e-list-wrapper ml-1.5">
                                                <span class="text-base font-normal">@context.Field</span>
                                            </div>
                                        </Template>
                                    </ListViewTemplates>
                                </SfListView>
                            </div>
                        </div>
                        <SfButton CssClass="e-icons e-chevron-left e-large e-flat ml-auto m-4" Type="button" aria-label="expand/collapse menu" role="button"></SfButton>
                    </div>
                </div>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-3 top-0 left-0 absolute">
        <SfButton CssClass="e-large e-icons e-chevron-right e-round" Type="button" aria-label="expand menu" role="button" @onclick="ToggleSidebar"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div style="height: 600px;">
            <SfSidebar Width="328px" @bind-IsOpen="SidebarToggle" Type="SidebarType.Push" aria-label="main navigation menu" role="complementary">
                <div class="d-flex vh-100">
                    <div class="py-4 d-flex flex-column align-items-center" style="width: 72px;">
                        <div class="d-flex justify-content-center align-items-center px-3 mb-2">
                            <img src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                        </div>
                        <SfListView DataSource="NavigationMenu" class="border-0 e-bigger" aria-label="quick navigation links" role="list">
                            <ListViewFieldSettings TValue="IconMenuItem"></ListViewFieldSettings>
                            <ListViewTemplates TValue="IconMenuItem">
                                <Template>
                                    <div class="e-list-wrapper d-flex justify-content-center align-items-center">
                                        <span class="e-icons e-large @context.FontIcon"></span>
                                    </div>
                                </Template>
                            </ListViewTemplates>
                        </SfListView>
                    </div>
                    <div class="pt-4 vh-100 border-start border-light-subtle opacity-100 d-flex flex-column justify-content-between" style="width: 256px;">
                        <div>
                            <p class="text-body-secondary pb-2 px-3 mb-0 fs-6 mt-2">Overview</p>
                            <SfListView class="border-0 e-bigger" DataSource="@InboxMenu" aria-label="main navigation links" role="list">
                                <ListViewFieldSettings TValue="InboxMenuItem"></ListViewFieldSettings>
                                <ListViewTemplates TValue="InboxMenuItem">
                                    <Template>
                                        <div class="e-list-wrapper d-flex align-items-center justify-content-between ps-1 pe-2">
                                            <span class="d-flex align-items-center">
                                                <span class="e-icons @context.FontIcon fs-6"></span>
                                                <span class="fs-6 fw-normal ps-2 ms-1">@context.Field</span>
                                            </span>
                                            @if (@context.Field == "My Inbox")
                                            {
                                                <span class="e-badge e-badge-info e-badge-pill e-bigger px-1">99+</span>
                                            }
                                            @if (context.Field == "Chats")
                                            {
                                                <span class="e-badge e-badge-info e-badge-pill e-bigger px-1">10</span>
                                            }
                                        </div>
                                    </Template>
                                </ListViewTemplates>
                            </SfListView>
                            <p class="m-3 fs-6 text-body-secondary">Others</p>
                            <div>
                                <SfListView class="border-0 e-bigger" DataSource="@SupportMenu" aria-label="other navigation links" role="list">
                                    <ListViewFieldSettings TValue="SupportMenuItem"></ListViewFieldSettings>
                                    <ListViewTemplates TValue="SupportMenuItem">
                                        <Template>
                                            <div class="e-list-wrapper px-1">
                                                <span class="fs-6 fw-normal">@context.Field</span>
                                            </div>
                                        </Template>
                                    </ListViewTemplates>
                                </SfListView>
                            </div>
                        </div>
                        <SfButton CssClass="e-icons e-chevron-left e-large e-flat ms-auto m-3" Type="button" aria-label="expand/collapse menu" role="button"></SfButton>
                    </div>
                </div>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="py-3 px-1 position-absolute top-0 start-0">
        <SfButton CssClass="e-large e-icons e-chevron-right e-round" Type="button" aria-label="expand menu" role="button" @onclick="ToggleSidebar"></SfButton>
    </div>
    <!-- SB Code - End -->
}