@page "/blocks/list-8"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div class="flex items-center justify-center min-h-screen">
			<div class="max-w-none lg:max-w-2xl w-full m-auto p-4 md:py-8 lg:px-14">
				<div class="e-input-group e-bigger flex w-full">
					<span class="e-input-group-icon e-icons e-search !text-base"></span>
					<input class="e-input !pl-0" type="text" placeholder="People, chat, keywords" aria-label="search for people, chats, or keywords" role="textbox" />
				</div>
				<SfListView CssClass="!border-0 mt-4 e-list-template" DataSource="@ChatMessages" aria-label="list of chats" role="list">
					<ListViewFieldSettings Id="Id" Text="Name" TValue="ChatMessage"></ListViewFieldSettings>
					<ListViewTemplates TValue="ChatMessage">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line border-b border-gray-200 dark:border-gray-600 !py-4 !px-1 sm:!px-3">
									<div class="flex justify-between">
										<div class="flex items-center grow">
											<img class="e-avatar e-avatar-circle e-avatar-large shrink-0" src="assets/images/common/avatar/@context.Image" alt="profile picture" />
											<div class="ml-3 w-11/12">
												<div class="flex justify-between w-full relative">
													<span class="e-list-item-header flex items-center !text-base !font-medium !text-wrap !line-clamp-2 w-3/5 sm:w-4/5 truncate !text-gray-900 dark:!text-gray-200">@context.Name</span>
													<span class="absolute right-0 top-0 @(string.IsNullOrEmpty(context.Badge) ? "text-gray-500" : "text-primary-600 dark:text-primary-400")">@context.Time</span>
												</div>
												<div class="flex !pt-1">
													@if (context.Status != null && context.Id != 1 && context.Id != 4)
													{
														<span class="sf-icon-double-check-01 text-base me-1 @((context.Status.IsViewed ? "text-primary-600 dark:text-primary-400" : "text-gray-500 dark:!text-gray-300"))"></span>
													}
													<span class="e-list-content !text-sm !text-gray-700 dark:!text-gray-200 !whitespace-normal !truncate w-full md:w-full !line-clamp-1">@context.Message</span>
													<div class="flex justify-end">
														@if (!string.IsNullOrEmpty(context.Badge))
														{
															<span class="e-badge e-badge-primary e-badge-pill">@context.Badge</span>
														}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div class="d-flex align-items-center justify-content-center min-vh-100">
			<div class="container-lg w-100 m-auto p-3 p-md-4" style="@WidthStyle">
				<div class="e-input-group e-bigger d-flex w-100">
					<span class="e-input-group-icon e-icons e-search border-0 !pr-3"></span>
					<input class="e-input ps-0" type="text" placeholder="People, chat, keywords" aria-label="search for people, chats, or keywords" role="textbox" />
				</div>
				<SfListView CssClass="border-0 mt-2 e-list-template" DataSource="@ChatMessages" aria-label="list of chats" role="list">
					<ListViewFieldSettings Id="Id" Text="Name" TValue="ChatMessage"></ListViewFieldSettings>
					<ListViewTemplates TValue="ChatMessage">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line py-3 px-1 px-sm-3">
									<div class="d-flex justify-content-between">
										<div class="d-flex w-100">
											<img class="e-avatar e-avatar-circle e-avatar-large flex-shrink-0" src="assets/images/common/avatar/@context.Image" alt="profile picture" />
											<span class="ms-3 w-100">
												<div class="d-flex justify-content-between position-relative">
													<span class="e-list-item-header text-wrap fs-6 fw-medium text-truncate col-6 col-sm-12" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-width: 150px; max-width: 350px;">@context.Name</span>
													<span class="m-0 position-absolute top-0 end-0 @(string.IsNullOrEmpty(context.Badge) ? "" : "text-info")">@context.Time</span>
												</div>
												<div class="d-flex align-items-center pt-1">
													@if (context.Status != null && context.Id != 1 && context.Id != 4)
													{
														<span class="sf-icon-double-check-01 fs-6 me-1 mt-1 @((context.Status.IsViewed ? "text-info" : "text-secondary-subtle"))"></span>
													}
													<span class="e-list-content text-wrap text-truncate w-100" style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;">@((MarkupString)context.Message)</span>
													<div class="d-flex justify-content-end">
														@if (!string.IsNullOrEmpty(context.Badge))
														{
															<span class="e-badge e-badge-info e-badge-pill d-flex align-items-center" style="padding: 0 10px;">@context.Badge</span>
														}
													</div>
												</div>
											</span>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
