@page "/blocks/accumulation-chart-2"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900">
        <div class="h-screen flex justify-center p-4 sm:p-6">
            <div class="w-full" style="max-width: 410px;">
                <div class="flex justify-between items-center">
                    <div>
                        <p class="text-base font-medium text-gray-900 dark:text-white">Transfer History</p>
                        <p class="text-sm text-gray-500">Keep track of your spending</p>
                    </div>
                    <SfButton class="hidden sm:block e-outline" Content="Download Report" Type="button" aria-label="download report" role="button"></SfButton>
                    <SfButton class="block sm:hidden" IconCss="e-icons e-download" Type="button" aria-label="download report" role="button"></SfButton>
                </div>
                <div class="w-fit pt-5 mx-auto hidden sm:block">
                    <SfButtonGroup class="e-btn-group">
                        <input Type="radio" id="week" name="align" value="Week" checked aria-label="week" role="button" />
                        <label class="e-btn" for="week">Week</label>
                        <input Type="radio" id="month" name="align" value="Month" aria-label="month" role="button" />
                        <label class="e-btn" for="month">Month</label>
                        <input Type="radio" id="year" name="align" value="Year" aria-label="year" role="button" />
                        <label class="e-btn" for="year">Year</label>
                        <input Type="radio" id="custom" name="align" value="Custom" aria-label="custom" role="button" />
                        <label class="e-btn" for="custom">Custom</label>
                    </SfButtonGroup>
                </div>
                <SfDropDownButton @ref="DropDownButton" CssClass="block sm:hidden my-4" Content="Week" Items="@PeriodOptions" ItemSelected="OnItemSelected" Type="button" aria-label="choose a range" role="button">
                    <DropDownButtonEvents Opened="@(args => IsDropdownOpen = true)" Closed="@(args => IsDropdownOpen = false)"></DropDownButtonEvents>
                </SfDropDownButton>
                <div>
                    <SfAccumulationChart @ref="Chart" Width="100%" Height="@Height" EnableBorderOnMouseMove="false" Theme="@(CurrentTheme == "tailwind-dark" ? Theme.Tailwind3Dark : Theme.Tailwind3)">
                        <AccumulationChartSeriesCollection>
                            <AccumulationChartSeries Palettes="@(new[] { "#5A61F6", "#91BD34", "#FFB900", "#DE4383", "#01A8B5" })" DataSource="@SegmentData" XName="CategoryName" YName="SpendingShare" InnerRadius="50%" Radius="90%" LegendShape="LegendShape.Circle">
                                <AccumulationDataLabelSettings Name="DisplayLabel" Visible="true">
                                    <AccumulationChartLegendSettings Visible="true" Width="@LegendWidth" Height="@LegendHeight" Padding="12">
                                    </AccumulationChartLegendSettings>
                                </AccumulationDataLabelSettings>
                                <AccumulationChartSeriesBorder Width="3" Color="@(CurrentTheme == "tailwind-dark" ? "#111827" : "White")" />
                            </AccumulationChartSeries>
                        </AccumulationChartSeriesCollection>
                    </SfAccumulationChart>
                </div>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="vh-100 d-flex justify-content-center p-4 p-sm-6">
            <div class="w-100" style="max-width: 410px;">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="fs-6 fw-medium">Transfer History</span>
                        <span class="small text-body-secondary">Keep track of your spending</span>
                    </div>
                    <SfButton class="d-none d-sm-block" CssClass="e-outline" Content="Download Report" Type="button" aria-label="download report" role="button"></SfButton>
                    <SfButton class="d-block d-sm-none" CssClass="e-outline" IconCss="e-icons e-download" Type="button" aria-label="download report" role="button"></SfButton>
                </div>
                <div class="pt-3 mx-auto d-none d-sm-block">
                    <SfButtonGroup class="e-btn-group">
                        <input Type="radio" id="week" name="align" value="Week" checked aria-label="week" role="button" />
                        <label class="e-btn" for="week">Week</label>
                        <input Type="radio" id="month" name="align" value="Month" aria-label="month" role="button" />
                        <label class="e-btn" for="month">Month</label>
                        <input Type="radio" id="year" name="align" value="Year" aria-label="year" role="button" />
                        <label class="e-btn" for="year">Year</label>
                        <input Type="radio" id="custom" name="align" value="Custom" aria-label="custom" role="button" />
                        <label class="e-btn" for="custom">Custom</label>
                    </SfButtonGroup>
                </div>
                <SfDropDownButton @ref="DropDownButton" CssClass="d-block d-sm-none my-3" Content="Week" Items="@PeriodOptions" ItemSelected="OnItemSelected" Type="button" aria-label="choose a range" role="button">
                    <DropDownButtonEvents Opened="@(args => IsDropdownOpen = true)" Closed="@(args => IsDropdownOpen = false)"></DropDownButtonEvents>
                </SfDropDownButton>
                <div>
                    <SfAccumulationChart @ref="Chart" Width="100%" Height="@Height" EnableBorderOnMouseMove="false" Theme="@(CurrentTheme == "bootstrap5.3-dark" ? Theme.Bootstrap5Dark : Theme.Bootstrap5)">
                        <AccumulationChartSeriesCollection>
                            <AccumulationChartSeries Palettes="@(new[] { "#006EEF", "#0EAB44", "#FF9900", "#EF00AC", "#00EFA7" })" DataSource="@SegmentData" XName="CategoryName" YName="SpendingShare" InnerRadius="50%" Radius="90%" LegendShape="LegendShape.Circle">
                                <AccumulationDataLabelSettings Name="DisplayLabel" Visible="true">
                                    <AccumulationChartLegendSettings Visible="true" Width="@LegendWidth" Height="@LegendHeight" Padding="12">
                                    </AccumulationChartLegendSettings>
                                </AccumulationDataLabelSettings>
                                <AccumulationChartSeriesBorder Width="3" Color="@(CurrentTheme == "bootstrap5.3-dark" ? "#212529" : "white")" />
                            </AccumulationChartSeries>
                        </AccumulationChartSeriesCollection>
                    </SfAccumulationChart>
                </div>
            </div>
        </div>
    </section>
}
