@page "/blocks/tile-view-2"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div id="product-details">
			<SfAppBar CssClass="shadow-none px-0">
				<div class="w-full px-4 sm:px-6 xl:px-10">
					<SfBreadcrumb EnableNavigation="false">
						<BreadcrumbItems>
							<BreadcrumbItem IconCss="e-icons e-home" Text="Dashboard"></BreadcrumbItem>
							<BreadcrumbItem IconCss="sf-icon-cart" Text="Shopping Cart"></BreadcrumbItem>
						</BreadcrumbItems>
						<BreadcrumbTemplates>
							<SeparatorTemplate>
								<span class="e-icons e-chevron-right"></span>
							</SeparatorTemplate>
						</BreadcrumbTemplates>
					</SfBreadcrumb>
					<div class="e-appbar-spacer"></div>
					<SfButton CssClass="e-flat sf-icon-notification-bell-01 e-small !text-base ml-1" Type="button" aria-label="notification" role="button"></SfButton>
					<span class="e-avatar e-avatar-circle e-avatar-small shrink-0 ml-2 sm:ml-3">
						<img src="assets/images/common/avatar/avatar-1.jpg" alt="profile picture" />
					</span>
				</div>
			</SfAppBar>
			<div class="border-t border-gray-200 dark:border-gray-600">
				<div class="px-4 sm:px-6 py-4 xl:px-10 w-full">
					<div class="sm:flex items-center justify-between w-full gap-4">
						<h4 class="text-xl font-medium text-gray-900 dark:text-gray-50 shrink-0">Shopping cart</h4>
						<div class="e-input-group mt-3 sm:mt-0" style="max-width: 517px;">
							<span class="e-input-group-icon e-icons e-search border-0"></span>
							<input class="e-input !pl-0" type="text" placeholder="Search product" aria-label="search product" role="textbox" />
						</div>
					</div>
					<div class="mt-4 sm:flex items-center justify-between w-full">
						<span class="flex items-center">
							<SfSwitch Checked="true" CssClass="w-9" aria-label="show only discounted items" role="switch"></SfSwitch>
							<span class="text-base sm:text-sm text-gray-900 dark:text-gray-50 ml-2">Show only discounted items</span>
						</span>
						<SfDropDownButton CssClass="mt-3 sm:mt-0" Type="button" Content="All Categories" aria-label="choose category" role="button">
							<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
						</SfDropDownButton>
					</div>
					<SfListView CssClass="!border-0 mt-6 e-list-template" DataSource="@ProductDetails" aria-label="list of product with details" role="list">
						<ListViewFieldSettings Id="ProductId" Text="Name" TValue="Product"></ListViewFieldSettings>
						<ListViewTemplates TValue="Product">
							<Template>
								@{
									<div class="e-card flex flex-row p-4 sm:py-5 sm:px-5">
										<div class="e-card-image !w-auto shrink-0">
											<img class="!w-28 h-24 sm:h-28" src="assets/images/tile-view/shopping-cart/@context.Image" alt="product picture" />
										</div>
										<div class="e-card-stacked ml-3 flex sm:!flex-row flex-col w-full sm:!justify-between">
											<div class="e-card-header !p-0 !flex !flex-col !justify-start">
												<div class="e-card-header-title mb-1">
													<p class="text-sm md:text-lg xl:text-xl font-medium text-gray-900 dark:text-gray-50 !whitespace-normal !text-wrap !line-clamp-2 truncate">@context.Name</p>
												</div>
												<span class="e-card-sub-title text-gray-500 dark:text-gray-400">@context.Description</span>
												<div class="mt-3 hidden sm:block">
													<span class="e-badge e-badge-pill e-badge-success e-bigger">@context.Status</span>
													<span class="e-badge e-badge-pill e-badge-info e-bigger ml-2">@context.DeliveryType</span>
												</div>
											</div>
											<div class="e-card-content !px-0 mt-2 sm:mt-0 shrink-0 ml-0 sm:ml-2">
												<div class="flex items-center sm:justify-end flex-wrap">
													<span class="pr-1 text-lg sm:text-xl font-semibold text-gray-900 dark:text-gray-50">@context.Price.ToString("C")</span>
													<span class="pr-1 text-xs sm:text-sm text-gray-500 dark:text-gray-400 line-through">@context.OriginalPrice.ToString("C")</span>
													<span class="font-medium text-xs text-primary-600 dark:text-primary-400">(@context.Discount)</span>
												</div>
												<div class="mt-3 sm:justify-end sm:flex items-center hidden sm:block pr-1">
													<span class="text-gray-500 dark:text-gray-400 mr-2">Quantity</span>
													<SfNumericTextBox Format="n0" Value="1" Width="130px" aria-label="quantity of items" role="spinbutton"></SfNumericTextBox>
												</div>
												<div class="mt-3 text-end flex px-1">
													<SfButton CssClass="e-primary sm:w-44 w-full" IconCss="sf-icon-cart !text-base" Type="button" Content="Add to Cart" aria-label="add to cart" role="button"></SfButton>
													<SfButton CssClass="sf-icon-heart text-base sm:!flex sm:!items-center ml-2 h-8 px-2 !hidden" Type="button" aria-label="add to wishlist" role="button"></SfButton>
												</div>
											</div>
										</div>
									</div>
								}
							</Template>
						</ListViewTemplates>
					</SfListView>
				</div>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body-tertiary">
		<div id="product-details">
			<SfAppBar CssClass="px-0">
				<div class="px-3 px-sm-4 px-xl-5">
					<SfBreadcrumb EnableNavigation="false">
						<BreadcrumbItems>
							<BreadcrumbItem IconCss="e-icons e-home" Text="Dashboard"></BreadcrumbItem>
							<BreadcrumbItem IconCss="sf-icon-cart" Text="Shopping Cart"></BreadcrumbItem>
						</BreadcrumbItems>
						<BreadcrumbTemplates>
							<SeparatorTemplate>
								<span class="e-icons e-chevron-right"></span>
							</SeparatorTemplate>
						</BreadcrumbTemplates>
					</SfBreadcrumb>
					<div class="e-appbar-spacer"></div>
					<SfButton CssClass="e-icons e-flat sf-icon-notification-bell-01 fs-6" Type="button" aria-label="notification" role="button"></SfButton>
					<span class="e-avatar e-avatar-circle e-avatar-small ms-3">
						<img src="assets/images/common/avatar/avatar-1.jpg" alt="profile picture" />
					</span>
				</div>
			</SfAppBar>
			<div class="border-top border-light-subtle">
				<div class="p-3 px-sm-4 px-xl-5">
					<div class="d-sm-flex align-items-center justify-content-between">
						<h4 class="fs-5 fw-medium text-body mb-0">Shopping cart</h4>
						<div class="col-12 col-sm-5 mt-3 mt-sm-0">
							<div class="e-input-group">
								<span class="e-input-group-icon e-icons e-search border-0"></span>
								<input class="e-input ps-0" type="text" placeholder="Search product" aria-label="search product" role="textbox" />
							</div>
						</div>
					</div>
					<div class="mt-3 d-sm-flex align-items-center justify-content-between">
						<span class="d-flex align-items-center">
							<SfSwitch Checked="true" CssClass="bs-switch" aria-label="show only discounted items" role="switch"></SfSwitch>
							<span class="fs-6 text-body ms-2 ps-1">Show only discounted items</span>
						</span>
						<SfDropDownButton CssClass="mt-3 mt-sm-0 e-outline" Type="button" Content="All Categories" aria-label="choose category" role="button">
							<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
						</SfDropDownButton>
					</div>
					<SfListView CssClass="border-0 mt-4 e-list-template" DataSource="@ProductDetails" aria-label="list of product with details" role="list">
						<ListViewFieldSettings Id="ProductId" Text="Name" TValue="Product"></ListViewFieldSettings>
						<ListViewTemplates TValue="Product">
							<Template>
								@{
									<div class="e-card d-flex flex-row p-2 rounded-3">
										<div class="e-card-image w-auto ps-2">
											<img src="assets/images/tile-view/shopping-cart/@context.Image" alt="product picture" style="width: 112px; height: 108px;" />
										</div>
										<div class="e-card-stacked ms-2 ps-1 py-1 d-flex flex-column flex-sm-row w-100 justify-content-between">
											<div class="e-card-header flex flex-column p-0 justify-content-start">
												<div class="e-card-header-title mb-1">
													<p class="fs-5 fw-medium text-body mb-0 line-clamp-2 text-truncate text-wrap overflow-hidden" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@context.Name</p>
												</div>
												<span class="e-card-sub-title text-body-secondary">@context.Description</span>
												<div class="mt-2 pt-1 d-none d-sm-block">
													<span class="e-badge e-badge-pill e-badge-success e-bigger">@context.Status</span>
													<span class="e-badge e-badge-pill e-badge-info e-bigger ms-2">@context.DeliveryType</span>
												</div>
											</div>
											<div class="e-card-content p-0 pe-1 mt-2 mt-sm-0 flex-shrink-0 ms-0 col-sm-5 col-md-4 col-lg-3 ps-xl-3">
												<div class="d-flex justify-content-sm-end align-items-center flex-wrap">
													<span class="fs-5 fw-medium text-body me-1">@context.Price.ToString("C")</span>
													<span class="me-1 fs-6 text-body-secondary text-decoration-line-through">@context.OriginalPrice.ToString("C")</span>
													<span class="fw-medium text-primary">(@context.Discount)</span>
												</div>
												<div class="mt-2 pt-1 d-none d-sm-flex justify-content-sm-end align-items-center flex-wrap">
													<span class="text-body-secondary me-2">Quantity</span>
													<SfNumericTextBox Format="n0" Value="1" Width="130px" aria-label="quantity of items" role="spinbutton"></SfNumericTextBox>
												</div>
												<div class="mt-2 pt-1 d-flex justify-content-sm-end">
													<SfButton CssClass="e-primary w-100 w-sm-25" IconCss="sf-icon-cart" Type="button" Content="Add to Cart" aria-label="add to cart" role="button"></SfButton>
													<SfButton CssClass="e-outline sf-icon-heart fs-6 ms-2 d-none d-sm-block" Type="button" aria-label="add to wishlist" role="button"></SfButton>
												</div>
											</div>
										</div>
									</div>
								}
							</Template>
						</ListViewTemplates>
					</SfListView>
				</div>
			</div>
		</div>
	</section>
}
