@page "/blocks/ai-floating-menu-3"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-800 pr-6">
        <div id="dialog-container" style="min-height: 940px;">
            <SfDialog @ref="Dialog" class="sm:rounded-lg rounded-none overflow-hidden border-0" Target="#dialog-container" Visible="@IsDialogVisible" Width="380px" Height="920px" aria-label="integration settings panel" role="dialog">
                <DialogTemplates>
                    <Header>
                        <div class="flex justify-between items-center pt-1.5">
                            <div class="flex items-center gap-2">
                                <span class="e-avatar bg-gray-100 dark:bg-gray-700">
                                    <span class="e-avatar e-avatar-small bg-white dark:bg-gray-800">
                                        <i class="e-icons e-chart text-lg text-orange-700 dark:text-orange-500"></i>
                                    </span>
                                </span>
                                <span class="text-sm font-semibold">Integration settings</span>
                            </div>
                            <SfButton Class="m-1" CssClass="e-flat e-small e-round" IconCss="e-icons e-close" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="close settings panel" role="button"></SfButton>
                        </div>
                    </Header>
                    <Content>
                        <div class="flex flex-col gap-6">
                            <div class="flex flex-col gap-4">
                                <div class="flex flex-col gap-2">
                                    <span class="text-sm font-semibold text-gray-900 dark:text-white">Google analytics</span>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">Create a property in your <a href="javascript:void(0);" class="underline">Google analytics account</a>. You can find your measurement ID <a href="javascript:void(0);" class="underline">here</a>.</p>
                                </div>
                                <div class="flex flex-col gap-1">
                                    <label class="flex justify-between items-center text-xs font-medium text-gray-900 dark:text-white">Measurement ID*<span class="flex gap-1 items-center text-green-700 dark:text-green-500"><span class="e-icons e-circle-info text-sm"></span><span class="text-xs">Verified</span></span></label>
                                    <SfTextBox Type="InputType.Text" Value="G-QPD2NX5E3C" aria-label="enter your google analytics measurement ID" role="textbox"></SfTextBox>
                                </div>
                            </div>
                            <div class="border border-dashed border-gray-200 dark:border-gray-600"></div>
                            <div class="flex flex-col gap-4">
                                <div class="flex flex-col gap-2">
                                    <span class="text-sm font-semibold text-gray-900 dark:text-white">Google optimize</span>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">Create a new container in your <a href="javascript:void(0);" class="underline">Google optimize</a> account then paste the container ID <a href="javascript:void(0);" class="underline">here</a>.</p>
                                </div>
                                <div class="flex flex-col gap-1">
                                    <label class="text-xs font-medium text-gray-900 dark:text-white">Container ID</label>
                                    <SfTextBox Type="InputType.Text" Placeholder="e.g. G-QPD2NX5E3C" aria-label="enter your google optimize container ID" role="textbox"></SfTextBox>
                                </div>
                                <span class="text-xs text-gray-500 dark:text-gray-400">Start running A/B, multivariate, and more tests on your pages with Google optimize. You'll need to have Google analytics enabled.</span>
                            </div>
                            <div class="border border-dashed border-gray-200 dark:border-gray-600"></div>
                            <div class="flex flex-col gap-3">
                                <div class="flex flex-col gap-2">
                                    <span class="text-sm font-semibold text-gray-900 dark:text-white">Private key (JSON)</span>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">Create a private key under service accounts in Google Cloud console and upload.</p>
                                </div>
                                <div id="upload-template" class="flex flex-col items-center border border-dashed border-gray-200 dark:border-gray-600 rounded-md pt-4">
                                    <span class="e-icons e-align-top mt-1 text-gray-500 dark:text-gray-200"></span>
                                    <SfUploader CssClass="mt-4 flex flex-col gap-2 mb-6" DropArea="#upload-template">
                                        <UploaderButtons Browse="Click to upload"></UploaderButtons>
                                    </SfUploader>
                                </div>
                                <div class="flex items-center">
                                    <div class="border border-gray-200 dark:border-gray-600 w-full border-dashed"></div>
                                    <p class="text-xs text-gray-500 dark:text-gray-400 px-2">OR</p>
                                    <div class="border border-gray-200 dark:border-gray-600 w-full border-dashed"></div>
                                </div>
                                <SfTextArea ResizeMode="Resize.None" aria-label="enter your private key in JSON format" role="textbox" Style="height: 86px;"></SfTextArea>
                            </div>
                        </div>
                    </Content>
                    <FooterTemplate>
                        <div class="flex flex-col justify-between lg:items-center lg:flex-row gap-4 py-2">
                            <SfButton Class="w-100 lg:w-fit !ml-0" IconCss="e-icons e-user" Type="button" aria-label="support" role="button">Support</SfButton>
                            <div class="flex flex-col-reverse lg:flex-row gap-4 lg:gap-3">
                                <SfButton Class="w-100 lg:w-fit !ml-0" Type="button" aria-label="cancel" role="button">Cancel</SfButton>
                                <SfButton Class="w-100 lg:w-fit !ml-0" CssClass="e-primary" Type="button" aria-label="save changes" role="button">Save changes</SfButton>
                            </div>
                        </div>
                    </FooterTemplate>
                </DialogTemplates>
                <DialogEvents OnOpen="@(args => args.MaxHeight = " 100%")" Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                <DialogPositionData X="right" Y="@(IsMobileView ? " top" : "12" )"></DialogPositionData>
            </SfDialog>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-6 top-0 right-4 absolute">
        <SfButton CssClass="e-outline" Content="Setting Panel" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="open settings panel" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body pe-3">
        <div id="dialog-container" style="min-height: 940px;">
            <SfDialog @ref="Dialog" class="rounded-3" Target="#dialog-container" Visible="@IsDialogVisible" Width="380px" Height="920px" aria-label="integration settings panel" role="dialog">
                <DialogTemplates>
                    <Header>
                        <div class="d-flex justify-content-between align-items-center pt-1 ms-1">
                            <div class="d-flex align-items-center gap-2">
                                <span class="e-avatar rounded-1 bg-body-tertiary">
                                    <span class="e-avatar e-avatar-small rounded-1 bg-body">
                                        <i class="e-icons e-chart fs-5 text-warning"></i>
                                    </span>
                                </span>
                                <span class="fw-bold small">Integration settings</span>
                            </div>
                            <SfButton class="m-1" CssClass="e-flat e-small e-round" IconCss="e-icons e-close" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="close settings panel" role="button"></SfButton>
                        </div>
                    </Header>
                    <Content>
                        <div class="d-flex flex-column gap-4 fs-6 px-1">
                            <div class="d-flex flex-column gap-3 small">
                                <div class="d-flex flex-column gap-2">
                                    <span class="fw-bold text-body">Google analytics</span>
                                    <p class="small text-body-secondary mb-0">Create a property in your <a href="javascript:void(0);" class="text-body-secondary">Google analytics account</a>. You can find your measurement ID <a href="javascript:void(0);" class="text-body-secondary">here</a>.</p>
                                </div>
                                <div class="d-flex flex-column gap-1">
                                    <label class="d-flex justify-content-between fw-medium small text-body">
                                        Measurement ID* 
                                        <span class="d-flex gap-1 align-items-center text-success">
                                            <span class="e-icons e-circle-info"></span> Verified
                                        </span>
                                    </label>
                                    <SfTextBox Type="InputType.Text" Value="G-QPD2NX5E3C" aria-label="enter your google analytics measurement ID" role="textbox"></SfTextBox>
                                </div>
                            </div>
                            <div class="border border-light-subtle m-0" style="border-style: dashed !important;"></div>
                            <div class="d-flex flex-column gap-3 small">
                                <div class="d-flex flex-column gap-2">
                                    <span class="fw-bold text-body">Google optimize</span>
                                    <p class="small text-body-secondary mb-0">
                                        Create a new container in your 
                                        <a href="javascript:void(0);" class="text-body-secondary">Google optimize</a> account 
                                        then paste the container ID 
                                        <a href="javascript:void(0);" class="text-body-secondary">here</a>.
                                    </p>
                                </div>
                                <div class="d-flex flex-column gap-1">
                                    <label class="fw-medium small text-body">Container ID</label>
                                    <SfTextBox Type="InputType.Text" Placeholder="e.g. G-QPD2NX5E3C" aria-label="enter your google optimize container ID" role="textbox"></SfTextBox>
                                </div>
                                <span class="small text-body-secondary">Start running A/B, multivariate, and more tests on your pages with Google optimize. You'll need to have Google analytics enabled.</span>
                            </div>
                            <div class="border border-light-subtle m-0" style="border-style: dashed !important;"></div>
                            <div class="d-flex flex-column gap-3 small">
                                <div class="d-flex flex-column gap-2">
                                    <span class="fw-bold text-body">Private key (JSON)</span>
                                    <p class="small text-body-secondary mb-0">Create a private key under service accounts in Google Cloud console and upload.</p>
                                </div>
                                <div id="upload-template" class="d-flex flex-column align-items-center border rounded pt-3" style="border-style: dashed !important;">
                                    <span class="e-icons e-align-top mt-1 fs-6 text-body-secondary"></span>
                                    <SfUploader CssClass="my-3 d-flex flex-column gap-2" DropArea="#upload-template">
                                        <UploaderButtons Browse="Click to upload"></UploaderButtons>
                                    </SfUploader>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="border border-light-subtle w-100" style="border-style: dashed !important;"></div>
                                    <p class="small text-body-tertiary px-2 mb-0">OR</p>
                                    <div class="border border-light-subtle w-100" style="border-style: dashed !important;"></div>
                                </div>
                                <SfTextArea ResizeMode="Resize.None" aria-label="enter your private key in JSON format" role="textbox" style="height: 86px;"></SfTextArea>
                            </div>
                        </div>
                    </Content>
                    <FooterTemplate>
                        <div class="d-flex flex-column justify-content-between align-items-lg-center flex-lg-row gap-3 p-1">
                            <SfButton CssClass="e-outline flex-grow-1 flex-sm-grow-0 ms-0" IconCss="e-icons e-user" Type="button" aria-label="support" role="button">Support</SfButton>
                            <div class="d-flex flex-column-reverse flex-lg-row gap-3">
                                <SfButton CssClass="e-outline flex-grow-1 flex-lg-grow-0 ms-0" Type="button" aria-label="cancel" role="button">Cancel</SfButton>
                                <SfButton CssClass="e-primary flex-grow-1 flex-lg-grow-0 ms-0" Type="button" aria-label="save changes" role="button">Save changes</SfButton>
                            </div>
                        </div>
                    </FooterTemplate>
                </DialogTemplates>
                <DialogEvents OnOpen="@(args => args.MaxHeight = "100%")" Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                <DialogPositionData X="right" Y="@(IsMobileView ? "top" : "12")"></DialogPositionData>
            </SfDialog>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-3 position-absolute top-0 end-0 me-4">
        <SfButton CssClass="e-outline" Content="Setting Panel" Type="button" OnClick="@(() => IsDialogVisible = !IsDialogVisible)" aria-label="open settings panel" role="button"></SfButton>
    </div>
   <!-- SB Code - End -->
}