@page "/blocks/Sidebar-4"
@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-950">
        <div style="height: 730px;">
            <SfSidebar class="bg-gray-50 dark:bg-gray-900 !border-r !border-gray-200 dark:!border-gray-700" Width="256px" IsOpen="@IsSidebarOpen" ShowBackdrop="@IsBackdropVisible" Type="SidebarType.Push" aria-label="main navigation menu" role="complementary">
                <div class="h-screen">
                    <div class="flex justify-between items-center p-4">
                        <div class="flex items-center">
                            <span class="e-avatar e-avatar-circle e-avatar-small">
                                <img src="assets/images/common/avatar/avatar-2.jpg" alt="profile picture" />
                            </span>
                            <div class="ml-2">
                                <div class="text-base font-medium leading-normal text-gray-900 dark:text-white">John Wick</div>
                                <a class="text-gray-900 dark:text-white" href="mailto:johnwick@company.com">johnwick&#64;company.com</a>
                            </div>
                        </div>
                        <SfButton CssClass="e-icons e-chevron-down-double e-large e-flat px-1" Type="button" aria-label="view additional profile settings" role="button"></SfButton>
                    </div>
                    <div class="px-4 py-3">
                        <div class="e-input-group">
                            <span class="e-input-group-icon e-icons e-search"></span>
                            <input class="e-input !pl-0" type="text" placeholder="Search projects" aria-label="search projects" role="textbox" />
                        </div>
                    </div>
                    <div>
                        <SfListView class="border-0" DataSource="@NavigationMenu" aria-label="main navigation links" role="list">
                            <ListViewFieldSettings TValue="MenuItem"></ListViewFieldSettings>
                            <ListViewTemplates TValue="MenuItem">
                                <Template>
                                    <div class="e-list-wrapper flex items-center px-1">
                                        <span class="e-icons @context.FontIcon text-base"></span>
                                        <span class="text-base font-normal pl-4">@context.Field</span>
                                    </div>
                                </Template>
                            </ListViewTemplates>
                        </SfListView>
                    </div>
                    <hr class="mx-4 my-3 border-gray-200 dark:border-gray-700" />
                    <div>
                        <div class="flex justify-between items-center px-4 py-3">
                            <span class="text-base text-gray-900 dark:text-white">Collection</span>
                            <SfButton CssClass="e-icons e-circle-add e-medium e-flat" Type="button" aria-label="add new item" role="button"></SfButton>
                        </div>
                        <div>
                            <SfListView class="border-0" DataSource="@BusinessCategories" aria-label="other navigation links" role="list">
                                <ListViewFieldSettings TValue="DataModel"></ListViewFieldSettings>
                                <ListViewTemplates TValue="DataModel">
                                    <Template>
                                        <div class="e-list-wrapper flex items-center px-1">
                                            <span class="e-icons @context.FontIcon text-base"></span>
                                            <span class="text-base font-normal pl-4">@context.Field</span>
                                        </div>
                                    </Template>
                                </ListViewTemplates>
                            </SfListView>
                        </div>
                        <div class="p-4">
                            <SfButton CssClass="e-outline w-full" IconCss="e-icons e-plus e-medium" Content="Add Collection" Type="Button" aria-label="add collection" role="button"></SfButton>
                        </div>
                    </div>
                </div>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-3 top-0 left-0 absolute">
        <SfButton CssClass="e-round e-large e-icons e-chevron-right" OnClick="@(() => IsSidebarOpen = !IsSidebarOpen)" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div style="height: 730px;">
            <SfSidebar Width="256px" IsOpen="@IsSidebarOpen" ShowBackdrop="@IsBackdropVisible" Type="SidebarType.Push" aria-label="main navigation menu" role="complementary">
                <div class="vh-100">
                    <div class="d-flex justify-content-between align-items-center p-3">
                        <div class="d-flex align-items-center">
                            <span class="e-avatar e-avatar-small e-avatar-circle">
                                <img src="assets/images/common/avatar/avatar-2.jpg" alt="profile picture" />
                            </span>
                            <div class="ms-3">
                                <div class="fs-6 fw-medium text-body">John Wick</div>
                                <a class="text-body-secondary text-decoration-none" href="mailto:johnwick@company.com">johnwick&#64;company.com</a>
                            </div>
                        </div>
                        <SfButton CssClass="e-icons e-chevron-down-double e-flat" Type="button" aria-label="view additional profile settings" role="button"></SfButton>
                    </div>
                    <div class="px-3">
                        <div class="e-input-group">
                            <span class="e-input-group-icon e-icons e-search border-end-0"></span>
                            <input class="e-input" type="text" placeholder="Search projects" aria-label="search projects" role="textbox" />
                        </div>
                    </div>
                    <div class="mt-2 pt-1">
                        <SfListView class="border-0 e-bigger" DataSource="@NavigationMenu" aria-label="main navigation links" role="list">
                            <ListViewFieldSettings TValue="MenuItem"></ListViewFieldSettings>
                            <ListViewTemplates TValue="MenuItem">
                                <Template>
                                    <div class="e-list-wrapper d-flex align-items-center px-1">
                                        <span class="e-icons @context.FontIcon fs-6"></span>
                                        <span class="mb-0 ms-1 ps-2 fs-6">@context.Field</span>
                                    </div>
                                </Template>
                            </ListViewTemplates>
                        </SfListView>
                    </div>
                    <hr class="mx-3 border-light-subtle opacity-100" />
                    <div>
                        <div class="d-flex justify-content-between align-items-center px-3 pb-2">
                            <span class="mb-0 text-body-secondary fs-6">Collection</span>
                            <SfButton class="e-icons e-circle-add e-medium e-flat" Type="button" aria-label="add new item" role="button"></SfButton>
                        </div>
                        <div class="mt-1">
                            <SfListView class="border-0 e-bigger" DataSource="@BusinessCategories" aria-label="other navigation links" role="list">
                                <ListViewFieldSettings TValue="DataModel"></ListViewFieldSettings>
                                <ListViewTemplates TValue="DataModel">
                                    <Template>
                                        <div class="e-list-wrapper d-flex align-items-center px-1">
                                            <span class="e-icons @context.FontIcon fs-6"></span>
                                            <span class="mb-0 ms-1 ps-2 fs-6">@context.Field</span>
                                        </div>
                                    </Template>
                                </ListViewTemplates>
                            </SfListView>
                        </div>
                        <div class="p-3">
                            <SfButton class="e-outline w-100 mb-0" IconCss="e-icons e-plus e-medium" Content="Add Collection" Type="Button" aria-label="add collection" role="button"></SfButton>
                        </div>
                    </div>
                </div>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="py-3 px-1 position-absolute top-0 start-0">
        <SfButton CssClass="e-round e-large e-icons e-chevron-right" OnClick="@(() => IsSidebarOpen = !IsSidebarOpen)" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}