@page "/blocks/checkout-5"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section>
		<div id="dialog-container" class="relative" style="min-height: 1370px !important;">
			<SfDialog @ref="Dialog" CssClass="absolute" Target="#dialog-container" Visible="true" ShowCloseIcon="true" Width="662px" Height="100%" CloseOnEscape="true">
				<div class="max-w-2xl px-1 text-gray-700 dark:text-gray-300">
					<DialogTemplates>
						<Header>
							<span class="text-lg">My shopping cart</span>
						</Header>
						<Content>
							<div class="p-3 mt-2 bg-gray-100 dark:bg-gray-700 rounded-lg">
								<div class="grid grid-cols-1 gap-3">
									<div class="grid grid-cols-1 gap-6">
										<div class="flex justify-between">
											<div class="text-base text-gray-700 dark:text-gray-300">Subtotal</div>
											<div class="text-base font-semibold text-gray-900 dark:text-white">$8,900.00</div>
										</div>
										<div class="flex justify-between">
											<div class="text-base text-gray-700 dark:text-gray-300">Savings</div>
											<div class="text-base font-semibold text-green-700 dark:text-green-500">-$299.00</div>
										</div>
										<div class="flex justify-between">
											<div class="text-base text-gray-700 dark:text-gray-300">Store pickup</div>
											<div class="text-base font-semibold text-gray-900 dark:text-white">$99.00</div>
										</div>
										<div class="flex justify-between">
											<div class="text-base text-gray-700 dark:text-gray-300">Tax</div>
											<div class="text-base font-semibold text-gray-900 dark:text-white">$899.00</div>
										</div>
									</div>
									<div>
										<hr class="w-full border-gray-200 dark:border-gray-600" />
									</div>
									<div class="flex justify-between">
										<div class="text-base font-semibold text-gray-700 dark:text-gray-300">Total</div>
										<div class="text-base font-semibold text-gray-900 dark:text-white">$9,599.00</div>
									</div>
								</div>
							</div>
							<form action="#" class="mt-5 md:mt-4 mb-6" onsubmit="event.preventDefault();">
								<h2 class="mb-4 font-semibold text-lg text-gray-900 dark:text-white">Delivery details</h2>
								<div class="grid gap-5">
									<div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full">
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">First name</label>
											<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="First name" FloatLabelType="FloatLabelType.Never" aria-label="enter the first name" role="textbox"></SfTextBox>
										</div>
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">Last name</label>
											<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="Last name" FloatLabelType="FloatLabelType.Never" aria-label="enter the last name" role="textbox"></SfTextBox>
										</div>
									</div>
									<div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full">
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">Country</label>
											<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="Country" aria-label="choose a country" role="listbox"></SfDropDownList>
										</div>
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">City</label>
											<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="City" aria-label="choose a city" role="listbox"></SfDropDownList>
										</div>
									</div>
									<div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full">
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">Phone number</label>
											<div class="flex space-x-2">
												<div class="w-2/5">
													<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="+1" aria-label="choose a country code" role="listbox"></SfDropDownList>
												</div>
												<div class="w-4/5">
													<SfMaskedTextBox CssClass="e-bigger" Mask="9999999999" Placeholder="432 432 4321" PromptChar="' '" aria-label="enter your mobile number" role="textbox"></SfMaskedTextBox>
												</div>
											</div>
										</div>
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">Email</label>
											<SfTextBox CssClass="e-bigger" Type="InputType.Email" Placeholder="Email" FloatLabelType="FloatLabelType.Never" aria-label="enter the email address" role="textbox"></SfTextBox>
										</div>
									</div>
									<div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full">
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">Company name</label>
											<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="Company name" FloatLabelType="FloatLabelType.Never" aria-label="enter the company name" role="textbox"></SfTextBox>
										</div>
										<div>
											<label class="block text-sm font-semibold mb-1 text-gray-700 dark:text-gray-300">VAT number</label>
											<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="VAT number" FloatLabelType="FloatLabelType.Never" aria-label="enter the VAT number" role="textbox"></SfTextBox>
										</div>
									</div>
								</div>
							</form>
							<div>
								<h2 class="mb-4 font-semibold text-lg text-gray-900 dark:text-white">Payments</h2>
								<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
									<div class="e-card pt-4 shadow-none border-transparent hover:border-primary-600 dark:hover:border-primary-400 hover:border bg-gray-100 dark:bg-gray-800">
										<div class="e-card-content">
											<div class="e-bigger">
												<SfRadioButton Label="Credit card" Name="payment" TChecked="Boolean" aria-label="credit card" role="radio"></SfRadioButton>
											</div>
											<div class="mt-1 ml-7 text-gray-500 dark:text-gray-400">Pay with your credit card</div>
										</div>
										<div class="e-card-actions">
											<SfButton CssClass="e-flat mr-3" IconCss="e-icons e-trash e-medium" Content="Delete" Type="button" aria-label="delete" role="button"></SfButton>
											<SfButton CssClass="e-flat" IconCss="e-icons e-edit e-medium" Content="Edit" Type="button" aria-label="edit" role="button"></SfButton>
										</div>
									</div>
									<div class="e-card pt-4 shadow-none border-transparent hover:border-primary-600 dark:hover:border-primary-400 bg-gray-100 dark:bg-gray-800">
										<div class="e-card-content">
											<div class="e-bigger">
												<SfRadioButton Label="Payment on delivery" Name="payment" Value="Payment on delivery" Checked="@SelectedPaymentMethod" aria-label="payment on delivery" role="radio"></SfRadioButton>
											</div>
											<div class="mt-1 ml-7 text-gray-500 dark:text-gray-400">+ $12 payment processing fee</div>
										</div>
										<div class="e-card-actions">
											<SfButton CssClass="e-flat mr-3" IconCss="e-icons e-trash e-medium" Content="Delete" Type="button" aria-label="delete" role="button"></SfButton>
											<SfButton CssClass="e-flat" IconCss="e-icons e-edit e-medium" Content="Edit" Type="button" aria-label="edit" role="button"></SfButton>
										</div>
									</div>
									<div class="e-card pt-4 shadow-none border-transparent hover:border-primary-600 dark:hover:border-primary-400 bg-gray-100 dark:bg-gray-800">
										<div class="e-card-content">
											<div class="e-bigger">
												<SfRadioButton Label="PayPal account" Name="payment" TChecked="Boolean" aria-label="paypal account" role="radio"></SfRadioButton>
											</div>
											<div class="mt-1 ml-7 text-gray-500 dark:text-gray-400">Connect to your account</div>
										</div>
										<div class="e-card-actions">
											<SfButton CssClass="e-flat mr-3" IconCss="e-icons e-trash e-medium" Content="Delete" Type="button" aria-label="delete" role="button"></SfButton>
											<SfButton CssClass="e-flat" IconCss="e-icons e-edit e-medium" Content="Edit" Type="button" aria-label="edit" role="button"></SfButton>
										</div>
									</div>
								</div>
							</div>
							<div class="mt-6">
								<h2 class="mb-4 font-semibold text-lg text-gray-900 dark:text-white">Delivery methods</h2>
								<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
									<div class="e-card pt-4 pb-1 shadow-none border-transparent hover:border-primary-600 dark:hover:border-primary-400 bg-gray-100 dark:bg-gray-800">
										<div class="e-card-content">
											<div class="e-bigger">
												<SfRadioButton Label="$15 - DHL fast delivery" Name="delivery" TChecked="Boolean" aria-label="$15 - DHL fast delivery" role="radio"></SfRadioButton>
											</div>
											<div class="mt-1 ml-7 text-gray-500 dark:text-gray-400">Get it by tomorrow</div>
										</div>
									</div>
									<div class="e-card pt-4 pb-1 shadow-none border-transparent hover:border-primary-600 dark:hover:border-primary-400 bg-gray-100 dark:bg-gray-800">
										<div class="e-card-content">
											<div class="e-bigger">
												<SfRadioButton Label="Free delivery - FedEx" Name="delivery" Value="Free delivery - FedEx" Checked="@SelectedDeliveryMethod" aria-label="FedEx free delivery" role="radio"></SfRadioButton>
											</div>
											<div class="mt-1 ml-7 text-gray-500 dark:text-gray-400">Get it by Friday, 13 Dec 2023</div>
										</div>
									</div>
									<div class="e-card pt-4 pb-1 shadow-none border-transparent hover:border-primary-600 dark:hover:border-primary-400 bg-gray-100 dark:bg-gray-800">
										<div class="e-card-content">
											<div class="e-bigger">
												<SfRadioButton Label="$49 - Express delivery" Name="delivery" aria-label="$49 - express delivery" TChecked="Boolean" role="radio"></SfRadioButton>
											</div>
											<div class="mt-1 ml-7 text-gray-500 dark:text-gray-400">Get it today</div>
										</div>
									</div>
								</div>
							</div>
						</Content>
						<FooterTemplate>
							<div class="e-bigger sm:flex block mb-4 justify-end">
								<SfButton CssClass="md:mr-4 !ml-0 w-full lg:w-fit e-primary" Content="Proceed to checkout" Type="submit" aria-label="proceed to checkout" role="button"></SfButton>
								<SfButton CssClass="dark:text-white w-full !ml-0 lg:w-fit mt-4 md:mt-0 e-outline" Content="Continue shopping" Type="submit" aria-label="continue shopping" role="button"></SfButton>
							</div>
						</FooterTemplate>
					</DialogTemplates>
					<DialogEvents Opened="@(args => args.PreventFocus = true)"></DialogEvents>
				</div>
			</SfDialog>
		</div>
	</section>
	<!-- SB Code - Start -->
    <div class="top-0 flex w-full absolute">
        <SfButton CssClass="mx-auto my-5" OnClick="@(async () => { if (Dialog != null) await Dialog.ShowAsync(); })" Content="Shoping cart" Type="button" aria-label="shoping cart" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section>
		<div id="dialog-container" class="position-relative" style="min-height: 1340px !important;">
			<SfDialog @ref="Dialog" Target="#dialog-container" Visible="true" ShowCloseIcon="true" Width="662px" Height="100%" CloseOnEscape="true">
				<DialogTemplates>
					<Header>
						<span style="font-size: 18px;">My shopping cart</span>
					</Header>
					<Content>
						<div class="mx-md-2">
							<div class="border border-light-subtle bg-light-subtle rounded-3 p-2 mt-2">
								<div>
									<div class="d-flex flex-column gap-4">
										<div class="d-flex justify-content-between">
											<div class="fs-6 text-dark-emphasis">Subtotal</div>
											<div class="fs-6 fw-medium text-body">$8,900.00</div>
										</div>
										<div class="d-flex justify-content-between">
											<div class="fs-6 text-dark-emphasis">Savings</div>
											<div class="fs-6 fw-medium text-success">-$299.00</div>
										</div>
										<div class="d-flex justify-content-between">
											<div class="fs-6 text-dark-emphasis">Store pickup</div>
											<div class="fs-6 fw-medium text-body">$99.00</div>
										</div>
										<div class="d-flex justify-content-between">
											<div class="fs-6 text-dark-emphasis">Tax</div>
											<div class="fs-6 fw-medium text-body">$899.00</div>
										</div>
									</div>
									<div>
										<hr class="border-secondary" />
									</div>
									<div class="d-flex justify-content-between">
										<div class="fs-6 fw-medium text-dark-emphasis">Total</div>
										<div class="fs-6 fw-medium text-body">$9,599.00</div>
									</div>
								</div>
							</div>
							<form action="#" class="my-4" onsubmit="event.preventDefault();">
								<h2 class="fw-semibold fs-5 mb-3">Delivery details</h2>
								<div class="row g-3">
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">First name</label>
										<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="First name" FloatLabelType="FloatLabelType.Never" aria-label="enter the first name" role="textbox"></SfTextBox>
									</div>
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">Last name</label>
										<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="Last name" FloatLabelType="FloatLabelType.Never" aria-label="enter the last name" role="textbox"></SfTextBox>
									</div>
								</div>
								<div class="row g-3 mt-0">
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">Country</label>
										<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="Country" aria-label="choose a country" role="listbox"></SfDropDownList>
									</div>
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">City</label>
										<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="City" aria-label="choose a city" role="listbox"></SfDropDownList>
									</div>
								</div>
								<div class="row g-3 mt-0">
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">Phone number</label>
										<div class="row">
											<div class="col-4 px-2">
												<SfDropDownList CssClass="e-bigger" TValue="string" TItem="string" Placeholder="+1" aria-label="choose a country code" role="listbox"></SfDropDownList>
											</div>
											<div class="col-8 ps-0">
												<SfMaskedTextBox CssClass="e-bigger" Mask="9999999999" Placeholder="432 432 4321" PromptChar="' '" aria-label="enter your mobile number" role="textbox"></SfMaskedTextBox>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">Email</label>
										<SfTextBox CssClass="e-bigger" Type="InputType.Email" Placeholder="Email" FloatLabelType="FloatLabelType.Never" aria-label="enter the email address" role="textbox"></SfTextBox>
									</div>
								</div>
								<div class="row g-3 mt-0">
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">Company name</label>
										<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="Company name" FloatLabelType="FloatLabelType.Never" aria-label="enter the company name" role="textbox"></SfTextBox>
									</div>
									<div class="col-md-6">
										<label class="text-dark-emphasis fw-medium small mb-1">VAT number</label>
										<SfTextBox CssClass="e-bigger" Type="InputType.Text" Placeholder="VAT number" FloatLabelType="FloatLabelType.Never" aria-label="enter the VAT number" role="textbox"></SfTextBox>
									</div>
								</div>
							</form>
							<div>
								<h2 class="fw-medium fs-5 text-body mb-3">Payments</h2>
								<div class="row g-3">
									<div class="col-md-6">
										<div class="e-card h-100 bg-body-tertiary">
											<div class="e-card-content pb-2">
												<div class="e-bigger">
													<SfRadioButton Label="Credit card" Name="payment" TChecked="Boolean" aria-label="credit card" role="radio"></SfRadioButton>
												</div>
												<div class="text-dark-emphasis mt-1 ps-1 ms-4">Pay with your credit card</div>
											</div>
											<div class="e-card-actions">
												<SfButton CssClass="e-flat me-3" IconCss="e-icons e-trash" Content="Delete" Type="button" aria-label="delete" role="button"></SfButton>
												<SfButton CssClass="e-flat" IconCss="e-icons e-edit" Content="Edit" Type="button" aria-label="edit" role="button"></SfButton>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="e-card h-100 bg-body-tertiary">
											<div class="e-card-content pb-2">
												<div class="e-bigger">
													<SfRadioButton Label="Payment on delivery" Name="payment" Value="Payment on delivery" Checked="@SelectedPaymentMethod" aria-label="payment on delivery" role="radio"></SfRadioButton>
												</div>
												<div class="text-dark-emphasis mt-1 ms-4 ps-1">+ $12 payment processing fee</div>
											</div>
											<div class="e-card-actions">
												<SfButton CssClass="e-flat me-3" IconCss="e-icons e-trash" Content="Delete" Type="button" aria-label="delete" role="button"></SfButton>
												<SfButton CssClass="e-flat" IconCss="e-icons e-edit" Content="Edit" Type="button" aria-label="edit" role="button"></SfButton>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="e-card h-100 bg-body-tertiary">
											<div class="e-card-content pb-2">
												<div class="e-bigger">
													<SfRadioButton Label="PayPal account" Name="payment" TChecked="Boolean" aria-label="paypal account" role="radio"></SfRadioButton>
												</div>
												<div class="text-dark-emphasis mt-1 ms-4 ps-1">Connect to your account</div>
											</div>
											<div class="e-card-actions">
												<SfButton CssClass="e-flat me-3" IconCss="e-icons e-trash" Content="Delete" Type="button" aria-label="delete" role="button"></SfButton>
												<SfButton CssClass="e-flat" IconCss="e-icons e-edit" Content="Edit" Type="button" aria-label="edit" role="button"></SfButton>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mt-4 mb-2">
								<h2 class="fw-medium fs-5 text-body mb-3">Delivery methods</h2>
								<div class="row g-3">
									<div class="col-md-6">
										<div class="e-card h-100 bg-body-tertiary">
											<div class="e-card-content">
												<div class="e-bigger">
													<SfRadioButton Label="$15 - DHL fast delivery" Name="delivery" TChecked="Boolean" aria-label="$15 - DHL fast delivery" role="radio"></SfRadioButton>
												</div>
												<div class="text-dark-emphasis mt-1 ms-4 ps-1">Get it by tomorrow</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="e-card h-100 bg-body-tertiary">
											<div class="e-card-content">
												<div class="e-bigger">
												    <SfRadioButton Label="Free delivery - FedEx" Name="delivery" Value="Free delivery - FedEx" Checked="@SelectedDeliveryMethod" aria-label="FedEx free delivery" role="radio"></SfRadioButton>
												</div>
												<div class="text-dark-emphasis mt-1 ms-4 ps-1">Get it by Friday, 13 Dec 2023</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="e-card h-100 bg-body-tertiary">
											<div class="e-card-content">
												<div class="e-bigger">
												    <SfRadioButton Label="$49 - Express delivery" Name="delivery" TChecked="Boolean" aria-label="$49 - express delivery" role="radio"></SfRadioButton>
												</div>
												<div class="text-dark-emphasis mt-1 ms-4 ps-1">Get it today</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</Content>
					<FooterTemplate>
						<div class="e-bigger row justify-content-lg-center justify-content-xl-end flex-column flex-md-row px-2 text-right">
							<div class="col-12 col-md-6 col-xl-5 m-0 mb-3 mb-md-0">
								<SfButton CssClass="e-primary e-block m-0" Content="Proceed to checkout" Type="submit" aria-label="proceed to checkout" role="button"></SfButton>
							</div>
							<div class="col-12 col-md-6 col-xl-5 ps-md-1">
								<SfButton CssClass="e-secondary e-block m-0" Content="Continue shopping" Type="submit" aria-label="continue shopping" role="button"></SfButton>
							</div>
						</div>
					</FooterTemplate>
				</DialogTemplates>
				<DialogEvents Opened="@(args => args.PreventFocus = true)"></DialogEvents>
			</SfDialog>
		</div>
	</section>
	<!-- SB Code - Start -->
    <div class="position-absolute top-0 d-flex w-100">
        <SfButton CssClass="mx-auto my-3" OnClick="@(async () => { if (Dialog != null) await Dialog.ShowAsync(); })" Content="Shoping cart" Type="button" aria-label="shoping cart" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}