@page "/blocks/list-9"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div class="flex items-center justify-center min-h-screen">
			<div class="max-w-none lg:max-w-2xl w-full m-auto p-4 md:py-8 lg:px-14">
				<SfListView CssClass="!border-0 e-list-template" DataSource="@Data" aria-label="list of notifications" role="list">
					<ListViewFieldSettings Id="Id" Text="Title" TValue="Notification"></ListViewFieldSettings>
					<ListViewTemplates TValue="Notification">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line border-b border-gray-200 dark:border-gray-600 !py-4 !px-1 sm:!px-3">
									<div class="flex justify-between contents">
										<div class="flex">
											<span class="e-avatar e-avatar-large @(context.Tag == "financial" ? "bg-green-100 text-green-700 dark:text-green-500" : context.Tag == "remainder" ? "bg-orange-100 text-orange-700 dark:text-orange-500" : context.Tag == "maintenance" ? "bg-cyan-100 text-cyan-700 dark:text-cyan-600" : context.Tag == "shopping" ? "bg-indigo-100 text-indigo-700 dark:text-indigo-600" : "")">
												<span class="text-2xl @(context.Tag == "financial" ? "sf-icon-dollar" : context.Tag == "remainder" ? "sf-icon-clock-rewind" : context.Tag == "maintenance" ? "sf-icon-home-settings-03" : context.Tag == "shopping" ? "sf-icon-cart" : "")">
												</span>
											</span>
											<span class="ml-6 w-11/12">
												<div class="flex justify-between relative">
													<span class="e-list-item-header flex items-center !text-base !font-medium !text-wrap !line-clamp-2 w-3/5 sm:w-4/5 !truncate !text-gray-900 dark:!text-gray-200">@context.Title</span>
													<span class="text-gray-700 dark:text-gray-200 absolute right-0 top-0">@context.Time</span>
												</div>
												<span class="e-list-content !text-sm !text-gray-700 dark:!text-gray-200 !whitespace-normal !pt-2 !truncate w-full md:w-full !line-clamp-3">@context.Message</span>
											</span>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div class="d-flex align-items-center justify-content-center min-vh-100">
			<div class="container-lg w-100 m-auto p-3 p-md-4" style="@WidthStyle">
				<SfListView CssClass="border-0 e-list-template" DataSource="@Data" aria-label="list of notifications" role="list">
					<ListViewFieldSettings Id="Id" Text="Title" TValue="Notification"></ListViewFieldSettings>
					<ListViewTemplates TValue="Notification">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line py-3 px-1 px-sm-3">
									<div class="d-flex justify-content-between">
										<div class="d-flex w-100">
											<span class="e-avatar e-avatar-large flex-shrink-0 @(context.Tag == "financial" ? "bg-success-subtle text-success" : context.Tag == "remainder" ? "bg-warning-subtle text-warning" : context.Tag == "maintenance" ? "bg-info-subtle text-cyan" : context.Tag == "shopping" ? "bg-primary-subtle text-primary" : "")">
												<span class="fs-4 @(context.Tag == "financial" ? "sf-icon-dollar" : context.Tag == "remainder" ? "sf-icon-clock-rewind" : context.Tag == "maintenance" ? "sf-icon-home-settings-03" : context.Tag == "shopping" ? "sf-icon-cart" : "")"></span>
											</span>
											<span class="ms-4 w-100">
												<div class="d-flex justify-content-between position-relative">
													<span class="e-list-item-header text-wrap fs-6 fw-medium text-truncate col-8 col-sm-12" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-width: 170px; max-width: 350px;">
														@context.Title
													</span>
													<span class="position-absolute top-0 end-0">@context.Time</span>
												</div>
												<span class="e-list-content text-wrap pt-2 text-truncate w-100" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">@context.Message</span>
											</span>
										</div>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
