@page "/blocks/grid-9"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-gray-50 dark:bg-gray-950">
        <div class="mx-auto w-full py-12 sm:px-6 px-4">
            <div class="flex justify-end items-center mb-6">
                <SfButton CssClass="e-primary w-max" Content="Edit Permissions" IconCss="e-icons e-edit" IconPosition="IconPosition.Left" Type="button" aria-label="edit permissions" role="button"></SfButton>
            </div>            
            <SfGrid DataSource="@GridData" Width="100%" Height="1117" RowHeight="44" AllowGrouping="true" GridLines="GridLine.Both" role="grid">
                <GridGroupSettings ShowDropArea="false" Columns="@(new string[] { "Category" })">
                    <CaptionTemplate>
                        @{
                           var data = (context as CaptionTemplateContext)!;                           
                           <span class="font-semibold text-sm">@data.Key</span>
                        }
                    </CaptionTemplate>
                </GridGroupSettings>
                <GridColumns>
                    <GridColumn Field="Category" HeaderText="Category" Width="120"></GridColumn>
                    <GridColumn Field="PermissionName" HeaderText="Permission" TextAlign="TextAlign.Left" Width="230"></GridColumn>                    
                    <GridColumn Field="SystemAdmin" HeaderText="System Admin" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.SystemAdmin ? "e-check !text-green-700 dark:!text-green-500" : "e-close !text-red-700 dark:!text-red-400") text-xl"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="ItManager" HeaderText="IT Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.ItManager ? "e-check !text-green-700 dark:!text-green-500" : "e-close !text-red-700 dark:!text-red-400") text-xl"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="HrManager" HeaderText="HR Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.HrManager ? "e-check !text-green-700 dark:!text-green-500" : "e-close !text-red-700 dark:!text-red-400") text-xl"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="FinanceManager" HeaderText="Finance Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.FinanceManager ? "e-check !text-green-700 dark:!text-green-500" : "e-close !text-red-700 dark:!text-red-400") text-xl"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="SalesManager" HeaderText="Sales Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.SalesManager ? "e-check !text-green-700 dark:!text-green-500" : "e-close !text-red-700 dark:!text-red-400") text-xl"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="CustomerServiceRep" HeaderText="Customer Service Representative" Width="145" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.CustomerServiceRep ? "e-check !text-green-700 dark:!text-green-500" : "e-close !text-red-700 dark:!text-red-400") text-xl"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="GeneralEmployee" HeaderText="General Employee" Width="145" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.GeneralEmployee ? "e-check !text-green-700 dark:!text-green-500" : "e-close !text-red-700 dark:!text-red-400") text-xl"></span>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="py-5 px-3 px-sm-4 mx-auto">
            <div class="d-flex justify-content-end align-items-center mb-4">
                <SfButton CssClass="e-primary" Content="Edit Permissions" IconCss="e-icons e-edit" IconPosition="IconPosition.Left" Type="button" aria-label="edit permissions" role="button"></SfButton>
            </div>
            <SfGrid DataSource="@GridData" Width="100%" Height="1117" RowHeight="44" AllowGrouping="true" GridLines="GridLine.Both" role="grid">
                <GridGroupSettings ShowDropArea="false" Columns="@(new string[] { "Category" })">
                    <CaptionTemplate>
                        @{
                            var data = (context as CaptionTemplateContext)!;                           
                           <span class="fw-bold text-body">@data.Key</span>
                        }
                    </CaptionTemplate>
                </GridGroupSettings>                
                <GridColumns>
                    <GridColumn Field="Category" HeaderText="Category" Width="140"></GridColumn>
                    <GridColumn Field="PermissionName" HeaderText="Permission" TextAlign="TextAlign.Left" Width="220"></GridColumn>                    
                    <GridColumn Field="SystemAdmin" HeaderText="System Admin" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.SystemAdmin ? "e-check text-success fs-4" : "e-close text-danger fs-5")"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="ItManager" HeaderText="IT Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.ItManager ? "e-check text-success fs-4" : "e-close text-danger fs-5")"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="HrManager" HeaderText="HR Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.HrManager ? "e-check text-success fs-4" : "e-close text-danger fs-5")"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="FinanceManager" HeaderText="Finance Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.FinanceManager ? "e-check text-success fs-4" : "e-close text-danger fs-5")"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="SalesManager" HeaderText="Sales Manager" Width="140" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.SalesManager ? "e-check text-success fs-4" : "e-close text-danger fs-5")"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="CustomerServiceRep" HeaderText="Customer Service Representative" Width="165" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.CustomerServiceRep ? "e-check text-success fs-4" : "e-close text-danger fs-5")"></span>
                        </Template>
                    </GridColumn>                    
                    <GridColumn Field="GeneralEmployee" HeaderText="General Employee" Width="145" TextAlign="TextAlign.Center">
                        <Template>
                            @{
                                var data = (context as Permission)!;
                            }
                            <span class="e-icons @(data.GeneralEmployee ? "e-check text-success fs-4" : "e-close text-danger fs-5")"></span>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </section>
}