@page "/blocks/modals-10"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section>
        <div id="settings-container" class="relative" style="min-height: 665px;">
            <SfDialog @ref="Dialog" class="rounded-none sm:rounded-lg overflow-hidden sm:m-4" Target="#settings-container" IsModal="true" Width="788px" Height="565px" MinHeight="@DialogHeight" aria-label="manage my account" role="dialog">
                <DialogEvents OnOpen="@(args => args.MaxHeight = "100%")" Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                <DialogTemplates>
                    <Content>
                        <div class="flex h-full">
                            <div class="shrink-0 relative">
                                <SfSidebar @ref="Sidebar" class="!border-r !border-gray-200 dark:!border-gray-600 bg-gray-50 dark:bg-gray-700" Target="#sidebar-container" Width="256px" CloseOnDocumentClick="true" IsOpen="@IsSidebarOpen" EnableDock="@IsDockModeEnabled" ShowBackdrop="@IsBackdropVisible" Type="@SidebarDisplayType" OnClose="@(args => { if (!IsMobile) args.Cancel = true; })" role="complementary">
                                    <ChildContent>
                                        <div class="flex gap-3 items-center p-4">
                                            <span class="e-avatar e-avatar-circle bg-primary-600 text-white dark:text-black dark:bg-primary-400 shrink-0">MJ</span>
                                            <div>
                                                <p class="text-base font-semibold mb-0.5">Mark Johnson</p>
                                                <p class="text-xs leading-normal text-gray-700 dark:text-gray-200">markjohnson&#64;example.com</p>
                                            </div>
                                        </div>
                                        <SfListView TValue="ListItem" class="!border-0" CssClass="e-list-template" DataSource="@NavigationMenu" aria-label="main navigation list" role="list">
                                            <ListViewFieldSettings TValue="ListItem" Text="Field" IconCss="FontIcon" GroupBy="CategoryName"></ListViewFieldSettings>
                                            <ListViewTemplates TValue="ListItem">
                                                <GroupTemplate>
                                                    <p class="text-base text-gray-700 dark:text-gray-200 px-1 py-1.5">@context.Items[0].CategoryName</p>
                                                </GroupTemplate>
                                                <Template>
                                                    @{
                                                        <div class="e-list-wrapper e-list-multi-line flex gap-3 items-center !px-4 !py-3">
                                                            <span class="e-icons @context.FontIcon text-xl leading-none"></span>
                                                            <span class="text-base">@context.Field</span>
                                                        </div>
                                                    }
                                                </Template>
                                            </ListViewTemplates>
                                        </SfListView>
                                    </ChildContent>
                                </SfSidebar>
                            </div>
                            <div id="sidebar-container">
                                <div class="h-full">
                                    <div class="flex justify-between p-4 border-b dark:border-gray-600">
                                        <div class="flex gap-3">
                                            @if (IsMobile)
                                            {
                                                <SfButton CssClass="e-icons e-menu e-flat" OnClick="@(() => IsSidebarOpen = true)" Type="button" aria-label="expand menu" role="button"></SfButton>   
                                            }
                                            <h3 class="text-base font-semibold">My Account</h3>
                                        </div>
                                        <SfButton CssClass="e-flat e-small !leading-none" IconCss="e-icons e-close" OnClick="@(async () => { if (Dialog != null) await Dialog.HideAsync(); })" Type="button" aria-label="close" role="button"></SfButton>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex flex-col gap-1 mb-4 sm:mb-3">
                                            <label class="text-xs font-medium text-gray-700 dark:text-gray-200">Full Name <span class="text-red-600 font-normal dark:text-red-400">*</span></label>
                                            <div class="flex flex-col sm:flex-row gap-3 sm:gap-2">
                                                <SfTextBox CssClass="grow" Type="InputType.Text" Placeholder="Enter your full name" aria-label="enter your full name" role="textbox"></SfTextBox>
                                                <SfButton CssClass="w-fit" Content="Change" Type="button" Disabled="true" aria-label="change" role="button"></SfButton>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-1 mb-4">
                                            <label class="text-xs font-medium text-gray-700 dark:text-gray-200">Email <span class="text-red-600 font-normal dark:text-red-400">*</span></label>
                                            <div class="flex flex-col sm:flex-row gap-3 sm:gap-2">
                                                <SfTextBox CssClass="grow" Type="InputType.Email" Placeholder="Enter a valid email address" aria-label="enter a valid email address" role="textbox"></SfTextBox>
                                                <SfButton CssClass="w-fit" Content="Change" Type="button" Disabled="true" aria-label="change" role="button"></SfButton>
                                            </div>
                                        </div>
                                        <div class="flex justify-between gap-1 text-sm text-gray-700 dark:text-gray-200 border-t dark:border-gray-600 py-4">
                                            <div>
                                                <p class="font-semibold mb-1">Two Factor Authentication</p>
                                                <p>Enable or disable two-factor authentication</p>
                                            </div>
                                            <SfSwitch CssClass="w-10 shrink-0" Checked="false" aria-label="enable or disable two-factor authentication" role="switch"></SfSwitch>
                                        </div>
                                        <div class="border-t py-4 dark:border-gray-600">
                                            <p class="text-sm font-semibold text-gray-700 dark:text-gray-200 mb-1">Account Deletion</p>
                                            <SfMessage CssClass="border-0 bg-transparent p-0" ShowIcon="false">
                                                <p class="text-gray-700 dark:text-gray-200 mb-4 sm:mb-3"><span class="font-medium text-red-600 dark:text-red-400">Warning: </span> Deleting your account will permanently delete all your documents. This action can't be undone.</p>
                                                <SfButton CssClass="e-danger e-outline" Content="Delete Account" Type="button" aria-label="delete account" role="button"></SfButton>
                                            </SfMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </Content>
                </DialogTemplates>
            </SfDialog>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="top-0 left-0 absolute w-full flex">
        <SfButton CssClass="my-5 mx-auto" OnClick="@(async () => { if (Dialog != null) await Dialog.ShowAsync(); })" Content="Account Settings" Type="button" aria-label="account settings" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section>
        <div id="settings-container" class="position-relative" style="min-height: 665px;">
            <SfDialog @ref="Dialog" class="rounded-3 m-sm-2" Target="#settings-container" IsModal="true" Width="788px" Height="565px" MinHeight="@DialogHeight" aria-label="manage my account" role="dialog">
                <DialogEvents OnOpen="@(args => args.MaxHeight = "100%")" Opened="@(args => args.PreventFocus = true)"></DialogEvents>
                <DialogTemplates>
                    <Content>
                        <div class="d-flex h-100">
                            <div class="flex-shrink-0 position-relative">
                                <SfSidebar @ref="Sidebar" Target="#sidebar-container" Width="256px" CloseOnDocumentClick="true" IsOpen="@IsSidebarOpen" EnableDock="@IsDockModeEnabled" ShowBackdrop="@IsBackdropVisible" Type="@SidebarDisplayType" OnClose="@(args => { if (!IsMobile) args.Cancel = true; })" role="complementary">
                                    <ChildContent>
                                        <div class="d-flex gap-2 align-items-center p-3 pb-0">
                                            <span class="e-avatar e-avatar-circle bg-primary text-white fs-6 fw-normal">MJ</span>
                                            <div class="ms-1">
                                                <p class="fs-6 fw-medium mb-0 text-body">Mark Johnson</p>
                                                <p class="text-body-secondary mb-0">markjohnson&#64;example.com</p>
                                            </div>
                                        </div>
                                        <SfListView TValue="ListItem" class="border-0" CssClass="e-list-template" DataSource="@NavigationMenu" aria-label="main navigation list" role="list">
                                            <ListViewFieldSettings TValue="ListItem" Text="Field" IconCss="FontIcon" GroupBy="CategoryName"></ListViewFieldSettings>
                                            <ListViewTemplates TValue="ListItem">
                                                <GroupTemplate>
                                                    <p class="fw-normal text-body-secondary px-1 py-2 mb-0">@context.Items[0].CategoryName</p>
                                                </GroupTemplate>
                                                <Template>
                                                    @{
                                                        <div class="e-list-wrapper e-list-multi-line d-flex gap-2 align-items-center px-3 py-2">
                                                            <span class="e-icons @context.FontIcon fs-6"></span>
                                                            <span class="fw-normal fs-6 ms-1">@context.Field</span>
                                                        </div>
                                                    }
                                                </Template>
                                            </ListViewTemplates>
                                        </SfListView>
                                    </ChildContent>
                                </SfSidebar>
                            </div>
                            <div id="sidebar-container" class="flex-grow-1">
                                <div class="h-100">
                                    <div class="d-flex justify-content-between p-3 border-bottom">
                                        <div class="d-flex gap-3">
                                            @if (IsMobile)
                                            {
                                                <SfButton CssClass="e-icons e-menu e-flat" OnClick="@(() => IsSidebarOpen = true)" Type="button" aria-label="expand menu" role="button"></SfButton>
                                            }
                                            <h3 class="fs-6 fw-bold mb-0 text-body">My Account</h3>
                                        </div>
                                        <SfButton CssClass="e-flat e-small" IconCss="e-icons e-close" OnClick="@(async () => { if (Dialog != null) await Dialog.HideAsync(); })" Type="button" aria-label="close" role="button"></SfButton>
                                    </div>
                                    <div class="p-3">
                                        <div class="d-flex flex-column gap-1 mb-2">
                                            <label class="small text-body-secondary">Full Name <span class="text-danger">*</span></label>
                                            <div class="d-flex flex-column flex-sm-row align-items-start gap-2">
                                                <SfTextBox CssClass="w-100" Type="InputType.Text" Placeholder="Enter your full name" aria-label="enter your full name" role="textbox"></SfTextBox>
                                                <SfButton CssClass="mt-1 mt-sm-0 ms-sm-1 ms-md-0" Content="Change" Type="button" Disabled="true" aria-label="change" role="button"></SfButton>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column gap-1 mb-3 pt-2 pt-sm-1">
                                            <label class="small text-body-secondary">Email <span class="text-danger">*</span></label>
                                            <div class="d-flex flex-column flex-sm-row align-items-start gap-2">
                                                <SfTextBox CssClass="w-100" Type="InputType.Email" Placeholder="Enter a valid email address" aria-label="enter a valid email address" role="textbox"></SfTextBox>
                                                <SfButton CssClass="mt-1 mt-sm-0 ms-sm-1 ms-md-0" Content="Change" Type="button" Disabled="true" aria-label="change" role="button"></SfButton>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-sm-center text-body-secondary border-top py-3">
                                            <div>
                                                <p class="fw-bold mb-1">Two Factor Authentication</p>
                                                <p class="mb-0">Enable or disable two-factor authentication</p>
                                            </div>
                                            <SfSwitch Checked="false" aria-label="enable or disable two-factor authentication" role="switch"></SfSwitch>
                                        </div>
                                        <div class="border-top py-3">
                                            <p class="fw-bold text-body-secondary mb-1">Account Deletion</p>
                                            <SfMessage CssClass="border-0 bg-transparent p-0" ShowIcon="false">
                                                <p class="text-body-secondary mb-2"><span class="fw-medium text-danger">Warning: </span> Deleting your account will permanently delete all your documents. This action can't be undone.</p>
                                                <SfButton CssClass="e-danger e-outline mt-2 mt-sm-1" Content="Delete Account" Type="button" aria-label="delete account" role="button"></SfButton>
                                            </SfMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </Content>
                </DialogTemplates>
            </SfDialog>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="position-absolute top-0 start-0 d-flex w-100">
        <SfButton CssClass="e-outline mx-auto my-3" OnClick="@(async () => { if (Dialog != null) await Dialog.ShowAsync(); })" Content="Account Settings" Type="button" aria-label="account settings" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}