@page "/blocks/tile-view-5"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div id="job-details">
			<SfAppBar CssClass="shadow-none px-0 py-3 h-auto" style="min-height: 78px;">
				<div class="flex flex-wrap gap-x-4 gap-y-3 px-6 xl:px-10">
					<SfDropDownButton CssClass="e-primary" Content="All jobs" Type="button" aria-label="choose job options" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton Content="Any time" Type="button" aria-label="choose time" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton Content="Any experience" Type="button" aria-label="choose experience" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton Content="Any company" Type="button" aria-label="choose company" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton Content="Any location" Type="button" aria-label="choose location" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
				</div>
			</SfAppBar>
			<div class="border-t border-gray-200 dark:border-gray-600">
				<div class="flex flex-col py-6 px-4 sm:px-6 xl:px-10">
					<div class="flex justify-between mb-6 dark:text-gray-50">
						<p class="text-xl font-semibold">250 jobs found</p>
						<div class="flex items-center gap-2 text-sm">
							<SfSwitch CssClass="w-9" Checked="true" aria-label="remote only" role="switch"></SfSwitch>
							<span>Remote Only</span>
						</div>
					</div>
					<div class="e-input-group mb-6">
						<span class="e-input-group-icon e-icons e-search"></span>
						<input class="e-input !pl-0" Type="text" placeholder="Search Jobs" aria-label="search jobs" role="textbox" />
					</div>
					<SfListView CssClass="!border-0 mb-2 e-list-template" DataSource="@JobDetails" aria-label="list of job with details" role="list">
						<ListViewFieldSettings Id="JobId" Text="Title" TValue="JobDetail"></ListViewFieldSettings>
						<ListViewTemplates TValue="JobDetail">
							<Template>
								@{
									<div class="e-card flex-col gap-4 p-4 rounded-2xl sm:pr-5 sm:p-6 sm:flex-row">
										<span class="e-avatar e-avatar-xlarge e-avatar-circle shrink-0 bg-transparent">
											<img src="assets/images/tile-view/job-site/@context.Logo" alt="company logo" />
										</span>
										<div class="e-card-stacked grow space-y-3 px-1">
											<div class="e-card-header !flex-col gap-2 !p-0">
												<div class="e-card-header-title">
													<p class="text-base font-medium text-wrap sm:w-11/12 text-gray-900 dark:text-gray-50">@context.Title</p>
												</div>
												<div class="e-card-sub-title text-nowrap !flex items-center gap-1.5">
													<p class="border-e text-sm text-gray-500 pr-3 dark:border-gray-600 dark:text-gray-400 text-truncate">@context.Company</p>
													<div class="flex items-center gap-1">
														<SfButton CssClass="e-flat e-small !text-yellow-300" IconCss="e-icons e-star-filled" Type="button" aria-label="favorite" role="button"></SfButton>
														<span class="text-xs text-gray-700 dark:text-gray-200">@context.Reviews reviews</span>
													</div>
												</div>
											</div>
											<div class="e-card-content flex flex-wrap gap-3 !px-0 !pb-1 text-gray-700 dark:text-gray-200">
												<span class="flex items-center gap-1"><span class="sf-icon-laptop text-sm mx-2 text-gray-500 dark:text-gray-300"></span>@context.Experience</span>
												<div class="border-e dark:border-gray-600 my-1"></div>
												<span class="flex items-center gap-1"><span class="sf-icon-dollar text-base mx-2 text-gray-500 dark:text-gray-300"></span>@context.Salary</span>
												<div class="border-e dark:border-gray-600 my-1"></div>
												<span class="flex items-center gap-1"><span class="e-icons e-location mx-2 text-gray-500 dark:text-gray-300"></span>@context.Location</span>
											</div>
											<div class="e-card-actions !px-0 !pb-1 !flex flex-col gap-6 sm:flex-row">
												<div class="flex items-center flex-wrap gap-x-3 gap-y-2 text-sm text-gray-500 dark:text-gray-400">
													<p class="border-e pr-2 dark:border-gray-600">Posted: @context.Posted</p>
													<p class="border-e pr-2 dark:border-gray-600">Openings: 1</p>
													<p>Applicants: @context.Applicants</p>
												</div>
												<SfButton CssClass="e-primary ml-auto w-full sm:w-fit" Content="Apply" Type="button" aria-label="apply" role="button"></SfButton>
											</div>
										</div>
										<SfButton CssClass="e-flat e-round absolute top-6 right-4 sm:right-6" IconCss="e-icons e-bookmark" Type="button" aria-label="bookmark" role="button"></SfButton>
									</div>
								}
							</Template>
						</ListViewTemplates>
					</SfListView>
					<SfButton CssClass="mx-auto !px-11" Content="Load More Jobs" Type="button" aria-label="load more jobs" role="button"></SfButton>
				</div>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body-tertiary">
		<div id="job-details">
			<SfAppBar CssClass="px-0 py-3 h-auto" style="min-height: 78px;">
				<div class="d-flex flex-wrap gap-3 px-3 px-sm-4 px-xl-5">
					<SfDropDownButton CssClass="e-primary" Content="All jobs" Type="button" aria-label="choose job options" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton CssClass="e-outline" Content="Any time" Type="button" aria-label="choose time" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton CssClass="e-outline" Content="Any experience" Type="button" aria-label="choose experience" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton CssClass="e-outline" Content="Any company" Type="button" aria-label="choose company" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
					<SfDropDownButton CssClass="e-outline" Content="Any location" Type="button" aria-label="choose location" role="button">
						<DropDownButtonEvents OnOpen="@(args => args.Cancel = true)"></DropDownButtonEvents>
					</SfDropDownButton>
				</div>
			</SfAppBar>
			<div class="border-top border-light-subtle">
				<div class="d-flex flex-column px-3 py-4 px-sm-4 px-xl-5">
					<div class="d-flex justify-content-between text-body mb-4">
						<h5 class="fw-bold mb-0">250 jobs found</h5>
						<div class="d-flex align-items-center gap-2">
							<SfSwitch CssClass="bs-switch" Checked="true" aria-label="remote only" role="switch"></SfSwitch>
							<span>Remote Only</span>
						</div>
					</div>
					<div class="e-input-group mb-4">
						<span class="e-input-group-icon e-icons e-search border-0"></span>
						<input class="e-input" Type="text" placeholder="Search Jobs" aria-label="search jobs" role="textbox" />
					</div>
					<SfListView CssClass="border-0 mb-1 e-list-template" DataSource="@JobDetails" aria-label="list of job with details" role="list">
						<ListViewFieldSettings Id="JobId" Text="Title" TValue="JobDetail"></ListViewFieldSettings>
						<ListViewTemplates TValue="JobDetail">
							<Template>
								@{
									<div class="e-card d-flex flex-column gap-3 flex-md-row rounded-4 p-3 ps-4">
										<span class="e-avatar e-avatar-xlarge e-avatar-circle flex-shrink-0 bg-transparent">
											<img src="assets/images/tile-view/job-site/@context.Logo" alt="company logo" />
										</span>
										<div class="e-card-stacked flex-grow-1 pe-1 py-1">
											<div class="e-card-header flex-column mb-2 p-0">
												<div class="e-card-header-title pt-1">
													<h6 class="lh-base text-body mb-sm-1">@context.Title</h6>
												</div>
												<div class="e-card-sub-title d-flex align-items-center gap-2 mb-1">
													<p class="border-end text-body-secondary pe-3 mb-0 border-light-subtle text-truncate">@context.Company</p>
													<div class="d-flex align-items-center gap-1 ms-1">
														<SfButton CssClass="e-flat text-warning" IconCss="e-icons e-star-filled" Type="button" aria-label="favorite" role="button"></SfButton>
														<span class="small text-body-secondary mb-0 text-nowrap">@context.Reviews reviews</span>
													</div>
												</div>
											</div>
											<div class="e-card-content p-0 d-flex flex-wrap gap-2 mb-3 text-body-secondary">
												<span class="d-flex align-items-center gap-1"><span class="sf-icon-laptop fs-6 mx-1"></span>@context.Experience</span>
												<div class="border-end border-light-subtle m-1"></div>
												<span class="d-flex align-items-center gap-1"><span class="sf-icon-dollar fs-6 mx-1"></span>@context.Salary</span>
												<div class="border-end border-light-subtle m-1"></div>
												<span class="d-flex align-items-center gap-1"><span class="e-icons e-location mx-1"></span>@context.Location</span>
											</div>
											<div class="e-card-actions d-flex flex-column gap-3 justify-content-between flex-sm-row lh-sm p-1 ps-0 text-body-secondary">
												<div class="d-flex align-items-center flex-wrap gap-2 lh-base">
													<p class="border-end pe-2 mb-0">Posted: @context.Posted</p>
													<p class="border-end pe-2 mb-0">Openings: @context.Openings</p>
													<p class="mb-0">Applicants: @context.Applicants</p>
												</div>
												<SfButton CssClass="e-primary col-12 col-sm-auto" Content="Apply" Type="button" aria-label="apply" role="button"></SfButton>
											</div>
										</div>
										<SfButton CssClass="e-flat e-round position-absolute" IconCss="e-icons e-bookmark" Type="button" aria-label="bookmark" role="button" style="right: 24px; top: 24px;"></SfButton>
									</div>
								}
							</Template>
						</ListViewTemplates>
					</SfListView>
					<SfButton CssClass="e-outline mx-auto px-5" Content="Load More Jobs" Type="button" aria-label="load more jobs" role="button"></SfButton>
				</div>
			</div>
		</div>
	</section>
}
