@page "/blocks/list-2"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@inject IJSRuntime JSRuntime

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-white dark:bg-gray-900">
		<div id="inbox-list" class="flex items-center justify-center min-h-screen">
			<div class="lg:max-w-2xl w-full m-auto p-4 md:p-6 lg:py-8 lg:px-14">
				<SfListView CssClass="!border-0 e-list-template" DataSource="@Notifications" aria-label="list of e-mail conversations" role="list">
					<ListViewFieldSettings Id="Id" Text="Name" TValue="NotificationItem"></ListViewFieldSettings>
					<ListViewTemplates TValue="NotificationItem">
						<Template>
							@{
								<div class="e-list-wrapper flex items-start !px-1 sm:!px-3">
									<span class="flex items-center gap-4">
										<SfCheckBox TChecked="Boolean" CssClass="e-bigger hidden sm:block" aria-label="select e-mail from inbox" role="checkbox"></SfCheckBox>
										<span class="hidden sm:block">
											<a href="javascript:void(0);" class="flex items-center sf-icon-star-filled-01 text-base e-medium text-gray-400" onclick="this.classList.toggle('!text-orange-400');"></a>
										</span>
										<span class="e-avatar e-avatar-small e-avatar-circle">
											<img src="assets/images/common/avatar/@context.Avatar" alt="profile picture" />
										</span>
									</span>
									<div class="ml-3 flex flex-col w-11/12">
										<div class="flex justify-between items-center mb-1">
											<span class="e-list-item-header text-base @(context.Read ? "text-gray-700 dark:text-gray-200" : "font-semibold text-gray-900 dark:text-white")">@context.Name</span>
											<span class="text-xs @(context.Read ? "text-gray-700 dark:text-gray-200" : "font-semibold text-gray-900 dark:text-white")">@context.Time</span>
										</div>
										<span class="!text-sm !text-wrap !line-clamp-1 w-full truncate @(context.Read ? "text-gray-700 dark:text-gray-200" : "font-medium text-gray-900 dark:text-white")">@context.Content</span>
										<span class="!text-sm !text-gray-700 dark:!text-gray-200 !whitespace-normal !mt-0.5 !truncate w-full !line-clamp-1">@context.SubContent</span>
									</div>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div id="inbox-list" class="d-flex align-items-center justify-content-center min-vh-100">
			<div class="container-lg w-100 m-auto p-3 p-md-4" style="@WidthStyle">
				<SfListView CssClass="border-0 e-list-template" DataSource="@Notifications" aria-label="list of e-mail conversations" role="list">
					<ListViewFieldSettings Id="Id" Text="Name" TValue="NotificationItem"></ListViewFieldSettings>
					<ListViewTemplates TValue="NotificationItem">
						<Template>
							@{
								<div class="e-list-wrapper e-list-multi-line d-flex align-items-start px-1 px-sm-3 py-2 w-100">
									<span class="d-flex align-items-center gap-3">
										<SfCheckBox TChecked="Boolean" CssClass="e-bigger d-none d-sm-inline-block" aria-label="select e-mail from inbox" role="checkbox"></SfCheckBox>
										<span class="d-none d-sm-inline-block">
											<a href="javascript:void(0);" class="text-secondary text-decoration-none d-flex align-items-center sf-icon-star-filled-01 fs-6" onclick="this.classList.toggle('text-warning');"></a>
										</span>
										<span class="e-avatar e-avatar-small e-avatar-circle">
											<img src="assets/images/common/avatar/@context.Avatar" alt="profile picture" />
										</span>
									</span>
									<span class="ms-2 ps-1 flex-grow-1 w-75">
										<div class="d-flex justify-content-between align-items-center mb-1">
											<span class="e-list-item-header fs-6 @(context.Read ? "" : "fw-bold")">@context.Name</span>
											<span class="small @(context.Read ? "" : "fw-medium")">@context.Time</span>
										</div>
										<div class="text-truncate" style="max-width: 580px;">
											<div class="text-truncate" style="min-width: 100px; max-width: 580px;">
												<span class="mb-0 @(context.Read ? "" : "fw-medium")">@context.Content</span>
											</div>
											<span class="mt-1 text-truncate col-4 col-sm-12">@context.SubContent</span>
										</div>
									</span>
								</div>
							}
						</Template>
					</ListViewTemplates>
				</SfListView>
			</div>
		</div>
	</section>
}
