@page "/blocks/returns-1"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
	<section class="bg-gray-50 dark:bg-gray-950">
		<div class="max-w-4xl mx-auto px-4 py-6 sm:px-6 lg:px-5 sm:pt-20">
			<p class="text-lg font-medium sm:mb-6 mb-5 text-gray-900 dark:text-white">Product Return Request</p>
			<div class="sm:mb-8 mb-5" style="@StepperStyle">
				<SfStepper @ref="Stepper" Orientation="@StepperOrientation" LabelPosition="@LabelPos">
					<StepperSteps>
						<StepperStep IconCss="e-icons e-circle-check" Label="My Products"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Return Reason"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Pickup Option"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Refund Choice"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Confirmation"></StepperStep>
					</StepperSteps>
				</SfStepper>
			</div>
			<div>
				<p class="mb-4 text-gray-900 font-medium dark:text-white">Select the product you want to return:</p>
				<div class="mb-6">
					<SfGrid DataSource="@Data" Width="100%" RowHeight="60" GridLines="GridLine.None" class="e-bigger" AllowTextWrap="true" role="grid">
						<GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>
						<GridColumns>
							<GridColumn Type="Syncfusion.Blazor.Grids.ColumnType.CheckBox" Width="40"></GridColumn>
							<GridColumn Field="Product" HeaderText="Product" width="488">
								<Template>
									@{
										var product = (context as ProductData)?.Product;
										<div class="flex items-center">
											<div class="e-avatar e-avatar-small mr-6 shrink-0">
												<img src="assets/images/return-block/return-form/@(product?.ProductImage).png" alt="@product?.ProductName?.ToLower()" />
											</div>
											<p class="text-base text-gray-900 dark:text-white line-clamp-2">@product?.ProductName</p>
										</div>
									}
								</Template>
							</GridColumn>
							<GridColumn Field="OrderNumber" HeaderText="Order Number" Width="150"></GridColumn>
							<GridColumn Field="ReturnTerm" HeaderText="Return Term" Width="150" Format="dd/MM/yyyy"></GridColumn>
						</GridColumns>
					</SfGrid>
				</div>
				<div class="flex justify-end lg:gap-3 gap-4">
					<SfButton CssClass="grow sm:grow-0" Type="button" aria-label="cancel" role="button">Cancel</SfButton>
					<SfButton IsPrimary="true" CssClass="grow sm:grow-0" Type="button" aria-label="next" role="button">Next</SfButton>
				</div>
			</div>
		</div>
	</section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
	<section class="bg-body">
		<div class="container-lg py-4 px-3 px-sm-4" style="max-width: 896px;">
			<p class="h5 fw-bold mb-3 mb-sm-4 text-body">Product Return Request</p>
			<div class="mb-4" style="@StepperStyle">
				<SfStepper @ref="Stepper" Orientation="@StepperOrientation" LabelPosition="@LabelPos">
					<StepperSteps>
						<StepperStep IconCss="e-icons e-circle-check" Label="My Products"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Return Reason"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Pickup Option"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Refund Choice"></StepperStep>
						<StepperStep IconCss="e-icons e-circle-check" Label="Confirmation"></StepperStep>
					</StepperSteps>
				</SfStepper>
			</div>
			<div>
				<p class="h6 mb-4 fw-bold text-body">Select the product you want to return:</p>
				<div class="mb-4">
					<SfGrid DataSource="@Data" Width="100%" RowHeight="60" GridLines="GridLine.None" class="e-bigger" AllowTextWrap="true" role="grid">
						<GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>
						<GridColumns>
							<GridColumn Type="Syncfusion.Blazor.Grids.ColumnType.CheckBox" Width="40"></GridColumn>
							<GridColumn Field="Product" HeaderText="Product" Width="438">
								<Template>
									@{
										var product = (context as ProductData)?.Product;
										<div class="d-flex align-items-center">
											<div class="e-avatar e-avatar-small flex-shrink-0 rounded-1 me-4">
												<img src="assets/images/return-block/return-form/@(product?.ProductImage).png" alt="@product?.ProductName?.ToLower()" />
											</div>
											<p class="fs-6 mb-0 lh-base text-body">@product?.ProductName</p>
										</div>
									}
								</Template>
							</GridColumn>
							<GridColumn Field="OrderNumber" HeaderText="Order Number" Width="155"></GridColumn>
							<GridColumn Field="ReturnTerm" HeaderText="Return Term" Width="155" Format="dd/MM/yyyy"></GridColumn>
						</GridColumns>
					</SfGrid>
				</div>
				<div class="d-flex justify-content-end gap-1">
					<SfButton CssClass="e-outline flex-grow-1 flex-sm-grow-0 me-2" Type="button" aria-label="cancel" role="button">Cancel</SfButton>
					<SfButton IsPrimary="true" CssClass="flex-grow-1 flex-sm-grow-0" Type="button" aria-label="next" role="button">Next</SfButton>
				</div>
			</div>
		</div>
	</section>
}

