@page "/blocks/Sidebar-11"
@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-950">
        <div style="height: 600px;">
            <SfSidebar class="bg-gray-50 dark:bg-gray-900 !border-l !border-gray-200 dark:!border-gray-700" Position="SidebarPosition.Right" Width="256px" IsOpen="@IsSidebarOpen" ShowBackdrop="@IsBackdropVisible" Type="SidebarType.Push" aria-label="main navigation menu" role="complementary">
                <div class="py-6 h-screen">
                    <div class="flex justify-between mb-2 px-3">
                        <span class="text-base text-gray-900 dark:text-white">Contacts</span>
                        <span class="flex justify-end">
                            <SfButton CssClass="e-medium e-icons e-view-side e-flat mr-2" Type="button" aria-label="view side" role="button"></SfButton>
                            <SfButton CssClass="e-medium e-icons e-search e-flat mr-2" Type="button" aria-label="search" role="button"></SfButton>
                            <SfButton CssClass="e-medium e-icons e-more-horizontal-1 e-flat" Type="button" aria-label="more options" role="button"></SfButton>
                        </span>
                    </div>
                    <SfListView class="border-0" DataSource="@Data" aria-label="main contacts" role="list">
                        <ListViewFieldSettings TValue="MenuItem"></ListViewFieldSettings>
                        <ListViewTemplates TValue="MenuItem">
                            <Template>
                                <div class="e-list-wrapper flex items-center">
                                    <span class="flex items-center">
                                        <span class="e-avatar e-avatar-xsmall e-avatar-circle">
                                            <img src="assets/images/common/avatar/@context.ProfileImage" alt="profile picture" />
                                        </span>
                                        <span class="text-base text-gray-700 dark:text-gray-300 ml-3">@context.Name</span>
                                    </span>
                                </div>
                            </Template>
                        </ListViewTemplates>
                    </SfListView>
                    <hr class="border-gray-200 dark:border-gray-700 my-4 mx-3" />
                    <div class="flex justify-between items-center px-3 mt-3">
                        <span class="text-base text-gray-700 dark:text-gray-300">Group Conversations</span>
                        <SfButton CssClass="e-medium e-icons e-plus e-flat" Type="button" aria-label="add group conversations" role="button"></SfButton>
                    </div>
                </div>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-3 top-0 right-0 absolute">
        <SfButton CssClass="e-round e-large e-icons e-chevron-left" OnClick="@(() => IsSidebarOpen = !IsSidebarOpen)" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div style="height: 600px;">
            <SfSidebar Width="256px" IsOpen="@IsSidebarOpen" ShowBackdrop="@IsBackdropVisible" Type="SidebarType.Push" Position="SidebarPosition.Right" aria-label="main navigation menu" role="complementary">
                <div class="py-4 vh-100">
                    <div class="d-flex justify-content-between mb-2 px-2 ms-1">
                        <span class="fs-6 text-body-secondary">Contacts</span>
                        <span class="d-flex justify-content-end">
                            <SfButton class="e-medium e-icons e-view-side e-flat" Type="button" aria-label="view side" role="button"></SfButton>
                            <SfButton class="e-medium e-icons e-search e-flat ms-2" Type="button" aria-label="search" role="button"></SfButton>
                            <SfButton class="e-medium e-icons e-more-horizontal-1 e-flat ms-2" Type="button" aria-label="more options" role="button"></SfButton>
                        </span>
                    </div>
                    <SfListView class="border-0 e-bigger" DataSource="@Data" aria-label="main contacts" role="list">
                        <ListViewFieldSettings TValue="MenuItem"></ListViewFieldSettings>
                        <ListViewTemplates TValue="MenuItem">
                            <Template>
                                <div class="e-list-wrapper d-flex justify-content-between align-items-center">
                                    <span class="d-flex align-items-center">
                                        <span class="e-avatar e-avatar-xsmall e-avatar-circle">
                                            <img src="assets/images/common/avatar/@context.ProfileImage" alt="profile picture" />
                                        </span>
                                        <span class="fs-6 fw-normal ps-2 ms-1">@context.Name</span>
                                    </span>
                                </div>
                            </Template>
                        </ListViewTemplates>
                    </SfListView>
                    <hr class="mx-3 border-light-subtle opacity-100" />
                    <div class="d-flex justify-content-between align-items-center mt-3 px-2 ms-1">
                        <span class="fs-6 text-body-secondary">Group Conversations</span>
                        <SfButton class="e-medium e-icons e-plus e-flat" Type="button" aria-label="add group conversations" role="button"></SfButton>
                    </div>
                </div>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="py-3 px-1 position-absolute top-0 end-0">
        <SfButton CssClass="e-round e-large e-icons e-chevron-left" OnClick="@(() => IsSidebarOpen = !IsSidebarOpen)" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}