@page "/blocks/distribution-chart-3"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900">
        <div class="h-screen flex justify-center p-4 sm:p-6">
            <div class="w-full" style="max-width: 530px;">
                <div class="flex justify-between items-center mb-2.5">
                    <h2 class="text-base font-medium text-gray-900 dark:text-white">Stock Performance Overview</h2>
                    <SfButton class="e-flat" IconCss="e-icons e-more-vertical-1" Type="button" aria-label="more options" role="button"></SfButton>
                </div>
                <div class="hidden sm:block">
                    <SfButtonGroup class="e-btn-group">
                        <input Type="radio" id="week" name="align" value="week" checked aria-label="week" role="button" />
                        <label class="e-btn" for="week">Week</label>
                        <input Type="radio" id="month" name="align" value="Month" aria-label="month" role="button" />
                        <label class="e-btn" for="month">Month</label>
                        <input Type="radio" id="year" name="align" value="Year" aria-label="year" role="button" />
                        <label class="e-btn" for="year">Year</label>
                        <input Type="radio" id="custom" name="align" value="Custom" aria-label="custom" role="button" />
                        <label class="e-btn" for="custom">Custom</label>
                    </SfButtonGroup>
                </div>
                    <SfDropDownButton @ref="DropDownButton" CssClass="block sm:hidden mt-4 mb-1" Content="Week" Type="button" aria-label="choose a range" role="button">
                        <DropDownButtonEvents Opened="@(args => IsDropdownOpen = true)" Closed="@(args => IsDropdownOpen = false)"></DropDownButtonEvents>
                        <DropDownMenuItems>
                            <DropDownMenuItem Text="Week"></DropDownMenuItem>
                            <DropDownMenuItem Text="Month"></DropDownMenuItem>
                            <DropDownMenuItem Text="Year"></DropDownMenuItem>
                            <DropDownMenuItem Text="Custom"></DropDownMenuItem>
                        </DropDownMenuItems>
                    </SfDropDownButton>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                    <div class="relative">
                        <SfAccumulationChart @ref="Chart" Width="100%" Height="@Height" EnableBorderOnMouseMove="false" Theme="@(CurrentTheme == "tailwind-dark" ? Theme.Tailwind3Dark : Theme.Tailwind3)">
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource='@DoughnutChartData' XName='XAxis' YName='YAxis' InnerRadius="75%" Palettes="@(new[] { "#5A61F6", "#DE4383", "#01A8B5", "#FFB900" })">
                                    <AccumulationChartSeriesBorder Width="6" Color="@(CurrentTheme == "tailwind-dark" ? "#111827" : "White")"></AccumulationChartSeriesBorder>
                                </AccumulationChartSeries>
                                <AccumulationChartLegendSettings Visible="false">
                                </AccumulationChartLegendSettings>
                            </AccumulationChartSeriesCollection>
                            <AccumulationChartAnnotations>
                                <AccumulationChartAnnotation Region="Regions.Series" X="50%" Y="50%">
                                    <ContentTemplate>
                                        <div class="flex flex-col text-center">
                                            <div class="text-sm text-gray-700 dark:text-gray-300">Share Holder</div>
                                            <span class="text-lg text-gray-900 dark:text-white font-semibold">50%</span>
                                            <div class="flex justify-center items-center gap-1"><span class="h-2 w-2 rounded-full" style="background: #5A61F6"></span><div class="text-sm text-gray-700 dark:text-gray-300">Promotor</div></div>
                                        </div>
                                    </ContentTemplate>
                                </AccumulationChartAnnotation>
                            </AccumulationChartAnnotations>
                        </SfAccumulationChart>
                    </div>
                    <div class="flex flex-col justify-center text-sm text-gray-500 dark:text-gray-400">
                        <div class="flex justify-between py-2 border-b border-gray-200 dark:border-gray-600"><span>Previous Close</span><span class="font-medium">$17,112.00</span></div>
                        <div class="flex justify-between py-2 border-b border-gray-200 dark:border-gray-600"><span>%Change</span><span class="text-green-700 dark:text-green-500 font-medium">+26%</span></div>
                        <div class="flex justify-between py-2 border-b border-gray-200 dark:border-gray-600"><span>Market Cap</span><span class="font-medium">$28 M USD</span></div>
                        <div class="flex justify-between py-2"><span>PE Ratio</span><span class="font-medium">14.28%</span></div>
                        <div class="flex gap-2 mt-3">
                            <SfButton class="e-outline !w-full" Content="Sell Stock" Type="button" aria-label="sell stock" role="button"></SfButton>
                            <SfButton class="e-primary !w-full" Content="Buy Stock" Type="button" aria-label="buy stock" role="button"></SfButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="vh-100 d-flex justify-content-center p-4 p-sm-6">
            <div class="w-100" style="max-width: 530px;">
                <div class="d-flex justify-content-between align-items-center mb-2.5">
                    <h2 class="fs-6 fw-medium">Stock Performance Overview</h2>
                    <SfButton class="e-flat" IconCss="e-icons e-more-vertical-1" Type="button" aria-label="more options" role="button"></SfButton>
                </div>
                <div class="d-none d-sm-block">
                    <SfButtonGroup class="e-btn-group">
                        <input Type="radio" id="week" name="align" value="week" checked aria-label="week" role="button" />
                        <label class="e-btn" for="week">Week</label>
                        <input Type="radio" id="month" name="align" value="Month" aria-label="month" role="button" />
                        <label class="e-btn" for="month">Month</label>
                        <input Type="radio" id="year" name="align" value="Year" aria-label="year" role="button" />
                        <label class="e-btn" for="year">Year</label>
                        <input Type="radio" id="custom" name="align" value="Custom" aria-label="custom" role="button" />
                        <label class="e-btn" for="custom">Custom</label>
                    </SfButtonGroup>
                </div>
                <SfDropDownButton @ref="DropDownButton" CssClass="d-block d-sm-none mt-2 mb-1 e-outline" Content="Week" Type="button" aria-label="choose a range" role="button">
                    <DropDownButtonEvents Opened="@(args => IsDropdownOpen = true)" Closed="@(args => IsDropdownOpen = false)"></DropDownButtonEvents>
                    <DropDownMenuItems>
                        <DropDownMenuItem Text="Week"></DropDownMenuItem>
                        <DropDownMenuItem Text="Month"></DropDownMenuItem>
                        <DropDownMenuItem Text="Year"></DropDownMenuItem>
                        <DropDownMenuItem Text="Custom"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
                <div class="row g-2">
                    <div class="position-relative col-12 col-sm-6">
                        <SfAccumulationChart @ref="Chart" Width="100%" Height="@Height" EnableBorderOnMouseMove="false" Theme="@(CurrentTheme == "bootstrap5.3-dark" ? Theme.Bootstrap5Dark : Theme.Bootstrap5)">
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource='@DoughnutChartData' XName='XAxis' YName='YAxis' InnerRadius="75%" Radius="80%" Palettes="@(new[] { "#006EEF", "#EF00AC", "#00EFA7", "#FF9900" })">
                                    <AccumulationChartSeriesBorder Width="6" Color="@(CurrentTheme == "bootstrap5.3-dark" ? "#212529" : "White")"></AccumulationChartSeriesBorder>
                                </AccumulationChartSeries>
                                <AccumulationChartLegendSettings Visible="false">
                                </AccumulationChartLegendSettings>
                            </AccumulationChartSeriesCollection>
                            <AccumulationChartAnnotations>
                                <AccumulationChartAnnotation Region="Regions.Series" X="50%" Y="50%">
                                    <ContentTemplate>
                                        <div class="d-flex flex-column align-text-center">
                                            <div class="fs-6 text-body-secondary">Share Holder</div>
                                            <h5 class="fw-semibold ps-4 mb-0">50%</h5>
                                            <div class="d-flex justify-content-center align-items-center gap-1"><span class="rounded-pill" style="background: #006EEF; height: 8px; width: 8px;"></span><div class="fs-6 text-body-secondary">Promotor</div></div>
                                        </div>
                                    </ContentTemplate>
                                </AccumulationChartAnnotation>
                            </AccumulationChartAnnotations>
                        </SfAccumulationChart>
                    </div>
                    <div class="d-flex flex-column justify-content-center small col-12 col-sm-6 text-body-secondary mt-1">
                        <div class="d-flex justify-content-between py-2 border-bottom"><span>Previous Close</span><span class="fw-medium">$17,112.00</span></div>
                        <div class="d-flex justify-content-between py-2 border-bottom"><span>%Change</span><span class="text-success fw-medium">+26%</span></div>
                        <div class="d-flex justify-content-between py-2 border-bottom"><span>Market Cap</span><span class="fw-medium">$28 M USD</span></div>
                        <div class="d-flex justify-content-between py-2"><span>PE Ratio</span><span class="fw-medium">14.28%</span></div>
                        <div class="d-flex gap-2 justify-content-between mt-3">
                            <SfButton class="e-outline w-100" Content="Sell Stock" Type="button" aria-label="sell stock" role="button"></SfButton>
                            <SfButton class="e-primary w-100" Content="Buy Stock" Type="button" aria-label="buy stock" role="button"></SfButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
