@page "/blocks/filter-panel-4"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-800">
        <div style="height: 780px; width: @Width; float: right;">
            <SfSidebar class="flex flex-col bg-white dark:bg-gray-800" Width="@Width" Position="SidebarPosition.Right" Type="SidebarType.Push" IsOpen="@IsSidebarOpen" CloseOnDocumentClick="false" ShowBackdrop="true" role="complementary">
                <ChildContent>
                    <div class="flex justify-between w-full border-b border-gray-200 dark:border-gray-600">
                        <div class="w-4/5">
                            <SfTab>
                                <TabItems>
                                    <TabItem>
                                        <HeaderTemplate>
                                            <div class="flex items-center justify-center">
                                                <span class="e-icons text-base e-print-layout"></span>
                                                <span class="ml-2 font-semibold">Details</span>
                                            </div>
                                        </HeaderTemplate>
                                    </TabItem>
                                    <TabItem>
                                        <HeaderTemplate>
                                            <div class="flex items-center justify-center">
                                                <span class="e-icons text-base e-grid-view"></span>
                                                <span class="ml-2 font-semibold">Apps</span>
                                            </div>
                                        </HeaderTemplate>
                                    </TabItem>
                                </TabItems>
                            </SfTab>
                        </div>
                        <div class="w-1/5 px-1 border-l border-gray-200 dark:border-gray-600 flex justify-center items-center">
                            <a class="e-icons e-chevron-right-double text-xl text-gray-500 dark:text-white cursor-pointer"></a>
                        </div>
                    </div>
                    <div>
                        <SfAccordion class="border-0 border-b bg-transparent e-bigger" ExpandMode="ExpandMode.Multiple" role="accordion">
                            <AccordionItems>
                                <AccordionItem Expanded="true">
                                    <HeaderTemplate>
                                        <div class="text-sm font-medium text-gray-900 dark:text-white">Requester Details</div>
                                    </HeaderTemplate>
                                    <ContentTemplate>
                                        <div class="flex items-center space-x-2 p-1">
                                            <div>
                                                <span class="e-avatar e-avatar-medium e-avatar-circle bg-primary-600 dark:bg-primary-400 text-sm text-white dark:text-black">MG</span>
                                            </div>
                                            <div>
                                                <h2 class="text-sm font-medium text-gray-900 dark:text-white">Michael Green</h2>
                                                <a class="text-xs font-normal text-gray-500 dark:text-gray-400" href="mailto:michael.green@example.com">michael.green&#64;example.com</a>
                                            </div>
                                        </div>
                                    </ContentTemplate>
                                </AccordionItem>
                            </AccordionItems>
                        </SfAccordion>
                        <SfAccordion class="border-0 bg-transparent" ExpandMode="ExpandMode.Multiple" role="accordion">
                            <AccordionItems>
                                <AccordionItem Expanded="true">
                                    <HeaderTemplate>
                                        <div class="text-sm font-medium text-gray-900 dark:text-white">Ticket Properties</div>
                                    </HeaderTemplate>
                                    <ContentTemplate>
                                        <div class="grid grid-cols-1 gap-4 w-full px-1 pb-1">
                                            <div class="w-1/2">
                                                <label class="block my-1 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                                                <SfDropDownList TValue="string" TItem="string" DataSource="@Status" Placeholder="Open" aria-label="choose a status" role="listbox"></SfDropDownList>
                                            </div>
                                            <div>
                                                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Assignee</label>
                                                <SfDropDownList TValue="string" TItem="string" DataSource="@Assignee" Placeholder="Select assignee" aria-label="choose an assignee" role="listbox"></SfDropDownList>
                                            </div>
                                            <div>
                                                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Response Due</label>
                                                <SfDatePicker TValue="DateTime?" CssClass="shadow-none" Placeholder="MM/DD/YYYY" aria-label="select a due date" role="combobox"></SfDatePicker>
                                            </div>
                                            <div>
                                                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Resolution Due</label>
                                                <SfDatePicker TValue="DateTime?" CssClass="shadow-none" Placeholder="MM/DD/YYYY" aria-label="select a due date" role="combobox"></SfDatePicker>
                                            </div>
                                            <div>
                                                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Tags</label>
                                                <SfDropDownList TValue="string" TItem="string" DataSource="@Tags" Placeholder="Enter tags" aria-label="choose a tags" role="listbox"></SfDropDownList>
                                            </div>
                                        </div>
                                    </ContentTemplate>
                                </AccordionItem>
                            </AccordionItems>
                        </SfAccordion>
                    </div>
                </ChildContent>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-3 absolute top-0 right-0">
        <SfButton CssClass="e-large e-icons e-chevron-left e-round" OnClick="@ToggleSidebar" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div style="height: 780px; width: @Width; float: right;">
            <SfSidebar class="d-flex flex-column bg-body" Width="@Width" Position="SidebarPosition.Right" Type="SidebarType.Push" IsOpen="@IsSidebarOpen" CloseOnDocumentClick="false" ShowBackdrop="true" role="complementary">
                <ChildContent>
                    <div class="d-flex justify-content-between pt-2 w-100">
                        <div class="w-100">
                            <SfTab>
                                <TabItems>
                                    <TabItem>
                                        <HeaderTemplate>
                                            <div class="d-flex align-items-center justify-content-center">
                                                <span class="e-icons text-base e-print-layout"></span>
                                                <span class="ms-2 fw-semibold">Details</span>
                                            </div>
                                        </HeaderTemplate>
                                    </TabItem>
                                    <TabItem>
                                        <HeaderTemplate>
                                            <div class="d-flex align-items-center justify-content-center">
                                                <span class="e-icons text-base e-grid-view"></span>
                                                <span class="ms-2 fw-semibold">Apps</span>
                                            </div>
                                        </HeaderTemplate>
                                    </TabItem>
                                </TabItems>
                            </SfTab>
                        </div>
                        <div class="w-10 px-2 border-bottom border-subtle d-flex justify-content-center align-items-center">
                            <a class="e-icons e-chevron-right-double fs-6 text-decoration-none text-secondary"></a>
                        </div>
                    </div>
                    <div>
                        <SfAccordion class="border-0 border-bottom bg-transparent e-bigger" ExpandMode="ExpandMode.Multiple" role="accordion">
                            <AccordionItems>
                                <AccordionItem Expanded="true">
                                    <HeaderTemplate>
                                        <div class="fw-medium fs-6 text-body">Requester Details</div>
                                    </HeaderTemplate>
                                    <ContentTemplate>
                                        <div class="d-flex align-items-center gap-2">
                                            <div>
                                                <span class="e-avatar e-avatar-medium e-avatar-circle bg-primary text-white">MG</span>
                                            </div>
                                            <div>
                                                <h2 class="fw-medium fs-6 text-body">Michael Green</h2>
                                                <a class="text-xs fw-normal text-secondary" href="mailto:michael.green@example.com">michael.green&#64;example.com</a>
                                            </div>
                                        </div>
                                    </ContentTemplate>
                                </AccordionItem>
                            </AccordionItems>
                        </SfAccordion>
                        <SfAccordion class="border-0 bg-transparent" ExpandMode="ExpandMode.Multiple" role="accordion">
                            <AccordionItems>
                                <AccordionItem Expanded="true">
                                    <HeaderTemplate>
                                        <div class="fw-medium fs-6 text-body">Ticket Properties</div>
                                    </HeaderTemplate>
                                    <ContentTemplate>
                                        <div class="row m-0 g-3 pb-1">
                                            <div class="col-6 px-1">
                                                <label class="mb-1 fw-medium fs-6 text-body">Status</label>
                                                <SfDropDownList TValue="string" TItem="string" DataSource="@Status" Placeholder="Open" aria-label="choose a status" role="listbox"></SfDropDownList>
                                            </div>
                                            <div class="col-12 px-1">
                                                <label class="mb-1 fw-medium fs-6 text-body">Assignee</label>
                                                <SfDropDownList TValue="string" TItem="string" DataSource="@Assignee" Placeholder="Select assignee" aria-label="choose an assignee" role="listbox"></SfDropDownList>
                                            </div>
                                            <div class="col-12 px-1">
                                                <label class="mb-1 fw-medium fs-6 text-body">Response Due</label>
                                                <SfDatePicker TValue="DateTime?" CssClass="shadow-none" Placeholder="MM/DD/YYYY" aria-label="select a due date" role="combobox"></SfDatePicker>
                                            </div>
                                            <div class="col-12 px-1">
                                                <label class="mb-1 fw-medium fs-6 text-body">Resolution Due</label>
                                                <SfDatePicker TValue="DateTime?" CssClass="shadow-none" Placeholder="MM/DD/YYYY" aria-label="select a due date" role="combobox"></SfDatePicker>
                                            </div>
                                            <div class="col-12 px-1">
                                                <label class="mb-1 fw-medium fs-6 text-body">Tags</label>
                                                <SfDropDownList TValue="string" TItem="string" DataSource="@Tags" Placeholder="Enter tags" aria-label="choose a tags" role="listbox"></SfDropDownList>
                                            </div>
                                        </div>
                                    </ContentTemplate>
                                </AccordionItem>
                            </AccordionItems>
                        </SfAccordion>
                    </div>
                </ChildContent>
            </SfSidebar>
        </div>
    </section>
    <!-- SB Code - Start -->
    <div class="p-3 position-absolute top-0 end-0">
        <SfButton CssClass="e-large e-icons e-chevron-left e-round" OnClick="@ToggleSidebar" Type="button" aria-label="expand menu" role="button"></SfButton>
    </div>
    <!-- SB Code - End -->
}